Repository OSGeo/gdal, pull requests merged in 2021-04, with the labels that each got.

#3639 gdaltindex manual: explain file based list usage
  gdal/doc/source/programs/gdaltindex.rst
Labels: documentation

#3660 GPKG: take into account OGR_CURRENT_DATE config option in gpkg_metadata_reference table (fixes #3537)
  gdal/ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  gdal/ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  gdal/ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.2

#3666 added: actinia entry
  gdal/doc/source/software_using_gdal.rst
Labels: documentation

#3702 stacta manual: new tiled-assets URL
  gdal/doc/source/drivers/raster/stacta.rst
Labels: documentation

#3751 type hints fix and variable init
  gdal/swig/python/gdal-utils/osgeo_utils/auxiliary/color_table.py
  gdal/swig/python/gdal-utils/osgeo_utils/gdalattachpct.py
Labels: backport release/3.3

#3754 `gdal-utils` version: add `gdal_utils_version` and bump `__version__`; fix typo
  gdal/swig/python/gdal-utils/osgeo_utils/__init__.py
  gdal/swig/python/gdal-utils/setup.py
Labels: backport release/3.3

#3758 gdal_contour: fix bad coordinate order when outputing from raster with geographic CRS to KML driver (fixes #3757)
  gdal/apps/gdal_contour.cpp
Labels: backport release/3.3

#3764 HDF5 multidim: fix crash when extracting a field from a compound HDF5 data type
  autotest/gdrivers/hdf5multidim.py
  gdal/frmts/hdf5/hdf5multidim.cpp
Labels: backport release/3.3
