Repository OSGeo/gdal, pull requests merged in 2021-10, with the labels that each got.

#4578 /vsicurl/: fix CPL_VSIL_CURL_USE_HEAD=FALSE mode that was broken since #4502 (not in release) as it caused full file download
  gdal/port/cpl_vsil_curl.cpp
  gdal/port/cpl_vsil_curl_class.h
Labels: backport release/3.3

#4584 Tolerate "degrees_E"/"degrees_N" as valid axis names
  gdal/doc/source/drivers/raster/netcdf.rst
  gdal/frmts/netcdf/netcdf_cf_constants.h
  gdal/frmts/netcdf/netcdfdataset.h
Labels: backport release/3.3

#4588 GTiff: remove obsolete libtiff 3.x detection
  gdal/frmts/gtiff/geotiff.cpp
Labels: lint

#4595 GTiff: do not try to export a DerivedGeographic CRS to GeoTIFF, but fallback to PAM
  autotest/gcore/tiff_srs.py
  gdal/frmts/gtiff/geotiff.cpp
Labels: backport release/3.3

#4602 fix mrf 'make clean' when lercv1 not defined
  gdal/frmts/mrf/GNUmakefile
Labels: backport release/3.3

#4743 Embeded python fixes
  gcore/gdalpython.cpp
  gcore/gdalpython.h
Labels: backport release/3.4
