Repository OSGeo/gdal, pull requests merged in 2022-05, with the labels that each got.

#5671 GDAL-GRASS driver docs: simplify and point to external source
  doc/source/drivers/raster/grass.rst
  doc/source/drivers/vector/grass.rst
Labels: documentation

#5683 CMake: fix build of NITF driver if rebuilding after disabling JPEG driver
  frmts/nitf/CMakeLists.txt
Labels: backport release/3.5

#5684 port/cpl_recode_iconv.cpp: fix invalid cast error
  port/cpl_recode_iconv.cpp
Labels: backport release/3.5

#5688 PNG: report cause when unable to create file
  frmts/png/pngdataset.cpp
Labels: backport release/3.5

#5687 netCDF: add support for writing/reading geolocation array without a grid_mapping variable
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.5

#5696 Zarr: hide X/Y subdatasets of a single 2D georeferenced array when opening with 2D raster API (fixes #5681)
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarrdriver.cpp
Labels: backport release/3.5

#5702 ESAT: Fix a case of freeing memory in use.
  frmts/envisat/EnvisatFile.c
Labels: backport release/3.5

#5710 KEA: add 64bit image types
  frmts/kea/keadataset.cpp
Labels: backport release/3.5

#5712 OGRFeatureDefn::GetFieldDefnUnsafe(): fix -Wsign-conversion
  ogr/ogr_feature.h
Labels: backport release/3.5

#5722 Fix issue #5721
  .github/workflows/ubuntu_20.04.yml
  ci/travis/ubuntu_1804/script.sh
Labels: backport release/3.5

#5737 VFK: add support for UTF-8 (quick fix)
  ogr/ogrsf_frmts/vfk/vfkpropertydefn.cpp
  ogr/ogrsf_frmts/vfk/vfkreader.cpp
Labels: OGR_SF, backport release/3.5

#5740 FlatGeoBuf: fix crash when calling CreateFeature() on a dataset opened in read-only mode (fixes #5739)
  autotest/ogr/ogr_flatgeobuf.py
  ogr/ogrsf_frmts/flatgeobuf/ogr_flatgeobuf.h
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobufdataset.cpp
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobufeditablelayer.cpp
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
Labels: backport release/3.5

#5730 GPKG: speed-up GetFeature() by keeping a prepared statement
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.5

#5744 CMake: fix build without PNG and JPEG (fixes #5741, fixes #5742)
  .github/workflows/cmake_builds.yml
  frmts/grib/CMakeLists.txt
  frmts/gtiff/CMakeLists.txt
  frmts/gtiff/libtiff/CMakeLists.txt
  frmts/mrf/CMakeLists.txt
  frmts/mrf/GNUmakefile
  frmts/mrf/makefile.vc
  frmts/mrf/marfa.h
  frmts/mrf/marfa_dataset.cpp
  frmts/mrf/mrf_util.cpp
  frmts/pcidsk/CMakeLists.txt
  frmts/pcidsk/sdk/CMakeLists.txt
Labels: backport release/3.5

#5748 OpenFileGDB: correctly deduce CRS from feature dataset definition, in case of inconsistence (fixes #5747)
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000001.TablesByName.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000001.freelist
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000001.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000001.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000001.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000002.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000002.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000003.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000003.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000003.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.CatItemsByPhysicalName.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.CatItemsByType.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.FDO_UUID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.freelist
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000004.spx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.CatItemTypesByName.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.CatItemTypesByParentTypeID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.CatItemTypesByUUID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000005.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.CatRelsByDestinationID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.CatRelsByOriginID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.CatRelsByType.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.FDO_UUID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.freelist
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000006.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByBackwardLabel.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByForwardLabel.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByName.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.CatRelTypesByUUID.atx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a00000007.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a0000000b.freelist
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a0000000b.gdbindexes
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a0000000b.gdbtable
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a0000000b.gdbtablx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/a0000000b.spx
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/gdb
  autotest/ogr/data/filegdb/inconsistent_crs_feature_dataset_and_feature_table.gdb/timestamps
  autotest/ogr/ogr_fgdb.py
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/ogr_openfilegdb.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
Labels: backport release/3.5

#5735 Parquet: use statistics to speed-up evaluations of SQL requests with MIN/MAX/COUNT
  autotest/ogr/ogr_parquet.py
  doc/source/drivers/vector/parquet.rst
  ogr/ogrsf_frmts/arrow/ogr_feather.h
  ogr/ogrsf_frmts/arrow_common/ogr_arrow.h
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
  ogr/ogrsf_frmts/arrow_common/ograrrowwriterlayer.hpp
  ogr/ogrsf_frmts/parquet/CMakeLists.txt
  ogr/ogrsf_frmts/parquet/ogr_include_parquet.h
  ogr/ogrsf_frmts/parquet/ogr_parquet.h
  ogr/ogrsf_frmts/parquet/ogrparquetdataset.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
Labels: backport release/3.5

#5758 LVBAG: scan only .xml files when passed a directory
  ogr/ogrsf_frmts/lvbag/ogrlvbagdriver.cpp
Labels: backport release/3.5

#5762 Arrow/Parquet: fix CLang warnings
  ogr/ogrsf_frmts/arrow/ogrfeatherlayer.cpp
  ogr/ogrsf_frmts/arrow/ogrfeatherwriterlayer.cpp
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
  ogr/ogrsf_frmts/arrow_common/ograrrowrandomaccessfile.h
  ogr/ogrsf_frmts/arrow_common/ograrrowwriterlayer.hpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
Labels: backport release/3.5

#5764 OSM: no longer limit to 32768 keys (fixes #5733)
  autotest/ogr/ogr_osm.py
  ogr/ogrsf_frmts/osm/ogr_osm.h
  ogr/ogrsf_frmts/osm/ogrosmdatasource.cpp
Labels: backport release/3.5

#5767 /vsis3/: GetSignedURL(): renew temporary credentials if they expire before the expiration of the signed URL
  autotest/gcore/vsis3.py
  autotest/pymod/webserver.py
  port/cpl_aws.cpp
  port/cpl_aws.h
  port/cpl_azure.cpp
Labels: backport release/3.5

#5725 gcore/mdreader/reader_pleiades.cpp : read FIRST_COL for RPC (fixes #5716)
  autotest/gdrivers/jp2metadata.py
  gcore/mdreader/reader_pleiades.cpp
Labels: backport release/3.5

#5774 Parquet: make sure 'geo' metadata is embedded in ARROW:schema so that…
  ogr/ogrsf_frmts/parquet/ogr_parquet.h
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
Labels: backport release/3.5

#5781 CMake: add missing source file cpl_vsil_plugin.cpp (fixes #5780)
  autotest/cpp/test_cpl.cpp
  port/CMakeLists.txt
Labels: backport release/3.5

#5784 /vsis3/: take into account session token in GetSignedURL()
  autotest/gcore/vsis3.py
  port/cpl_aws.cpp
Labels: backport release/3.5

#5791 NITF: fix issues with PAM serialization (fixes #5790)
  autotest/gdrivers/nitf.py
  frmts/nitf/nitfdataset.cpp
  gcore/gdalpamdataset.cpp
Labels: backport release/3.5

#5797 gdalinfo: avoid outputing too many digits for nodata value (fixes #5794)
  apps/gdalinfo_lib.cpp
  autotest/utilities/test_gdalinfo_lib.py
Labels: backport release/3.5

#5800 FileGDB: support field/table names with non-ASCII characters (fixes #4112, fixes #5792)
  autotest/ogr/ogr_fgdb.py
  ogr/ogrsf_frmts/filegdb/FGdbLayer.cpp
  ogr/ogrsf_frmts/filegdb/FGdbUtils.cpp
  ogr/ogrsf_frmts/filegdb/FGdbUtils.h
Labels: backport release/3.5

#5803 Fix 'not enough points' error reported by the FileGDB/OpenFileGDB drivers on certain Bézier segments (#5802)
  ogr/ogrpgeogeometry.cpp
Labels: backport release/3.5

#5804 RMF: Fix FlushCache with NoData block
  autotest/gdrivers/rmf.py
  frmts/rmf/rmfdataset.cpp
Labels: backport release/3.5

#5807 CI: fix builds with upstreal librasterlite2 that requires libfcgi
  .github/workflows/ubuntu_18.04/before_install.sh
  .github/workflows/ubuntu_18.04/install.sh
  .github/workflows/ubuntu_18.04_32bit/start.sh
Labels: backport release/3.5

#5814 RMF: fix potential heap-buffer-overflow in RMFDataset::WriteHeader.
  frmts/rmf/rmfdataset.cpp
  frmts/rmf/rmfdataset.h
Labels: backport release/3.5

#5810 CMake: build iso8211 library conditionnaly to drivers requiring it, …
  .github/workflows/cmake_builds.yml
  frmts/CMakeLists.txt
  frmts/iso8211/CMakeLists.txt
  gdal.cmake
Labels: backport release/3.5

#5793 GPKG: writer: fix corruption when only a subset of all bands of a tile is flushed
  autotest/gdrivers/gpkg.py
  ogr/ogrsf_frmts/gpkg/gdalgeopackagerasterband.cpp
  ogr/ogrsf_frmts/gpkg/gpkgmbtilescommon.h
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
Labels: backport release/3.5

#5817 gdal_calc: detect dataset creation failed
  swig/python/gdal-utils/osgeo_utils/gdal_calc.py
Labels: backport release/3.5

#5818 MSGN: fix crash and do other changes to read HRV band (fixes #1040)
  frmts/msgn/msg_basic_types.cpp
  frmts/msgn/msg_basic_types.h
  frmts/msgn/msg_reader_core.cpp
  frmts/msgn/msg_reader_core.h
  frmts/msgn/msgndataset.cpp
Labels: backport release/3.5

#5821 WMTS: add <Accept> and <ExtraQueryParameters> in local XML file to please difficult servers (fixes #5729)
  doc/source/drivers/raster/wmts.rst
  frmts/wmts/wmtsdataset.cpp
Labels: backport release/3.5

#5812 SAFE: for non-SLC products, do not report subdatasets that can't be opened
  frmts/safe/safedataset.cpp
Labels: backport release/3.5
