Repository OSGeo/gdal, pull requests merged in 2022-06, with the labels that each got.

#5829 Arrow: fix extension name key in field metadata
  autotest/ogr/ogr_arrow.py
  ogr/ogrsf_frmts/arrow_common/ograrrowwriterlayer.hpp
Labels: backport release/3.5

#5837 Arrow: fix reading geometry columns whose type is registered as an Arrow extension (fixes #5834)
  autotest/ogr/ogr_arrow.py
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
Labels: backport release/3.5

#5842 FileGDB: avoid crash when reading layer with AliasName with XML special characters
  autotest/ogr/ogr_fgdb.py
  gcore/gdaldataset.cpp
  ogr/ogrsf_frmts/filegdb/FGdbLayer.cpp
Labels: backport release/3.5

#5838 Windows: command line applications: embed manifest to declare longPathAware=true property (fixes #5836)
  apps/CMakeLists.txt
  apps/longpathaware.manifest
Labels: backport release/3.5

#5832 GeoLoc inverse: increase search radius to avoid holes in results (fixes #5823)
  alg/gdalgeoloc.cpp
Labels: backport release/3.5

#5850 CMake builds: Python bindings: add numpy to extras_require option of …
  .github/workflows/cmake_builds.yml
  swig/python/setup.py.in
Labels: backport release/3.5

#5851 CMake builds: Python bindings: make it possible to release patch versions (refs #5844)
  swig/python/CMakeLists.txt
  swig/python/setup.py.in
Labels: backport release/3.5

#5856 NITF: Use correct index for image segment (fixes #5855)
  frmts/nitf/nitfdataset.cpp
Labels: backport release/3.5

#5859 OpenFileGDB: fix use of indexes on strings when the searched value is…
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000001.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000001.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000002.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000002.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000003.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000003.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000004.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000004.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000005.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000005.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000006.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000006.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000007.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000007.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000009.gdbindexes
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000009.gdbtable
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000009.gdbtablx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/a00000009.idx_test_str.atx
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/gdb
  autotest/ogr/data/filegdb/test_str_indexed_truncated.gdb/timestamps
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/filegdbindex.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdbtable.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
Labels: backport release/3.5

#5860 FileGDB: add MSCALE, MORIGIN and MTOLERANCE layer creation option (fixes #5858)
  doc/source/drivers/vector/filegdb.rst
  ogr/ogrsf_frmts/filegdb/FGdbDriver.cpp
  ogr/ogrsf_frmts/filegdb/FGdbLayer.cpp
Labels: backport release/3.5

#5863 OpenFileGDB: take LIMIT and OFFSET into account in 'SELECT ... FROM ORDER BY ... LIMIT ... OFFSET ...' where the ORDER BY column has an index
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource.cpp
Labels: backport release/3.5

#5865 COSAR: fix reading the last sample of each line (fixes #5622)
  frmts/cosar/cosar_dataset.cpp
Labels: backport release/3.5

#5872 Avoid issues with PROJJSON with id in members of datum ensemble
  autotest/ogr/ogr_parquet.py
  autotest/osr/osr_proj4.py
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
  ogr/ogrspatialreference.cpp
Labels: backport release/3.5

#5868 GPKG: optimize feature reading, in particular DateTime fields
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagelayer.cpp
Labels: backport release/3.5

#5878 NITF: CreateCopy(): allow to specify ICORDS and IGEOLO ...
  autotest/gdrivers/nitf.py
  doc/source/drivers/raster/nitf.rst
  frmts/nitf/nitfdataset.cpp
Labels: backport release/3.5

#5879 ODS: fix reading multi-line strings (fixes #5877)
  autotest/ogr/data/ods/multiple_text_p_elements.ods
  autotest/ogr/ogr_ods.py
  ogr/ogrsf_frmts/ods/ogr_ods.h
  ogr/ogrsf_frmts/ods/ogrodsdatasource.cpp
Labels: backport release/3.5

#5889 Resolve compilation errors in HANA driver
  ogr/ogrsf_frmts/hana/ogr_hana.h
  ogr/ogrsf_frmts/hana/ogrhanalayer.cpp
Labels: backport release/3.5

#5897 GTiff: fix reading a CompoundCRS of a LocalCS/EngineeringCS, and avoid warnings on writing (fixes #5890)
  autotest/gcore/tiff_srs.py
  autotest/osr/osr_basic.py
  frmts/gtiff/gt_wkt_srs.cpp
  ogr/ogrspatialreference.cpp
  swig/include/osr.i
  swig/python/extensions/osr_wrap.cpp
Labels: backport release/3.5

#5909 Fix missing header file in ogrhanatablelayer.cpp
  ogr/ogrsf_frmts/hana/ogrhanatablelayer.cpp
Labels: backport release/3.5

#5898 Doc: document how to use GDAL with CMake configuration file
  doc/source/build_hints.rst
  doc/source/development/cmake.rst
  doc/source/development/index.rst
Labels: documentation

#5913 OGR_SM_InitStyleString(): make it work with a @style_name argument (fixes #5555)
  autotest/cpp/test_ogr.cpp
  ogr/ogrfeaturestyle.cpp
Labels: backport release/3.5

#5918 Fix build related to rasterio_ssse3 on x32 architecture (fixes #5917)
  gcore/rasterio.cpp
  gcore/rasterio_ssse3.cpp
  gcore/rasterio_ssse3.h
Labels: backport release/3.5

#5701 Add version suffix to DLL when compiling for MinGW target
  autotest/postinstall/test_pkg-config.sh
  cmake/helpers/GdalVersion.cmake
  gdal.cmake
Labels: backport release/3.5

#5924 WFS: make <PagingAllowed> and <PageSize> elements work in WFS XML configuration file
  ogr/ogrsf_frmts/wfs/ogr_wfs.h
  ogr/ogrsf_frmts/wfs/ogrwfsdatasource.cpp
  ogr/ogrsf_frmts/wfs/ogrwfslayer.cpp
Labels: backport release/3.5

#5926 MRF: When zstd is missing disable zstd, not deflate
  frmts/mrf/mrf_band.cpp
Labels: backport release/3.5

#5936 CI: fix CMake Homebrew build issue with libxml2 (fixes #5934)
  .github/workflows/cmake_builds.yml
  gcore/gdaljp2metadatagenerator.cpp
Labels: backport release/3.5

#5937 OSR autotest related fixes
  autotest/osr/osr_ct_proj.py
  ogr/ogr_proj_p.cpp
Labels: backport release/3.5

#5941 Expose -DBUILD_WITHOUT_64BIT_OFFSET
  port/CMakeLists.txt
Labels: backport release/3.5

#5942 CI: use a Personal Access Token for backport bot
  .github/workflows/backport.yml
Labels: backport release/3.5

#5944 Be less sensitive on warnings at configure time
  cmake/helpers/CheckDependentLibraries.cmake
Labels: backport release/3.5

#5948 Dummy change to test backport bot
  README.md
Labels: backport release/3.5

#5956 Misc fixes found when building with latest Intel Compiler
  autotest/alg/warp.py
  autotest/gcore/gdal_stats.py
  autotest/gcore/geoloc.py
  autotest/gdrivers/mbtiles.py
  autotest/gdrivers/vrtpansharpen.py
  autotest/ogr/ogr_geom.py
  autotest/ogr/ogr_sql_sqlite.py
  frmts/CMakeLists.txt
  frmts/daas/daasdataset.cpp
  gdal.cmake
  ogr/ogr_srs_pci.cpp
  ogr/ogrsf_frmts/CMakeLists.txt
  ogr/ogrsf_frmts/openfilegdb/filegdbindex.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitesqlfunctions.cpp
  port/cpl_json.cpp
Labels: backport release/3.5

#5960 Fix loss of split/merge policy when cloning field domains
  autotest/cpp/test_ogr.cpp
  ogr/ogr_feature.h
  ogr/ogrfielddefn.cpp
Labels: backport release/3.5

#5962 CPLDebug: Variadic functions can't use __stdcall calling convention.
  port/cpl_error.h
Labels: backport release/3.5

#5963 cpl_config.h: Don't use __stdcall on MinGW
  cmake/template/cpl_config.h.in
Labels: backport release/3.5

#5964 CI: fedora_rawhide: fix issue with lxml python package
  .github/workflows/fedora_rawhide/start.sh
Labels: backport release/3.5

#5973 netCDF: fix 2 issues with netCDF 4.9.0 of msys2-mingw64 (fixes #5970)
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.5

#5976 OGRSQL: fix GetFeature() to return a feature such that GetFeature(fid).GetFID() == fid (fixes #5967)
  autotest/ogr/ogr_sql_test.py
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
Labels: backport release/3.5

#5971 GTiff driver: WEBP: avoid unnecessary temporary buffer creation and copy
  frmts/gtiff/geotiff.cpp
  frmts/gtiff/libtiff/tif_webp.c
Labels: backport release/3.5

#5980 OGRGeometry::UnionCascaded(): avoid crash with GEOS < 3.11 on empty multipolygon input
  autotest/ogr/ogr_geos.py
  ogr/ogrgeometry.cpp
Labels: backport release/3.5

#5990 gdal2xyz.py: fix parsing of -b option (fixes #5984)
  autotest/pyscripts/test_gdal2xyz.py
  swig/python/gdal-utils/osgeo_utils/gdal2xyz.py
Labels: backport release/3.5

#5991 VRT: take into account open options when sharing sources (fixes #5989)
  autotest/cpp/test_gdal.cpp
  frmts/vrt/vrtsources.cpp
  gcore/gdalproxypool.cpp
Labels: backport release/3.5

#5883 VFK: Support for UTF-8
  ogr/ogrsf_frmts/vfk/ogrvfklayer.cpp
  ogr/ogrsf_frmts/vfk/vfkdatablock.cpp
  ogr/ogrsf_frmts/vfk/vfkpropertydefn.cpp
  ogr/ogrsf_frmts/vfk/vfkreader.cpp
  ogr/ogrsf_frmts/vfk/vfkreader.h
  ogr/ogrsf_frmts/vfk/vfkreaderp.h
Labels: OGR_SF

#6001 Fix missing punctuation in s57objectclasses.csv (fixes #6000)
  data/s57objectclasses.csv
Labels: backport release/3.5

#6002 OSRGetProjTLSContext(): make it faster on Linux by saving getpid() system call
  cmake/helpers/configure.cmake
  cmake/template/cpl_config.h.in
  ogr/ogr_proj_p.cpp
Labels: backport release/3.5
