Repository OSGeo/gdal, pull requests merged in 2023-07, with the labels that each got.

#8040 SQL SQLite: fix error on field of type String with GetWidth() > 0 and a field domain
  autotest/ogr/ogr_fielddomain.py
  ogr/ogrsf_frmts/sqlite/ogrsqlitevirtualogr.cpp
Labels: backport release/3.7

#8049 gdalwarp: make -cutline to work again with PostGIS datasources (fixes 3.7.0 regression, fixes #8023)
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: backport release/3.7

#8010 gdal_calc.py: make --hideNoData imply --NoDataValue=none as documented (fixes #8009)
  autotest/pyscripts/test_gdal_calc.py
  swig/python/gdal-utils/osgeo_utils/gdal_calc.py
Labels: backport release/3.7

#7999 PAM rasterband: on .aux.xml reading do not systematically set (offset,scale) to (0,1)
  autotest/gcore/tiff_write.py
  gcore/gdalpamrasterband.cpp
Labels: backport release/3.7

#8051 GDALBufferHasOnlyNoData() / GTiff SPARSE_OK=YES: recognize negative floating point 0 as 0 (fixes #8025)
  gcore/rasterio.cpp
Labels: backport release/3.7

#8064 Arrow/Parquet: do not hang on empty RecordBatch (fixes #8042)
  autotest/ogr/data/parquet/part_with_empty_batch/part1.parquet
  autotest/ogr/data/parquet/part_with_empty_batch/part2.parquet
  autotest/ogr/ogr_parquet.py
  ogr/ogrsf_frmts/arrow/ogrfeatherlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetdatasetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
Labels: backport release/3.7

#8070 CI: workaround jsonschema 4.18 installation issue
  .github/workflows/cmake_builds.yml
  autotest/cpp/test_osr_set_proj_search_paths.cpp
  ci/travis/osx/before_install.sh
Labels: backport release/3.7

#8075 OpenFileGDB: make Open() to fail if requested to open in update mode …
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
Labels: backport release/3.7

#7992 Add gdal_footprint utility
  apps/CMakeLists.txt
  apps/gdal_footprint_bin.cpp
  apps/gdal_footprint_lib.cpp
  apps/gdal_utils.h
  apps/gdal_utils_priv.h
  autotest/pymod/test_cli_utilities.py
  autotest/utilities/test_gdal_footprint.py
  autotest/utilities/test_gdal_footprint_lib.py
  doc/source/conf.py
  doc/source/programs/gdal_footprint.rst
  doc/source/programs/index.rst
  gcore/gdal_priv.h
  gcore/gdalnodatamaskband.cpp
  gcore/gdalrasterband.cpp
  scripts/completionFinder.py
  swig/include/gdal.i
  swig/include/python/gdal_python.i
Labels: enhancement

#8091 WFS: do not surround selected fields names in PROPERTYNAME with open …
  autotest/ogr/ogr_wfs.py
  ogr/ogrsf_frmts/wfs/ogrwfslayer.cpp
Labels: backport release/3.7

#8110 OCAPI: more tests
  autotest/gdrivers/data/ogcapi/request_collections_NOT_EXISTS.http_data
  autotest/gdrivers/ogcapi.py
Labels: test suite

#8106 Ccache.cmake: fix warning
  cmake/modules/Ccache.cmake
Labels: backport release/3.7

#8104 gdal2tiles: fix exception with dataset in EPSG:4326 with longitudes > 180 in WebMercator profile (fixes #8100)
  autotest/pyscripts/gdal2tiles/test_reproject_dataset.py
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.7

#8107 ogr2ogr: support -nlt GEOMETRY -nlt CONVERT_TO_LINEAR (fixes #8101)
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
  swig/include/python/gdal_python.i
Labels: backport release/3.7

#8113 WEBP: fix build against libwebp < 0.4.0 (fixes #8111)
  frmts/webp/webpdataset.cpp
Labels: backport release/3.7

#8114 GTiff: fix reading .tif + .tif.aux.xml file with xml:ESRI SourceGCPs without TIFFTAG_RESOLUTIONUNIT (fixes #8083)
  autotest/gcore/data/gtiff/esri_geodataxform_no_resolutionunit.tif
  autotest/gcore/data/gtiff/esri_geodataxform_no_resolutionunit.tif.aux.xml
  autotest/gcore/pam.py
  autotest/gcore/tiff_read.py
  frmts/gtiff/gtiffdataset_read.cpp
Labels: backport release/3.7

#8136 STACIT: correctly process asset 'href' starting with 'file://' (fixes #8135)
  autotest/gdrivers/data/stacit/test_page2.json
  frmts/stacit/stacitdataset.cpp
Labels: backport release/3.7

#8145 Fixes related to proj:epsg STAC projection extension
  apps/gdalinfo_lib.cpp
  autotest/utilities/test_gdalinfo_lib.py
  frmts/stacit/stacitdataset.cpp
Labels: backport release/3.7

#8153 HANA: bug fixes
  ogr/ogrsf_frmts/hana/ogrhanadatasource.cpp
Labels: backport release/3.7

#8156 XLS: avoid compiler warning when building against freexl 2.0
  ogr/ogrsf_frmts/xls/include_freexl.h
  ogr/ogrsf_frmts/xls/ogrxlsdatasource.cpp
  ogr/ogrsf_frmts/xls/ogrxlslayer.cpp
Labels: backport release/3.7
