Repository OSGeo/gdal, pull requests merged in 2023-03, with the labels that each got.

#7327 zlib: Add ZLIB_IS_STATIC build option
  doc/source/development/building_from_source.rst
  frmts/ozi/CMakeLists.txt
  ogr/CMakeLists.txt
  port/CMakeLists.txt
Labels: backport release/3.6

#7314 Shape: make sure eAccess = GA_Update is set on creation (fixes #7311)
  autotest/cpp/test_ogr_shape.cpp
  ogr/ogrsf_frmts/shape/ogrshape.h
  ogr/ogrsf_frmts/shape/ogrshapedatasource.cpp
Labels: backport release/3.6

#7331 MITAB: Fix possible crash on NULL feature text
  autotest/ogr/ogr_mitab.py
  ogr/ogrsf_frmts/mitab/mitab_feature.cpp
Labels: backport release/3.6

#7296 GML export: fix CurvePolygon export of CompoundCurve and CircularString child elements (fixes #7294)
  autotest/ogr/ogr_gml_geom.py
  ogr/ogr2gmlgeometry.cpp
Labels: backport release/3.6

#7305 CSVSplitLine(): do not treat in a special way double quotes that appear in the middle of a field
  autotest/ogr/data/csv/double_quotes_in_middle_of_field.csv
  autotest/ogr/ogr_csv.py
  port/cpl_csv.cpp
Labels: backport release/3.6

#7308 Geoloc inverse transformer: fix numeric instability when quadrilaterals are degenerate to triangles (fixes #7302)
  alg/gdalgeoloc.cpp
  autotest/gcore/data/geoloc_triangles.tif
  autotest/gcore/geoloc.py
Labels: backport release/3.6

#7337 GeoJSON writer: take into account COORDINATE_PRECISION for top bbox (fixes #7319)
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonwritelayer.cpp
Labels: backport release/3.6

#7326 netCDF: resolve variable names beyond the parent group (fixes #7325)
  autotest/gdrivers/data/netcdf/resolve_var_name.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.6

#7355 FindCryptoPP.cmake: properly take into account _LIBRARY_RELEASE/_DEBUG (fixes #7338)
  cmake/modules/packages/FindCryptoPP.cmake
  cmake/modules/packages/FindDeflate.cmake
Labels: backport release/3.6

#7356 FindPoppler.cmake: check that Poppler private headers are available (fixes #7352)
  cmake/modules/packages/FindPoppler.cmake
  doc/source/development/building_from_source.rst
Labels: backport release/3.6

#7357 HDF5: add a GDAL_ENABLE_HDF5_GLOBAL_LOCK build option to add a global…
  doc/source/development/building_from_source.rst
  frmts/hdf5/CMakeLists.txt
  frmts/hdf5/bagdataset.cpp
  frmts/hdf5/hdf5dataset.cpp
  frmts/hdf5/hdf5dataset.h
  frmts/hdf5/hdf5imagedataset.cpp
  frmts/hdf5/hdf5multidim.cpp
Labels: backport release/3.6

#7362 JSON: Fix json mixed types roundtrip
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonwriter.cpp
Labels: bug, backport release/3.6

#7378 gdal_translate: fix crash when specifying -ovr on a dataset that has no overviews (fixes #7376)
  apps/gdal_translate_lib.cpp
  autotest/utilities/test_gdal_translate_lib.py
Labels: backport release/3.6

#7395 the original code determines two nodata with numpy.nan are not equal, …
  swig/python/gdal-utils/osgeo_utils/gdalcompare.py
Labels: backport release/3.6

#7407 MRF: restore SetSpatialRef() that was wrongly deleted in 3.6.0
  autotest/gdrivers/mrf.py
  frmts/mrf/marfa.h
Labels: backport release/3.6

#7412 gdal2xyz.py: fix -srcnodata and -dstnodata options (fixes #7410)
  autotest/pyscripts/test_gdal2xyz.py
  swig/python/gdal-utils/osgeo_utils/gdal2xyz.py
Labels: backport release/3.6

#7429 userfaultfd: avoid it to stall on 32bit and test real working of syscall in CPLIsUserFaultMappingSupported()
  .github/workflows/ubuntu_18.04_32bit/start.sh
  autotest/gdrivers/netcdf.py
  autotest/gdrivers/netcdf_multidim.py
  port/cpl_userfaultfd.cpp
Labels: backport release/3.6

#7422 HDF5: fix detecting if HDF5 library is thread-safe (refs #7340)
  frmts/hdf5/CMakeLists.txt
Labels: backport release/3.6

#7445 Doc: point OGRGeometry::transform() / OGR_G_Transform() to OGRGeometryFactory::transformWithOptions()
  ogr/ogrgeometry.cpp
Labels: documentation

#7400 ogr2ogr: fix and automate conversion from list types to String(JSON) …
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedriver.cpp
Labels: backport release/3.6

#7463 Docker: move to ghcr.io repository (fixes #7447)
  .github/workflows/doc_build.yml
  doc/source/download.rst
  docker/README.md
  docker/alpine-normal/build.sh
  docker/alpine-small/build.sh
  docker/ubuntu-full/build.sh
  docker/ubuntu-small/build.sh
  docker/util.sh
Labels: backport release/3.6

#7487 osm: Fix handling of closed_ways_are_polygons setting in osmconf.ini
  ogr/ogrsf_frmts/osm/ogrosmdatasource.cpp
Labels: backport release/3.6

#7490 GTiff: correctly read GCPs from ArcGIS 9 .aux.xml when TIFFTAG_RESOLUTIONUNIT=3 (pixels/cm) (fixes #7484)
  frmts/gtiff/geotiff.cpp
Labels: backport release/3.6

#7525 OpenFileGDB: fix write corruption when re-using freespace slots in some editing scenarios (fixes #7504)
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/filegdbtable_write.cpp
Labels: backport release/3.6

#7526 Rasterize all touched: tighten(decrease) the tolerance to consider that edge of geometries match pixel obundaries (fixes #7523)
  alg/llrasterize.cpp
  autotest/alg/rasterize.py
Labels: backport release/3.6

#7508 Doc: clarify GetStatistics() when bForce=TRUE (fixes #7506)
  gcore/gdalrasterband.cpp
Labels: documentation
