Repository OSGeo/gdal, pull requests merged in 2023-09, with the labels that each got.

#8297 gdalmdimtranslate: fix wrong output dimension size when using syntax …
  apps/gdalmdimtranslate_lib.cpp
  autotest/utilities/test_gdalmdimtranslate_lib.py
Labels: backport release/3.7

#8307 osgeo_utils: allign base.get_extension() and util.DoesDriverHandleExtension() on C++ versions, and add tests (fixes #8277)
  autotest/pyscripts/test_gdal_utils.py
  swig/python/gdal-utils/osgeo_utils/auxiliary/base.py
  swig/python/gdal-utils/osgeo_utils/auxiliary/util.py
Labels: backport release/3.7

#8324 Fix build with DEBUG_VERBOSE on
  frmts/opjlike/jp2opjlikedataset.cpp
Labels: bug

#8336 Don't use jpeg if disabled
  cmake/helpers/CheckDependentLibraries.cmake
Labels: backport release/3.7

#8338 frmts/mrf/CMakeLists.txt: ignore HAVE_JPEGTURBO_DUAL_MODE_8_12 if GDAL_USE_JPEG is OFF (tune #8336)
  frmts/mrf/CMakeLists.txt
Labels: backport release/3.7

#8335 gdal2tiles: raise explicit exception if bad value for --s_srs (fixes #8331)
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.7

#8390 python-drivers: Support WKB geometries
  .pre-commit-config.yaml
  autotest/ogr/data/pydrivers/ogr_DUMMY.py
  autotest/ogr/ogr_pythondrivers.py
  doc/source/tutorials/vector_python_driver.rst
  examples/pydrivers/ogr_PASSTHROUGH.py
  gcore/gdalpython.cpp
  gcore/gdalpython.h
  gcore/gdalpythondriverloader.cpp
Labels: enhancement

#8395 Add support for TileDB 2.17
  .github/workflows/fedora_rawhide/Dockerfile.ci
  frmts/tiledb/tiledbheaders.h
  frmts/tiledb/tiledbsparse.cpp
Labels: backport release/3.7

#8382 WCS: remove non-standard 'FORMAT' parameter from 'DescribeCoverage' requests (fixes #8381)
  frmts/wcs/wcsdataset110.cpp
  frmts/wcs/wcsdataset201.cpp
Labels: backport release/3.7

#8388 Gif memory leak fixes
  frmts/gif/giflib/dgif_lib.c
  scripts/clang-format.sh
Labels: backport release/3.7

#8389 gdal_translate -ovr: properly rescale RPC (fixes #8386)
  apps/gdal_translate_lib.cpp
  autotest/utilities/test_gdal_translate_lib.py
Labels: backport release/3.7

#8411 CSV: avoid extra comma at end of header line with GEOMETRY=AS_XYZ and…
  autotest/gdrivers/netcdf.py
  autotest/ogr/ogr_csv.py
  ogr/ogrsf_frmts/csv/ogrcsvlayer.cpp
Labels: backport release/3.7

#8424 netCDF multidim: add write support for Int8 data type (fixes #8421)
  autotest/gdrivers/netcdf_multidim.py
  frmts/netcdf/netcdfmultidim.cpp
Labels: backport release/3.7

#8444 Rasterize: avoid burning the same pixel twice in MERGE_ALG=ADD mode within a same geometry (fixes #8437)
  alg/gdal_alg_priv.h
  alg/gdalrasterize.cpp
  alg/llrasterize.cpp
  autotest/alg/rasterize.py
Labels: backport release/3.7

#8475 VSIReadDirRecursive(): make it work properly with a trailing slash (especially on /vsizip/) (fixes #8474)
  autotest/gcore/vsizip.py
  port/cpl_vsil.cpp
Labels: backport release/3.7

#8473 ogr2ogr: fix -gt 0 to disable transactions
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.7
