Repository OSGeo/gdal, pull requests merged in 2023-01, with the labels that each got.

#7015 the the -> the
  alg/gdalwarpkernel.cpp
  autotest/postinstall/test_cmake.sh
  autotest/postinstall/test_gdal-config.sh
  autotest/postinstall/test_pkg-config.sh
  autotest/pyscripts/test_osr_util.py
  doc/source/development/rfc/rfc47_dataset_caching.rst
  doc/source/development/rfc/rfc77_drop_python2_support.rst
  doc/source/drivers/vector/netcdf.rst
  doc/source/programs/raster_common_options.rst
  frmts/mrf/marfa_dataset.cpp
  frmts/vrt/pixelfunctions.cpp
  gcore/gdal_misc.cpp
  gcore/gdalmultidim.cpp
  ogr/ogr_geo_utils.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
  ogr/ogrspatialreference.cpp
  port/cpl_http.cpp
  port/cpl_minizip_zip.cpp
  swig/python/gdal-utils/README.rst
Labels: lint

#7022 gdalmdimtranslate: do not require VRT driver to be registered (fixes #7021)
  apps/gdalmdimtranslate_lib.cpp
Labels: backport release/3.6

#7028 BMP: Make sure file is created at proper size if only calling Create() without writing pixels (fixes #7025)
  autotest/gcore/bmp_write.py
  frmts/bmp/bmpdataset.cpp
Labels: backport release/3.6

#7030 GDALRasterPolygonEnumeratorT::NewPolygon(): check memory allocation to avoid crash (fixes #7027)
  alg/gdal_alg_priv.h
  alg/gdalrasterpolygonenumerator.cpp
  alg/gdalsievefilter.cpp
  alg/polygonize.cpp
Labels: backport release/3.6

#7032 python: fix setup.py directory list issue on macOS
  swig/python/setup.py.in
Labels: bug, python bindings, backport release/3.6

#7038 Fix typo filed->field
  doc/source/drivers/vector/openfilegdb.rst
  ogr/ogrsf_frmts/filegdb/FGdbDriver.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdriver.cpp
Labels: backport release/3.6

#7056 Fix ogr2ogr error + invalid gpkg output file in some cases
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.6

#7058 Fix mremap() detection with clang 15, and disable HAVE_VIRTUAL_MEM_VMA if HAVE_5ARGS_MREMAP not found
  cmake/helpers/configure.cmake
  port/cpl_virtualmem.cpp
Labels: backport release/3.6

#7048 CMake: Fix integration of find_package2
  cmake/helpers/CheckDependentLibraries.cmake
  cmake/modules/DefineFindPackage2.cmake
Labels: backport release/3.6

#7062 netCDF: quote variable name in subdataset list if it contains a column character (fixes #7061)
  autotest/gdrivers/data/netcdf/var_with_column.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.6

#7064 gdalwarp: fix vshift mode when vertical unit of dstSrs is non-metric
  alg/gdalwarpkernel.cpp
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: backport release/3.6

#7072 [jpg] Correctly read GCPS when an .aux.xml sidecar has GeodataXform present in the ESRI metadata element instead of root element
  autotest/gdrivers/data/jpeg/arcgis_geodataxform_gcp.jpg
  autotest/gdrivers/data/jpeg/arcgis_geodataxform_gcp.jpg.aux.xml
  autotest/gdrivers/data/jpeg/arcgis_metadata_geodataxform_gcp.jpg
  autotest/gdrivers/data/jpeg/arcgis_metadata_geodataxform_gcp.jpg.aux.xml
  autotest/gdrivers/jpeg.py
  gcore/gdalpamdataset.cpp
Labels: backport release/3.6

#7075 DIMAP: optimize performance of dataset RasterIO() (improve perf on multispectral datasets with JP2KAK underlying driver)
  autotest/gdrivers/dimap.py
  frmts/dimap/dimapdataset.cpp
Labels: backport release/3.6

#7078 gdalwarp: overview choice, fix longitude wrap problem
  apps/gdalwarp_lib.cpp
Labels: backport release/3.6

#7088 GenSQL: fix SetAttributeFilter() when dialect=OGRSQL and not forwarding the initial where clause to the source layer (fixes #7087)
  autotest/ogr/ogr_sql_test.py
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/ogrsf_frmts/generic/ogr_gensql.h
Labels: backport release/3.6

#7089 HANA: fix DSN open option
  ogr/ogrsf_frmts/hana/ogrhanadatasource.cpp
Labels: backport release/3.6

#7091 HDF4: avoid CMake error with Windows paths
  cmake/modules/packages/FindHDF4.cmake
Labels: backport release/3.6

#7106 GeoPackage: GetNextArrowArray(): fix retrieving only the geometry
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagelayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.6

#7105 CMake: fix wrong test when GDAL_SET_INSTALL_RELATIVE_RPATH is set
  gdal.cmake
Labels: backport release/3.6

#7113 netCDF: report GEOLOCATION metadata for a lon/lat indexed variable where lon and/or lat has irregular spacing
  autotest/gdrivers/data/netcdf/GLMELT_4X5.OCN.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.6

#7121 gdal_retile.py: fix wrong basename for .aux.xml files (fixes #7120)
  autotest/pymod/test_py_scripts.py
  autotest/pyscripts/test_gdal_retile.py
  swig/python/gdal-utils/osgeo_utils/gdal_retile.py
Labels: backport release/3.6

#7124 CPLGetPhysicalRAM(): take into account current cgroup (v1 and v2)
  port/cpl_vsisimple.cpp
Labels: backport release/3.6

#7131 OpenFileGDB: fix performance issue when identifying a CRS
  ogr/ogrsf_frmts/openfilegdb/ogr_openfilegdb.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
Labels: backport release/3.6

#7132 GeoJSONSeq: fix writing to /vsigzip/ (fixes #7130)
  autotest/ogr/ogr_geojsonseq.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonseqdriver.cpp
Labels: backport release/3.6

#7134 GTiffJPEGOverviewBand::IReadBlock(): remove hack that causes read errors in some circumstances
  frmts/gtiff/geotiff.cpp
Labels: backport release/3.6

#7137 OpenFileGDB: detect broken .spx file with wrong index depth (fixes qgis/qgis#32534)
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/filegdbindex.cpp
Labels: backport release/3.6

#7139 OpenFileGDB: index reading: avoid integer overflow on index larger than 2 GB
  ogr/ogrsf_frmts/openfilegdb/filegdbindex.cpp
Labels: backport release/3.6

#7142 ogr2ogr: fix -clipsrc/-clipdst when clip dataset has SRS != features's geometry (fixes #7126)
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.6
