Repository OSGeo/gdal, pull requests merged in 2023-10, with the labels that each got.

#8483 Shapefile reader: correct bad (multi)polygons as written by QGIS < 3.28.11 with GDAL >= 3.7 (fixes qgis/qgis#54537)
  autotest/ogr/data/shp/multipolygon_as_invalid_polygon.dbf
  autotest/ogr/data/shp/multipolygon_as_invalid_polygon.shp
  autotest/ogr/data/shp/multipolygon_as_invalid_polygon.shx
  autotest/ogr/ogr_shape.py
  ogr/ogrsf_frmts/shape/ogrshape.h
  ogr/ogrsf_frmts/shape/ogrshapelayer.cpp
  ogr/ogrsf_frmts/shape/shape2ogr.cpp
Labels: backport release/3.7

#8488 ogr2ogr: make -select '' work (or gdal.VectorTranslate(selectFields=[]))
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.7

#8505 Update the list of released PgSQL versions to the present
  cmake/modules/3.20/FindPostgreSQL.cmake
Labels: backport release/3.7

#8484 XLSX: do not write empty <cols> element on empty layers, and change heuristics to detect 'default' empty layers from intended empty ones (fixes qgis/qgis#42945)
  autotest/ogr/ogr_xlsx.py
  ogr/ogrsf_frmts/xlsx/ogr_xlsx.h
  ogr/ogrsf_frmts/xlsx/ogrxlsxdatasource.cpp
Labels: backport release/3.7

#8512 FlatGeoBuf: ArrowStream: return a released array when there are no rows
  autotest/ogr/ogr_flatgeobuf.py
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_parquet.py
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
  ogr/ogrsf_frmts/generic/ograrrowarrayhelper.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagelayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.7

#8531 gdal_translate: when specifying -srcwin, preserve source block size in the temporary VRT if srcwin top,left is a multiple of the block size
  apps/gdal_translate_lib.cpp
  autotest/gcore/vrtmisc.py
  frmts/vrt/vrtrasterband.cpp
Labels: backport release/3.7

#8537 OPENCL: scan multiple devices for each platform
  alg/gdalwarpkernel_opencl.cpp
Labels: bug, backport release/3.7

#8516 Make SQLite and GPKG drivers work with a sqlite3 built with -DSQLITE_TRUSTED_SCHEMA=0
  .github/workflows/coverage/build.sh
  .github/workflows/ubuntu_20.04/Dockerfile.ci
  .github/workflows/ubuntu_20.04/build.sh
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogr_sqlite.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitebase.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitesqlfunctions.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitetablelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqliteutility.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqliteutility.h
  swig/python/gdal-utils/osgeo_utils/samples/validate_gpkg.py
Labels: backport release/3.7

#8545 VSI7Z: Accept ArcGIS Pro Project Packages
  doc/source/user/virtual_file_systems.rst
  port/cpl_vsil_libarchive.cpp
Labels: backport release/3.7

#8539 OGR2OGR: fix preserve_fid and explodecollections incompatible options
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
  doc/source/programs/ogr2ogr.rst
  swig/include/python/gdal_python.i
Labels: backport release/3.7

#8542 Reprojection fixes
  alg/gdaltransformer.cpp
  ogr/ogrct.cpp
Labels: backport release/3.7

#8559 jpeg.rst: Fix typo for bitmask: `valid date` → `valid data` [ci skip]
  doc/source/drivers/raster/jpeg.rst
Labels: documentation

#8563 GTiff: DirectIO(): fix integer overflow when requesting more than 2 GB at once
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/gtiff/gtiffrasterband_read.cpp
Labels: backport release/3.7

#8561 GTiff multithreaded reading/writing: fix a deadlock situation
  frmts/gtiff/gtiffdataset_read.cpp
Labels: backport release/3.7

#8571 CI: Add `ubuntugis` PPA by URL
  .github/workflows/cmake_builds.yml
  ci/travis/csa_common/before_install.sh
Labels: backport release/3.7

#8567 MBTiles: BuildOverviews(): correctly set minzoom metadata (fixes #8565)
  autotest/gdrivers/mbtiles.py
  frmts/mbtiles/mbtilesdataset.cpp
Labels: backport release/3.7

#8524 ogr_proj_p.cpp: disable pthread_atfork() optimization on MacOS (fixes #8497)
  ogr/ogr_proj_p.cpp
Labels: backport release/3.7

#8586 OGRSQL: fix incorrect interaction of LIMIT clause and SetNextByIndex() (fixes #8585)
  autotest/ogr/ogr_sql_rfc28.py
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/ogrsf_frmts/generic/ogr_gensql.h
Labels: backport release/3.7

#8615 GeoTIFF SRS: support writing a CRS of known code but unknown GeoTIFF …
  autotest/gcore/tiff_srs.py
  frmts/gtiff/gtiffdataset_write.cpp
Labels: backport release/3.7

#8616 GDALOpen(): avoid error messages in OF_SHARED mode and with OVERVIEW_LEVEL option (fixes #8599)
  autotest/cpp/test_gdal.cpp
  gcore/gdaldataset.cpp
Labels: backport release/3.7

#8628 GTiff JXL codec: fix wrong use of memcpy() in decoding, and add memcpy() optimizations
  autotest/gcore/tiff_write.py
  frmts/gtiff/tif_jxl.c
Labels: backport release/3.7
