Repository OSGeo/gdal, pull requests merged in 2023-02, with the labels that each got.

#7156 CI: alpine: do pip in a venv to please Alpine's pip
  .github/workflows/alpine/start.sh
Labels: backport release/3.6

#7147 OpenFileGDB: allow CreateField() with OBJECTID as the column name (fixes #51435)
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/ogr_openfilegdb.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
Labels: backport release/3.6

#7154 /vsicurl/: fix CPL_VSIL_CURL_USE_HEAD=NO mode (fixes #7150)
  autotest/gcore/vsicurl.py
  autotest/pymod/webserver.py
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_curl_class.h
Labels: backport release/3.6

#7155 COG: avoid warning message when using -co COMPRESS=WEBP -co QUALITY=100 (fixes #7153)
  autotest/gcore/cog.py
  frmts/gtiff/cogdriver.cpp
Labels: backport release/3.6

#7158 NITF: update CLEVEL to appropriate values when using compression / multiple image segments
  autotest/gdrivers/nitf.py
  frmts/nitf/nitfdataset.cpp
  frmts/nitf/nitffile.c
Labels: backport release/3.6

#7164 MITAB: handle projection methods 34 (extended transverse mercator) and 35 (Hotine Oblique Mercator) (fixes #7161)
  autotest/ogr/data/mitab/proj_34.mif
  autotest/ogr/data/mitab/proj_35.mif
  autotest/ogr/ogr_mitab.py
  ogr/ogrsf_frmts/mitab/mitab_priv.h
  ogr/ogrsf_frmts/mitab/mitab_spatialref.cpp
Labels: backport release/3.6

#7184 Shapefile: fix adding features in a .dbf without columns (fixes qgis/qgis#51247)
  autotest/ogr/ogr_shape.py
  ogr/ogrsf_frmts/shape/dbfopen.c
  ogr/ogrsf_frmts/shape/shape2ogr.cpp
Labels: backport release/3.6

#7195 GTiff: fix generation of external overviews on 1xsmall_height rasters (fixes #7194)
  autotest/gcore/tiff_ovr.py
  gcore/gdaldefaultoverviews.cpp
Labels: backport release/3.6

#7128 tiledb rasterio
  autotest/gdrivers/tiledb_read.py
  autotest/gdrivers/tiledb_write.py
  frmts/tiledb/tiledbdataset.cpp
  gcore/rasterio.cpp
Labels: backport release/3.6

#7204 ZMap creation: fix potential truncation of nodata value (fixes #7203)
  autotest/gdrivers/zmap.py
  frmts/zmap/zmapdataset.cpp
Labels: backport release/3.6

#7196 Warper: do not use OpenCL code path when cutline (or source alpha) is used
  alg/gdalcutline.cpp
  alg/gdalwarper.h
  alg/gdalwarpkernel.cpp
  alg/gdalwarpoperation.cpp
Labels: backport release/3.6

#7215 Add required CMakePushCheckState include to FindSQLite3.cmake
  cmake/modules/packages/FindSQLite3.cmake
Labels: backport release/3.6

#7218 Avoid use of deprecated ZSTD_getDecompressedSize() function with libzstd 1.3+
  port/cpl_compressor.cpp
Labels: backport release/3.6

#7234 HFA / ERDAS Imagine SRS support: various fixes
  autotest/gcore/hfa_srs.py
  autotest/gdrivers/data/hfa/esri_54049_pe_string_only_broken.img
  frmts/hfa/hfadataset.cpp
  frmts/hfa/hfaopen.cpp
  ogr/ogr_fromepsg.cpp
  ogr/ogrspatialreference.cpp
Labels: backport release/3.6

#7237 MITAB: fix loading/saving of False Northing for projection method = 35 (fixes #7236)
  autotest/ogr/data/mitab/proj_35.mif
  autotest/ogr/ogr_mitab.py
  ogr/ogrsf_frmts/mitab/mitab_coordsys.cpp
  ogr/ogrsf_frmts/mitab/mitab_mapheaderblock.cpp
Labels: backport release/3.6

#7220 OpenFileGDB: make Delete() method to remove the directory (fixes #7216)
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdriver.cpp
Labels: backport release/3.6

#7244 gdal_rasterize: ignore features whose Z attribute is null/unset (fixes #7241)
  apps/gdal_grid_lib.cpp
  autotest/utilities/test_gdal_grid_lib.py
Labels: backport release/3.6

#7245 gdalwarp: allow up to inaccuracy in cropline coordinates up to 0.1% of a pixel size for rounding (fixes #7226)
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: backport release/3.6

#7260 GeoJSON: avoid duplication of FID in streaming parser (fixes #7258)
  apps/test_ogrsf.cpp
  autotest/ogr/data/geojson/ids_0_1_null_1_null.json
  autotest/ogr/data/geojson/ids_0_1_null_unset.json
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogr_geojson.h
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondriver.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonlayer.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.h
Labels: backport release/3.6

#7277 Doc: initiate recommendations for Python and C++ tests
  doc/source/development/testing.rst
Labels: documentation

#7276 Use parametrize for mem test
  autotest/gdrivers/mem.py
Labels: test suite

#7310 GRIB: fix reading South Polar Stereographic from GRIB1 datasets (fixes #7298)
  autotest/gdrivers/data/grib/south_polar_stereo_grib1.grb.begin
  autotest/gdrivers/data/grib/south_polar_stereo_grib1.grb.xml
  autotest/gdrivers/grib.py
  frmts/grib/degrib/degrib/degrib1.cpp
Labels: backport release/3.6

#7315 GEOJSON: fix mixed type field not flagged as JSON if first occurrence is a string (fixes #7313)
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.cpp
Labels: bug, backport release/3.6

#7318 fix uclibc build without NPTL
  cmake/helpers/configure.cmake
  cmake/template/cpl_config.h.in
  port/cpl_config.h.in
  port/cpl_multiproc.cpp
Labels: backport release/3.6
