Repository OSGeo/gdal, pull requests merged in 2023-04, with the labels that each got.

#7546 gdal2tiles: update 'ol-layerswitcher' widget to v4.1.1 (fixes #7544)
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.6

#7264 RFC 94: Numeric fields width/precision metadata
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc94_field_precision_width_metadata.rst
Labels: enhancement

#7566 CI: fix build errors with openssl not coming from Conda; and use libjpeg-turbo
  .github/workflows/cmake_builds.yml
Labels: backport release/3.6

#7588 CI: build_mac: fix issue with libkml
  .github/workflows/cmake_builds.yml
Labels: backport release/3.6

#7564 LCP: CreateCopy(): fix crash on negative pixel values (fixes #7561)
  autotest/gdrivers/lcp.py
  frmts/raw/lcpdataset.cpp
Labels: backport release/3.6

#7577 Doc: VRT: clarify SrcRect/DstRect/GeoTransform semantics (fixes #7574)
  doc/source/drivers/raster/vrt.rst
  doc/source/user/raster_data_model.rst
Labels: documentation

#7553 netCDF: restore capability of reading CF-1.6-featureType vector layers …
  autotest/gdrivers/data/netcdf/trajectory.nc
  autotest/gdrivers/netcdf.py
  doc/source/drivers/vector/netcdf.rst
  frmts/netcdf/netcdfdataset.cpp
  frmts/netcdf/netcdfdataset.h
  frmts/netcdf/netcdflayersg.cpp
Labels: backport release/3.6

#7590 OpenFileGDB: CreateField(): in approxOK mode, do not error out …
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
Labels: backport release/3.6
