Repository OSGeo/gdal, pull requests merged in 2024-10, with the labels that each got.

#10902 CPLGetValueType(): do not recognize '01' as integer, but as string
  apps/gdaltransform.cpp
  autotest/cpp/test_cpl.cpp
  ogr/ogrsf_frmts/csv/ogrcsvlayer.cpp
  port/cpl_string.cpp
Labels: backport release/3.9

#10916 [doc] fix link to GDAL sponsorship prospectus
  doc/source/sponsors/faq.rst
Labels: backport release/3.9

#10879 gdalwarp: be more robust to numerical instability when selecting overviews
  apps/gdalwarp_lib.cpp
  autotest/gcore/rasterio.py
  autotest/utilities/test_gdalwarp.py
  gcore/rasterio.cpp
Labels: backport release/3.9

#10921 Python bindings: fix passing a dict value to the transformerOptions argument of gdal.Warp()
  autotest/utilities/test_gdalwarp_lib.py
  swig/include/python/gdal_python.i
Labels: backport release/3.9

#10900 Doc: SQLite dialect: remove erroneous mention about GEOMETRY being a special field in all cases
  doc/source/user/sql_sqlite_dialect.rst
Labels: backport release/3.9

#10926 PG: ensure current user has superuser priviledge beore attemption to create event trigger for metadata table
  autotest/ogr/ogr_pg.py
  doc/source/drivers/vector/pg.rst
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
Labels: backport release/3.9

#10929 docker: print HTTP errors on failure
  docker/alpine-normal/Dockerfile
  docker/alpine-small/Dockerfile
  docker/ubuntu-full/Dockerfile
  docker/ubuntu-full/bh-gdal.sh
  docker/ubuntu-full/bh-proj.sh
  docker/ubuntu-small/Dockerfile
Labels: backport release/3.9

#10931 DIMAP: emit verbose error message if not able to open image file
  frmts/dimap/dimapdataset.cpp
Labels: backport release/3.9

#10930 NITF: properly take into account comma-separated list of values for JPEG2000 QUALITY
  autotest/gdrivers/nitf.py
  doc/source/drivers/raster/nitf.rst
  frmts/nitf/nitfdataset.cpp
Labels: backport release/3.9

#10942 NITF: fix parsing of CSCSDB DES
  autotest/gdrivers/nitf.py
  frmts/nitf/nitffile.c
Labels: backport release/3.9

#10954 Doc: use 'version_selector' instead of 'display_version' which is deprecated by sphinx-rtd-theme 3.0.0
  .github/workflows/doc_checks.yml
  doc/source/conf.py
  doc/source/gdal_rtd/static/css/gdal.css
Labels: backport release/3.9

#10959 Doc: attempt at fixing issue with color of version switch
  doc/source/conf.py
  doc/source/gdal_rtd/static/css/gdal.css
Labels: backport release/3.9

#10967 Remove "trademarked" terms
  doc/source/drivers/raster/pdf.rst
Labels: backport release/3.9

#10965 Doc: Add description of gdalwarp source pixel weighting
  doc/source/programs/gdalwarp.rst
Labels: documentation

#10986 Doc: Python: rename 'Miscellaneous Python API' as 'GDAL Python submodules' and move it to the top
  doc/source/api/index.rst
  doc/source/api/python/osgeo.rst
Labels: documentation

#11015 docker/util.sh: set SOURCE_DATE_EPOCH for releases
  docker/util.sh
Labels: backport release/3.10

#11019 Zarr V2 creation: fix bug when creating dataset with partial blocks …
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr_v2_group.cpp
Labels: backport release/3.10

#11027 Doc: fix warning 'direct use of the spelling directive is deprecated,…
  .github/workflows/doc_checks.yml
  doc/source/thanks.rst
Labels: backport release/3.10

#11030 [gdal_rasterize] allow -q in library mode
  apps/gdal_rasterize_lib.cpp
Labels: bug, backport release/3.10

#11038 Improve error message when OGRSimpleCurve point limit is exceeded
  ogr/ogrlinestring.cpp
Labels: backport release/3.10

#11065 gdalbuildvrt: add a -co switch
  apps/gdalbuildvrt_lib.cpp
  autotest/gcore/vrtmisc.py
  doc/source/drivers/raster/vrt.rst
  doc/source/programs/gdalbuildvrt.rst
  scripts/gdal-bash-completion.sh
  swig/include/python/gdal_python.i
Labels: backport release/3.10

#11072 MiraMonVector: fix issue 372358476
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.10

#11043 DIMAP: for PNEO products, use the new color interpretations for the NIR, RedEdge and DeepBlue/Coastal bands
  autotest/gdrivers/dimap.py
  frmts/dimap/dimapdataset.cpp
Labels: backport release/3.10

#11037 SNAP_TIFF: do not declare extension to avoid confusing QGIS
  .github/workflows/ubuntu_24.04/expected_gdalinfo_formats.txt
  .github/workflows/windows_conda_expected_gdalinfo_formats.txt
  frmts/snap_tiff/snaptiffdriver.cpp
Labels: backport release/3.10

#11046 Warper: fix shifted/aliased result with Lanczos resampling when XSCALE < 1 or YSCALE < 1
  alg/gdalwarpkernel.cpp
  autotest/alg/data/utmsmall_lanczos_2.tif
Labels: backport release/3.10

#11049 Arrow reading: generic code path (as used by GeoJSON): fix mis-handling of timezones
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
Labels: backport release/3.10

#11052 GML: add a GML_DOWNLOAD_SCHEMA config option matching the DOWNLOAD_SCHEMA open option
  doc/source/drivers/vector/gml.rst
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
Labels: backport release/3.10

#11053 autotest: fix memory leaks
  autotest/ogr/ogr_gpkg.py
  autotest/utilities/test_gdal_contour.py
Labels: backport release/3.10

#11055 ESRIC: fix memory leak
  frmts/esric/esric_dataset.cpp
Labels: backport release/3.10

#11056 GPKG: fix memleaks in usage of GetSpatialRef(int, ...)
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagelayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.10

#11058 OCI: use TIMESTAMP(3) and tweak NLS_TIME[STAMP][_TZ]_FORMAT to accept milliseconds
  autotest/ogr/ogr_oci.py
  ogr/ogrsf_frmts/oci/ogrocisession.cpp
  ogr/ogrsf_frmts/oci/ogrociwritablelayer.cpp
Labels: backport release/3.10

#11059 GPKG: prevent from creating field with same name or with the name of the geometry field
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.10

#11092 gdal-utils: remove .py from usage text
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
  swig/python/gdal-utils/osgeo_utils/gdal_merge.py
  swig/python/gdal-utils/osgeo_utils/gdal_proximity.py
  swig/python/gdal-utils/osgeo_utils/gdal_retile.py
  swig/python/gdal-utils/osgeo_utils/gdalattachpct.py
  swig/python/gdal-utils/osgeo_utils/gdalcompare.py
  swig/python/gdal-utils/osgeo_utils/gdalmove.py
  swig/python/gdal-utils/osgeo_utils/ogr_layer_algebra.py
  swig/python/gdal-utils/osgeo_utils/ogrmerge.py
Labels: backport release/3.10

#11088 Doc: Clarify behavior of gdal_translate -scale and -exponent
  doc/source/programs/gdal_translate.rst
Labels: documentation, backport release/3.10

#11098 JP2Lura: fix Identify() method
  frmts/jp2lura/jp2luradrivercore.cpp
Labels: backport release/3.10

#11099 JPEGXL: writer: propagate DISTANCE/QUALITY setting to extra channel
  autotest/gdrivers/jpegxl.py
  doc/source/drivers/raster/jpegxl.rst
  frmts/jpegxl/jpegxl.cpp
Labels: backport release/3.10

#11097 FileGDB/OpenFileGDB: update (and unify) list of reserved keywords that can't be used for column/table names
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/filegdb/FGdbUtils.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdb_reserved_keywords.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
Labels: backport release/3.10

#11076 ogr2ogr: fix -explodecollections on empty geometries
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.10

#11024 Doc: add Land Information New Zealand (LINZ) as a Bronze-level sponsor
  doc/generate-sponsor-logos.sh
  doc/images/sponsors/logo-linz.png
  doc/images/sponsors/logo-linz.svg
  doc/source/sponsors/index.rst
Labels: backport release/3.10

#11114 [Backport release/3.10] ogr2ogr: fix -explodecollections on empty geometries
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: funded through GSP

#11107 JPEGXL: allow a minimum DISTANCE of 0.01, max of 25 and revise QUALITY to DISTANCE formula
  autotest/gdrivers/jpegxl.py
  doc/source/drivers/raster/cog.rst
  doc/source/drivers/raster/gtiff.rst
  doc/source/drivers/raster/jpegxl.rst
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/geotiff.cpp
  frmts/jpegxl/jpegxl.cpp
  frmts/jpegxl/jpegxldrivercore.cpp
Labels: backport release/3.10, funded through GSP

#11123 docker: fix non-release arm64 Ubuntu builds
  docker/util.sh
Labels: backport release/3.10, funded through GSP

#11124 CI: 'miniforge-variant: Mambaforge' is no longer supported; use Miniforge instead
  .github/workflows/cmake_builds.yml
  .github/workflows/conda.yml
Labels: backport release/3.10

#11121 [Backport release/3.10] JPEGXL: allow a minimum DISTANCE of 0.01, max of 25 and revise QUALITY to DISTANCE formula
  autotest/gdrivers/jpegxl.py
  doc/source/drivers/raster/cog.rst
  doc/source/drivers/raster/gtiff.rst
  doc/source/drivers/raster/jpegxl.rst
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/geotiff.cpp
  frmts/jpegxl/jpegxl.cpp
  frmts/jpegxl/jpegxldrivercore.cpp
Labels: funded through GSP

#11131 tif_jxl: writer: propagate DISTANCE/QUALITY setting to extra channel
  autotest/gcore/tiff_write.py
  frmts/gtiff/tif_jxl.c
Labels: backport release/3.10

#11133 ogr_core.h: suppress warning when building with -Wpedantic for C < 23
  ogr/ogr_core.h
Labels: backport release/3.10

#11142 Add (minimum) support for libarrow 18.0.0
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
  ogr/ogrsf_frmts/arrow_common/ograrrowwriterlayer.hpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
Labels: backport release/3.10

#11138 SQLite/GPKG: turn on SQLite 'PRAGMA secure_delete=1' by default
  autotest/ogr/ogr_gpkg.py
  doc/source/drivers/vector/gpkg.rst
  doc/source/drivers/vector/sqlite.rst
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
Labels: backport release/3.10, funded through GSP

#11130 Add OSRGetAuthorityListFromDatabase() to get the list of CRS authorities used in the PROJ database.
  autotest/osr/osr_basic.py
  ogr/ogr_srs_api.h
  ogr/ogrspatialreference.cpp
  swig/include/osr.i
Labels: backport release/3.10

#11141 Python bindings: __init__.py: remove calls to warnings.simplefilter()
  swig/python/osgeo/__init__.py
Labels: backport release/3.10, funded through GSP

#11154 Python bindings: fix compatibility issue with SWIG 4.3.0 and PYTHONWARNINGS=error
  .github/workflows/cmake_builds.yml
  swig/python/modify_cpp_files.cmake
Labels: backport release/3.10, funded through GSP

#11149 [Backport release/3.10] SQLite/GPKG: turn on SQLite 'PRAGMA secure_delete=1' by default
  autotest/ogr/ogr_gpkg.py
  doc/source/drivers/vector/gpkg.rst
  doc/source/drivers/vector/sqlite.rst
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
Labels: funded through GSP

#11150 [Backport release/3.10] Add OSRGetAuthorityListFromDatabase() to get the list of CRS authorities used in the PROJ database.
  autotest/osr/osr_basic.py
  ogr/ogr_srs_api.h
  ogr/ogrspatialreference.cpp
  swig/include/osr.i
Labels: funded through GSP

#11151 [Backport release/3.10] Python bindings: __init__.py: remove calls to warnings.simplefilter()
  swig/python/osgeo/__init__.py
Labels: funded through GSP

#11051 Warper: improve performance of multi-band bicubic warping
  alg/gdalwarpkernel.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP

#11152 GDALTermProgress: display estimated remaining time for tasks >= 10 seconds
  apps/gdallocationinfo.cpp
  apps/gdaltransform.cpp
  apps/gdalwarp_lib.cpp
  frmts/grib/gribdataset.cpp
  port/cpl_conv.cpp
  port/cpl_conv.h
  port/cpl_error.cpp
  port/cpl_progress.cpp
Labels: funded through GSP

#11144 gdalenhance: add docs and tests
  apps/gdalenhance.cpp
  autotest/pymod/test_cli_utilities.py
  autotest/utilities/test_gdalenhance.py
  doc/images/programs/gdalenhance_little_spruce.jpg
  doc/images/programs/gdalenhance_little_spruce_enhanced.jpg
  doc/source/programs/gdalenhance.rst
  doc/source/programs/index.rst
Labels: documentation, test suite

#11168 PDF: fix nullptr dereference on invalid file
  autotest/gdrivers/data/pdf/invalid_srs.pdf
  autotest/gdrivers/pdf.py
  frmts/pdf/pdfdataset.cpp
Labels: backport release/3.10, funded through GSP

#11148 MiraMonVector: fix a case of mutirecord (lists) in some fields
  autotest/ogr/data/miramon_inputs/LT05_L2SP_038037_20120505_20200820_02_T1_ST_stac_minimal.json
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.10

#11170 CI: remove alpine_numpy2 config, now that alpine:edge has switched to numpy 2.1.2
  .github/workflows/alpine_numpy2/Dockerfile.ci
  .github/workflows/alpine_numpy2/build.sh
  .github/workflows/linux_build.yml
Labels: backport release/3.10

#11166 Doc: fix issue with Unicode zero-width space character and PDF output
  doc/build_doc_snapshot.sh
  doc/source/conf.py
Labels: backport release/3.10, funded through GSP

#11172 Coverity fixes
  ogr/ogrsf_frmts/adbc/ogradbcdataset.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/pgeo/ogrpgeodatasource.cpp
  port/cpl_vsil_curl.cpp
  third_party/libertiff/libertiff.hpp
Labels: funded through GSP

#11169 PG: implement OGRLayer::FindFieldIndex()
  apps/ogr2ogr_lib.cpp
  autotest/ogr/ogr_pg.py
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
  swig/include/python/gdal_python.i
Labels: funded through GSP

#11139 GPKG: optimize speed of 'DELETE FROM table_name', especially on ones with RTree
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: funded through GSP
