Repository OSGeo/gdal, pull requests merged in 2024-05, with the labels that each got.

#9815 MiraMon: Lost changes + update DBF date
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/mm_gdal_driver_structs.h
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#9823 TileDB multidimensional fixes
  autotest/gdrivers/tiledb_multidim.py
  frmts/tiledb/tiledbmultidim.h
  frmts/tiledb/tiledbmultidimgroup.cpp
Labels: backport release/3.9

#9813 [gdal_tindex] Use argparser
  apps/argparse/README.TXT
  apps/argparse/argparse.hpp
  apps/gdal_contour.cpp
  apps/gdal_utils_priv.h
  apps/gdalargumentparser.cpp
  apps/gdalargumentparser.h
  apps/gdaltindex_bin.cpp
  apps/gdaltindex_lib.cpp
  apps/ogr2ogr_lib.cpp
Labels: enhancement

#9831 MiraMonVector: Little fixes in metadata files
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9835 MiraMonVector fix: better condition & variable type
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#9840 MiraMonVector: Fix two minor metadata issues
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9841 MiraMonVector: Fix issue 68585 from chromium (and other similar ones)
  ogr/ogrsf_frmts/miramon/mm_rdlayr.c
Labels: backport release/3.9

#9832 [ogrtindex] Use GDALArgumentParser
  apps/gdalargumentparser.h
  apps/ogrtindex.cpp
Labels: enhancement

#9844 Warper: add a NODATA_VALUES_PCT_THRESHOLD warping option, and expose it in gdal2tiles
  alg/gdalwarper.cpp
  alg/gdalwarpkernel.cpp
  autotest/alg/warp.py
  autotest/pyscripts/test_gdal2tiles.py
  doc/source/programs/gdal2tiles.rst
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.9

#9858 /vsigs/ and /vsiaz/: fixes related to RmdirRecursive() / UnlinkBatch()
  autotest/gcore/vsiaz.py
  autotest/gcore/vsigs.py
  port/cpl_azure.cpp
  port/cpl_azure.h
  port/cpl_google_cloud.cpp
  port/cpl_google_cloud.h
  port/cpl_vsil_adls.cpp
  port/cpl_vsil_az.cpp
  port/cpl_vsil_curl_class.h
  port/cpl_vsil_gs.cpp
  port/cpl_vsil_s3.cpp
Labels: backport release/3.9

#9845 [gdal_footprint] Use GDALArgumentParser
  apps/gdal_footprint_bin.cpp
  apps/gdal_footprint_lib.cpp
  apps/gdal_utils_priv.h
  autotest/utilities/test_gdal_footprint_lib.py
Labels: enhancement

#9866 PG: emit warning when using GEOMETRY_NAME!=wkb_geometry on non-PostGIS enabled database
  autotest/ogr/ogr_pg.py
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
Labels: backport release/3.9

#9865 PG: avoid aborting transactions when calling LoadMetadata() and ogr_system_tables.metadata doesn't exist
  autotest/ogr/ogr_pg.py
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
Labels: backport release/3.9

#9878 Fix various C++20 compilation related issues
  .github/workflows/alpine/build.sh
  apps/sozip.cpp
  frmts/grib/gribdataset.cpp
  frmts/netcdf/netcdfvirtual.h
  frmts/pdf/pdfsdk_headers.h
  frmts/vrt/gdaltileindexdataset.cpp
  frmts/wcs/wcsdataset110.cpp
  frmts/zarr/zarr_array.cpp
  ogr/ogrsf_frmts/elastic/ogrelasticlayer.cpp
  ogr/ogrsf_frmts/gmlas/ogrgmlasutils.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmlfield.cpp
  ogr/swq_op_general.cpp
  port/cpl_recode.cpp
  third_party/LercLib/BitStuffer2.cpp
Labels: backport release/3.9

#9877 /vsis3/: include AWS_CONTAINER_CREDENTIALS_TOKEN in container credentials flow
  autotest/gcore/vsis3.py
  port/cpl_aws.cpp
Labels: backport release/3.9

#9883 MiraMonVector: adding which polygon cycles the linestring in the linestring metadata information
  ogr/ogrsf_frmts/miramon/mm_gdal_driver_structs.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9874 PDF vector reading: multiple fixes to read some recent ArcGIS GeoPDFs
  autotest/ogr/ogr_pdf.py
  autotest/pymod/gdaltest.py
  frmts/pdf/gdal_pdf.h
  frmts/pdf/pdfdataset.cpp
  frmts/pdf/pdfreadvectors.cpp
Labels: backport release/3.9

#9894 configure.cmake: fix build with mingw64 with gcc 14
  cmake/helpers/configure.cmake
  frmts/gtiff/libgeotiff/geotiff_proj4.c
  frmts/gtiff/libtiff/tif_hash_set.c
  frmts/northwood/northwood.cpp
  frmts/stacit/stacitdataset.cpp
  ogr/ogrsf_frmts/shape/dbfopen.c
  ogr/ogrsf_frmts/shape/sbnsearch.c
  ogr/ogrsf_frmts/shape/shpopen.c
  ogr/ogrsf_frmts/shape/shptree.c
Labels: backport release/3.9

#9895 MiraMonVector: Adding more matchs in the look-up table MM_m_idofic.csv
  ogr/ogrsf_frmts/miramon/data/MM_m_idofic.csv
Labels: backport release/3.9

#9888 GML: fix memory leak due do xlink:href substitution in a non-nominal case.
  autotest/ogr/data/gml/link_to_immediate_child.gml
  autotest/ogr/ogr_gml.py
  ogr/ogrsf_frmts/gml/gmlhandler.cpp
Labels: backport release/3.9

#9879 MITAB .tab: AlterFieldDefn(): fix data corruption when altering (for …
  autotest/ogr/ogr_mitab.py
  ogr/ogrsf_frmts/mitab/mitab_datfile.cpp
  ogr/ogrsf_frmts/mitab/mitab_imapinfofile.cpp
  ogr/ogrsf_frmts/mitab/mitab_priv.h
  ogr/ogrsf_frmts/mitab/mitab_tabfile.cpp
Labels: backport release/3.9

#9884 [gdal_create] Use GDALArgumentParser
  apps/gdal_create.cpp
  autotest/utilities/test_gdal_create.py
Labels: enhancement

#9898 FlatGeoBuf: more explicit error message in case of feature geometry type != layer geometry type
  autotest/ogr/ogr_flatgeobuf.py
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
Labels: backport release/3.9

#9909 OSR importFromESRI() Arc/Info 7 .prj: fix importing LAMBERT_AZIMUTHAL…
  autotest/osr/osr_esri.py
  ogr/ogr_srs_esri.cpp
Labels: backport release/3.9

#9912 [gdalmdimtranslate] Use GDALArgumentParser
  apps/gdal_utils_priv.h
  apps/gdalmdimtranslate_bin.cpp
  apps/gdalmdimtranslate_lib.cpp
Labels: enhancement

#9916 Doc: gdalmdimtranslate: document -strict
  doc/source/programs/gdalmdimtranslate.rst
Labels: documentation

#9930 MiraMonVector: Fixing recently introduced error in linestring metadata file
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9925 ogrinfo: fix error message when not specifying a filename
  apps/ogrinfo_lib.cpp
  autotest/utilities/test_ogrinfo.py
Labels: backport release/3.9

#9938 MiraMonVector: Fixing the way that Z are written in MiraMon layers
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/mm_gdal_driver_structs.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#9954 MiraMonVector: Fixing chromium bug 68809
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9947 [gdaldem] Use GDALArgumentParser
  apps/gdal_utils_priv.h
  apps/gdalargumentparser.cpp
  apps/gdalargumentparser.h
  apps/gdaldem_bin.cpp
  apps/gdaldem_lib.cpp
Labels: enhancement

#9966 MiraMonVector: Fixing chromium bug 68809 correctly
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9950 GeoJSON/JSONFG: do not recognize GeoJSON files with a featureType feature property as JSONFG
  autotest/ogr/data/geojson/featuretype.json
  autotest/ogr/data/jsonfg/crs_none_fc_mixed_feat_no_conformsTo.json
  autotest/ogr/ogr_geojson.py
  autotest/ogr/ogr_jsonfg.py
  gcore/gdaldriver.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonutils.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonutils.h
  port/cpl_json_streaming_parser.cpp
  port/cpl_json_streaming_parser.h
Labels: backport release/3.9

#10036 argparse.hpp: add argument name after 'Too few arguments' error
  apps/argparse/argparse.hpp
Labels: backport release/3.9

#10039 Python utilities: avoid UseExceptions() related deprecation warning when launched from launcher shell scripts
  autotest/gcore/basic_test.py
  autotest/pymod/test_py_scripts.py
  autotest/pyscripts/test_gdal2tiles.py
  autotest/pyscripts/test_gdal2xyz.py
  autotest/pyscripts/test_gdal_calc.py
  autotest/pyscripts/test_gdal_edit.py
  autotest/pyscripts/test_gdal_fillnodata.py
  autotest/pyscripts/test_gdal_merge.py
  autotest/pyscripts/test_gdal_pansharpen.py
  autotest/pyscripts/test_gdal_polygonize.py
  autotest/pyscripts/test_gdal_proximity.py
  autotest/pyscripts/test_gdal_retile.py
  autotest/pyscripts/test_gdal_sieve.py
  autotest/pyscripts/test_gdalattachpct.py
  autotest/pyscripts/test_gdalcompare.py
  autotest/pyscripts/test_gdalmove.py
  autotest/pyscripts/test_ogr_layer_algebra.py
  autotest/pyscripts/test_ogrmerge.py
  autotest/pyscripts/test_pct.py
  swig/include/python/python_exceptions.i
  swig/python/gdal-utils/osgeo_utils/auxiliary/util.py
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
  swig/python/gdal-utils/osgeo_utils/gdal2xyz.py
  swig/python/gdal-utils/osgeo_utils/gdal_calc.py
  swig/python/gdal-utils/osgeo_utils/gdal_edit.py
  swig/python/gdal-utils/osgeo_utils/gdal_fillnodata.py
  swig/python/gdal-utils/osgeo_utils/gdal_merge.py
  swig/python/gdal-utils/osgeo_utils/gdal_pansharpen.py
  swig/python/gdal-utils/osgeo_utils/gdal_polygonize.py
  swig/python/gdal-utils/osgeo_utils/gdal_proximity.py
  swig/python/gdal-utils/osgeo_utils/gdal_retile.py
  swig/python/gdal-utils/osgeo_utils/gdal_sieve.py
  swig/python/gdal-utils/osgeo_utils/gdalattachpct.py
  swig/python/gdal-utils/osgeo_utils/gdalcompare.py
  swig/python/gdal-utils/osgeo_utils/gdalmove.py
  swig/python/gdal-utils/osgeo_utils/ogr_layer_algebra.py
  swig/python/gdal-utils/osgeo_utils/ogrmerge.py
  swig/python/gdal-utils/osgeo_utils/pct2rgb.py
  swig/python/gdal-utils/osgeo_utils/rgb2pct.py
  swig/python/gdal-utils/scripts/gdal2tiles.py
  swig/python/gdal-utils/scripts/gdal2xyz.py
  swig/python/gdal-utils/scripts/gdal_calc.py
  swig/python/gdal-utils/scripts/gdal_edit.py
  swig/python/gdal-utils/scripts/gdal_fillnodata.py
  swig/python/gdal-utils/scripts/gdal_merge.py
  swig/python/gdal-utils/scripts/gdal_pansharpen.py
  swig/python/gdal-utils/scripts/gdal_polygonize.py
  swig/python/gdal-utils/scripts/gdal_proximity.py
  swig/python/gdal-utils/scripts/gdal_retile.py
  swig/python/gdal-utils/scripts/gdal_sieve.py
  swig/python/gdal-utils/scripts/gdalattachpct.py
  swig/python/gdal-utils/scripts/gdalcompare.py
  swig/python/gdal-utils/scripts/gdalmove.py
  swig/python/gdal-utils/scripts/ogr_layer_algebra.py
  swig/python/gdal-utils/scripts/ogrmerge.py
  swig/python/gdal-utils/scripts/pct2rgb.py
  swig/python/gdal-utils/scripts/rgb2pct.py
Labels: backport release/3.9

#9926 GDALNoDataMaskBand::IRasterIO(): fix crash on memory allocation failure
  autotest/gcore/mask.py
  gcore/gdalnodatamaskband.cpp
Labels: backport release/3.9

#9984 PDF: fix build against PoDoFo with MSYS2 UCRT64 and CLANG64 environments
  frmts/pdf/pdfsdk_headers.h
Labels: backport release/3.9

#9986 OGRSQL: validate column name in COUNT(field_name)
  autotest/ogr/ogr_sql_test.py
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/swq_select.cpp
Labels: backport release/3.9

#9989 LIBKML: fix handling of styleUrl element referencing to an external document
  autotest/ogr/data/kml/point_with_external_style.kml
  autotest/ogr/data/kml/style_of_point_with_external_style/style.kml
  autotest/ogr/ogr_libkml.py
  ogr/ogrsf_frmts/libkml/ogr_libkml.h
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmlfeaturestyle.cpp
Labels: backport release/3.9

#10007 ESRIC: ingest more bytes to be able to identify more datasets
  autotest/gdrivers/esric.py
  frmts/esric/esric_dataset.cpp
Labels: backport release/3.9

#10060 MiraMonVector: fix a case sensitive comparison
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9
