Repository OSGeo/gdal, pull requests merged in 2024-09, with the labels that each got.

#10673 Doc: add a Maintenance policy section
  doc/source/download.rst
Labels: backport release/3.9

#10672 Geoloc: fix bad usage of path API that resulted in temporary files not being created where expected
  alg/gdalgeoloc_dataset_accessor.h
Labels: backport release/3.9

#10699 MrSID: prevent infinite recursion in MrSIDDataset::IRasterIO() in some cases
  frmts/mrsid/mrsiddataset.cpp
Labels: backport release/3.9

#10656 GRIB: adjust longitude range from [180, xxx] to [-180, xxx]
  autotest/gdrivers/data/grib/minx_180.grib2
  autotest/gdrivers/grib.py
  frmts/grib/gribdataset.cpp
Labels: backport release/3.9

#10741 [argparse][gdal_rasterize] Port to arg parser
  apps/gdal_rasterize_bin.cpp
  apps/gdal_rasterize_lib.cpp
  apps/gdal_utils_priv.h
Labels: enhancement

#10736 autotest: ogr_pg.py: make it work with PostgreSQL release candidates
  autotest/ogr/ogr_pg.py
Labels: test suite

#10738 autotest: avoid deprecation warnings related to DataSource.Release()
  autotest/ogr/ogr_index_test.py
  autotest/ogr/ogr_refcount.py
Labels: test suite

#10759 Doc: Make sidebar version text visible
  doc/source/gdal_rtd/static/css/gdal.css
Labels: documentation

#10770 [gdal_rasterize] Fix crash with no options after argparser
  apps/gdal_rasterize_lib.cpp
  autotest/utilities/test_gdal_rasterize_lib.py
Labels: regression

#10782 Doc: insert Unicode zero-width space character in :choices: output, to be nice with browsers line-break insertion logic
  doc/source/_extensions/configoptions.py
Labels: documentation

#10786 Make OGRSFDriver::TestCapability(ODrCCreateDataSource) work with defered-loaded drivers
  ogr/ogrsf_frmts/generic/ogrsfdriver.cpp
Labels: backport release/3.9

#10775 Fix FlatGeobuf MultiLineString spec conformance
  autotest/ogr/data/flatgeobuf/test_ogr_flatgeobuf_singlepart_mls_new.fgb
  autotest/ogr/ogr_flatgeobuf.py
  ogr/ogrsf_frmts/flatgeobuf/geometryreader.cpp
Labels: backport release/3.9

#10796 JPEG: Fix inverted handling of GDAL_ERROR_ON_LIBJPEG_WARNING
  autotest/gdrivers/data/jpeg/byte_corrupted3.jpg
  autotest/gdrivers/jpeg.py
  frmts/jpeg/jpgdataset.cpp
Labels: backport release/3.9

#10791 OpenFileGDB: exclude straight line segments when parsing arcs
  autotest/ogr/data/filegdb/arc_segment_interior_point_but_line.gdb.zip
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrpgeogeometry.cpp
Labels: backport release/3.9

#10798 TileDB: make Identify() method return false if passed object is not a directory
  frmts/tiledb/tiledbcommon.cpp
  frmts/tiledb/tiledbdrivercore.cpp
  frmts/tiledb/tiledbdrivercore.h
Labels: backport release/3.9

#10711 Doc: add instructions for Android installation
  doc/source/download.rst
Labels: documentation, backport release/3.9

#10822 gdalwarp: fix crash/infinite loop when using -tr one a 1x1 blank raster (3.8.0 regression)
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: backport release/3.9

#10824 /vsitar/: fix support of /vsitar/ of /vsitar/
  autotest/gcore/data/tar_of_tar_gzip.tar
  autotest/gcore/vsifile.py
  port/cpl_vsil_gzip.cpp
Labels: backport release/3.9

#10720 GDALRegenerateOverviewsMultiBand(): make sure than when computing large reduction factors (like > 1024)…
  autotest/gcore/tiff_ovr.py
  gcore/overview.cpp
Labels: backport release/3.9

#10737 Doc: RasterIO(): clarify that the window of interest must be fully within the raster space
  gcore/gdaldataset.cpp
  gcore/gdalrasterband.cpp
Labels: documentation

#10761 Overview: fix nearest and mode resamplings to be exact with all data types
  autotest/gcore/rasterio.py
  gcore/gdalnodatamaskband.cpp
  gcore/overview.cpp
  gcore/rasterio.cpp
Labels: backport release/3.9

#10794 MEM layer: fix UpdateFeature() that didn't mark the layer as updated, which caused GeoJSON files to not be updated
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/mem/ogrmemlayer.cpp
Labels: backport release/3.9

#10806 Make GMLAS and NAS drivers robust to XML billion laugh attack
  autotest/ogr/data/gml/billionlaugh.gml
  autotest/ogr/data/gml/billionlaugh.xsd
  autotest/ogr/data/nas/billionlaugh.xml
  autotest/ogr/ogr_gml.py
  autotest/ogr/ogr_gmlas.py
  autotest/ogr/ogr_nas.py
  ogr/ogrsf_frmts/gmlas/ogr_gmlas.h
  ogr/ogrsf_frmts/gmlas/ogrgmlasreader.cpp
  ogr/ogrsf_frmts/nas/nashandler.cpp
  ogr/ogrsf_frmts/nas/nasreader.cpp
  ogr/ogrsf_frmts/nas/nasreaderp.h
Labels: backport release/3.9

#10831 Python bindings: silence SWIG 'detected a memory leak' message
  swig/python/setup.py.in
Labels: backport release/3.9

#10865 GeoRaster: Preserve quote in the connection string to the GeoRaster driver so th…
  frmts/georaster/georaster_wrapper.cpp
Labels: backport release/3.9

#10808 Python bindings: clarify destNameOrDestDS semantics regarding updates
  swig/include/python/gdal_python.i
Labels: documentation

#10812 Speed-up geolocation-array based warping of Sentinel3 datasets
  alg/gdalgeoloc.cpp
  alg/gdalgeoloc_dataset_accessor.h
  autotest/gcore/vrt_read.py
  frmts/vrt/vrtsourcedrasterband.cpp
  frmts/vrt/vrtsources.cpp
Labels: backport release/3.9

#10890 CI Mac Homebrew: workaround issue with latest hdf5 package
  .github/workflows/cmake_builds.yml
Labels: backport release/3.9

#10885 [gdal_contour] Fix regression when fixed level == raster max
  alg/contour.cpp
  alg/marching_squares/segment_merger.h
  autotest/alg/contour.py
Labels: bug, regression, backport release/3.9

#10895 VRTProcessedDataset: fix issue when computing RasterIO window on auxiliary datasets on right-most/bottom-most tiles
  autotest/gdrivers/vrtprocesseddataset.py
  frmts/vrt/vrtprocesseddatasetfunctions.cpp
Labels: backport release/3.9

#10894 Warper: fix too lax heuristics about antimeridian warping for Avg/Sum/Q1/Q3/Mode algorithms
  alg/gdalwarpkernel.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: backport release/3.9

#10849 PDF: avoid 'Non closed ring detected' warning when reading neatlines from OGC Best Practice encoding
  autotest/gdrivers/pdf.py
  frmts/pdf/pdfdataset.cpp
Labels: backport release/3.9

#10868 GTiff: fix to not delete DIMAP XML files when cleaning overviews on a DIMAP2 GeoTIFF file with external overviews
  autotest/gcore/tiff_read.py
  frmts/gtiff/gtiffdataset_read.cpp
Labels: backport release/3.9
