Repository OSGeo/gdal, pull requests merged in 2024-04, with the labels that each got.

#9590 GMLAS: fix crash when reading CityGML files (fixes r-spatial/sf#2371)
  autotest/ogr/data/gmlas/citygml_empty_lod1.gml
  autotest/ogr/ogr_gmlas.py
  ogr/ogrsf_frmts/gmlas/ogrgmlaslayer.cpp
Labels: backport release/3.8

#9669 VSICACHE: avoid EOF read
  autotest/gcore/vsifile.py
  port/cpl_vsil_cache.cpp
Labels: bug

#9687 gdalinfo: use argparser
  apps/gdal_utils_priv.h
  apps/gdalargumentparser.cpp
  apps/gdalargumentparser.h
  apps/gdalinfo_bin.cpp
  apps/gdalinfo_lib.cpp
  autotest/utilities/test_gdalinfo.py
  autotest/utilities/test_gdalinfo_lib.py
  doc/source/programs/gdalinfo.rst
Labels: enhancement

#9724 GDALSuggestedWarpOutput2(): make changes of PR #9336 honour SRC_METHOD=NO_GEOTRANSFORM
  alg/gdaltransformer.cpp
Labels: backport release/3.9

#9734 Miramon: fixes and additional tests
  autotest/ogr/data/miramon/Arcs/SimpleArcs/SimpleArcFileA.dbf
  autotest/ogr/data/miramon/CorruptedFiles/NoDBF/NoDBF.pnt
  autotest/ogr/data/miramon/CorruptedFiles/NoDBF/NoDBFT.rel
  autotest/ogr/data/miramon/CorruptedFiles/NoREL/NoREL.pnt
  autotest/ogr/data/miramon/CorruptedFiles/NoREL/NoRELT.dbf
  autotest/ogr/data/miramon/CorruptedFiles/ShortFile/ShortFile.pnt
  autotest/ogr/data/miramon/CorruptedFiles/ShortFile/ShortFileT.dbf
  autotest/ogr/data/miramon/CorruptedFiles/ShortFile/ShortFileT.rel
  autotest/ogr/data/miramon/CorruptedFiles/WrongDBF/WrongDBF.pnt
  autotest/ogr/data/miramon/CorruptedFiles/WrongDBF/WrongDBFT.DBF
  autotest/ogr/data/miramon/CorruptedFiles/WrongDBF/WrongDBFT.rel
  autotest/ogr/data/miramon/CorruptedFiles/WrongVersion/WrongVersion.pnt
  autotest/ogr/data/miramon/CorruptedFiles/WrongVersion/WrongVersionT.dbf
  autotest/ogr/data/miramon/CorruptedFiles/WrongVersion/WrongVersionT.rel
  autotest/ogr/data/miramon/Points/3dpoints/Some3dPoints.pnt
  autotest/ogr/data/miramon/Points/3dpoints/Some3dPointsT.dbf
  autotest/ogr/data/miramon/Points/3dpoints/Some3dPointsT.rel
  autotest/ogr/data/miramon/Polygons/Multipolygons/Multipolygons.arc
  autotest/ogr/data/miramon/Polygons/Multipolygons/Multipolygons.nod
  autotest/ogr/data/miramon/Polygons/Multipolygons/Multipolygons.pol
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsA.dbf
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsA.rel
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsN.dbf
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsN.rel
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsP.dbf
  autotest/ogr/data/miramon/Polygons/Multipolygons/MultipolygonsP.rel
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/ogrmiramondriver.cpp
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#9729 Fix generated find_dependency
  cmake/helpers/CheckDependentLibraries.cmake
Labels: backport release/3.9

#9740 [argparse] Return argument reference from add methods
  apps/gdalargumentparser.cpp
  apps/gdalargumentparser.h
Labels: enhancement

#9739 [gdal_contour] argparser
  apps/gdal_contour.cpp
Labels: enhancement

#9746 ogrinfo and ogr2ogr: update to use store_into(GIntBig&)
  apps/argparse/README.TXT
  apps/argparse/argparse.hpp
  apps/ogr2ogr_lib.cpp
  apps/ogrinfo_lib.cpp
Labels: backport release/3.9

#9735 OGR_CT: use PROJJSON rather than in WKT:2019
  autotest/osr/osr_ct.py
  ogr/ogr_spatialref.h
  ogr/ogr_srs_api.h
  ogr/ogrct.cpp
  ogr/ogrspatialreference.cpp
  scripts/cppcheck.sh
  swig/include/osr.i
Labels: backport release/3.9

#9755 Update ogr2ogr.rst to stay on screen in Linux man page
  doc/source/programs/ogr2ogr.rst
Labels: backport release/3.9

#9759 MiraMonVectorDriver: deleting unused functions/parameters
  ogr/ogrsf_frmts/miramon/mm_constants.h
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
  ogr/ogrsf_frmts/miramon/mm_wrlayr.h
Labels: backport release/3.9

#9725 TileDB: migrate away from deprecated APIs
  autotest/gdrivers/tiledb_multidim.py
  autotest/ogr/ogr_tiledb.py
  cmake/helpers/CheckDependentLibraries.cmake
  doc/source/development/building_from_source.rst
  frmts/tiledb/CMakeLists.txt
  frmts/tiledb/include_tiledb.h
  frmts/tiledb/tiledbcommon.cpp
  frmts/tiledb/tiledbdense.cpp
  frmts/tiledb/tiledbdrivercore.cpp
  frmts/tiledb/tiledbheaders.h
  frmts/tiledb/tiledbmultidim.cpp
  frmts/tiledb/tiledbmultidim.h
  frmts/tiledb/tiledbmultidimarray.cpp
  frmts/tiledb/tiledbmultidimattribute.cpp
  frmts/tiledb/tiledbmultidimattributeholder.cpp
  frmts/tiledb/tiledbmultidimgroup.cpp
  frmts/tiledb/tiledbsparse.cpp
Labels: backport release/3.9

#9763 GDALVectorInfo(): fix 3.9.0beta1 regression regarding passing layer names
  apps/ogrinfo_lib.cpp
  autotest/utilities/test_ogrinfo_lib.py
Labels: backport release/3.9

#9773 MiraMonVector driver. Adding tests + one fix
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFile.arc
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFile.nod
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFile.pol
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileA.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileA.rel
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileN.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileN.rel
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileP.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle1/SimplePolFileP.rel
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFile.arc
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFile.nod
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFile.pol
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileA.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileA.rel
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileN.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileN.rel
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileP.dbf
  autotest/ogr/data/miramon/CorruptedFiles/InexistentCycle2/SimplePolFileP.rel
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFile.arc
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFile.nod
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFile.pol
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileA.dbf
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileA.rel
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileN.dbf
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileN.rel
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileP.dbf
  autotest/ogr/data/miramon/Polygons/SimplePolygonsCycleNoExt/SimplePolFileP.rel
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#9762 Docker: update to Ubuntu 24.04
  docker/README.md
  docker/ubuntu-full/Dockerfile
  docker/ubuntu-full/bh-gdal.sh
  docker/ubuntu-full/bh-proj.sh
  docker/ubuntu-full/bh-set-envvars.sh
  docker/ubuntu-small/Dockerfile
  docker/ubuntu-small/bh-set-envvars.sh
Labels: backport release/3.9

#9776 Miramon: avoid Unsigned-integer-overflow in MMCreateExtendedDBFIndex()
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
Labels: backport release/3.9

#9794 gdalinfo and ogrinfo -json: add newline character at end of JSON output
  apps/gdalinfo_lib.cpp
  apps/ogrinfo_lib.cpp
Labels: backport release/3.9

#9793 OGRLayer::WriteArrowBatch(): add tolerance for field type mismatches if int32/int64/real
  autotest/ogr/ogr_mem.py
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
Labels: backport release/3.9

#9796 Parquet: fix ResetReading() implementation, when using the ParquetDataset API and when there's a single batch
  autotest/ogr/ogr_parquet.py
  ogr/ogrsf_frmts/parquet/ogr_parquet.h
  ogr/ogrsf_frmts/parquet/ogrparquetdatasetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
Labels: backport release/3.9

#9798 OGRCloneArrowArray(): add missing support for 'tss:' Arrow type
  autotest/ogr/ogr_arrow.py
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
Labels: backport release/3.9

#9812 Correcting Boolean Field (and removing unnecessary things)
  autotest/ogr/data/miramon/Points/SimplePoints/SimplePointsFileT.dbf
  autotest/ogr/ogr_miramon_vector.py
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
  ogr/ogrsf_frmts/miramon/mm_wrlayr.h
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#9817 CI: re-enable MacOS Python tests
  ci/travis/osx/before_install.sh
  ci/travis/osx/script.sh
Labels: backport release/3.9

#9807 HDF5: support HDF5EOS metadata where the GROUP=GridStructure has an empty sub GROUP=Dimension
  autotest/gdrivers/data/hdf5/dummy_HDFEOS_with_utm_projection_empty_GROUP_dimension.h5
  autotest/gdrivers/data/hdf5/scale_offset.h5
  autotest/gdrivers/hdf5.py
  frmts/hdf5/hdf5eosparser.cpp
  frmts/hdf5/hdf5imagedataset.cpp
Labels: backport release/3.9

#9809 gdal2tiles: support an input dataset name not being a file
  autotest/pyscripts/gdal2tiles/test_option_parser.py
  autotest/pyscripts/test_gdal2tiles.py
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.9

#9785 LOS: Implement simple violation location reporting
  alg/los.cpp
  autotest/cpp/test_alg.cpp
Labels: backport release/3.9
