Repository OSGeo/gdal, pull requests merged in 2024-06, with the labels that each got.

#10105 netCDFAttribute::IWrite(): fix writing an array of (NC4) strings, from a non-string array
  autotest/gdrivers/netcdf_multidim.py
  frmts/netcdf/netcdfmultidim.cpp
Labels: backport release/3.9

#10110 MiraMonVector: fixing accepted metadata versions/subversions
  ogr/ogrsf_frmts/miramon/mm_gdal_driver_structs.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.9

#10008 OpenFileGDB: a couple writer side fixes
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/filegdbtable.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdbtable.h
  ogr/ogrsf_frmts/openfilegdb/filegdbtable_write.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdbtable_write_fields.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource_write.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
  ogr/ogrsf_frmts/openfilegdb/test_ofgdb_write.cpp
Labels: backport release/3.9

#10004 PG: avoid errors related to ogr_system_tables.metadata when user has not enough permissions
  autotest/ogr/ogr_pg.py
  doc/source/drivers/vector/pg.rst
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
Labels: backport release/3.9

#10082 FileGDB: fix creating a geometry-less table with ogr2ogr (3.9.0 regression)
  apps/ogr2ogr_lib.cpp
  autotest/ogr/ogr_fgdb.py
  ogr/ogrsf_frmts/filegdb/FGdbLayer.cpp
Labels: backport release/3.9

#10040 GML: fix issue with nested elements with identical names in GML_SKIP_RESOLVE_ELEMS=HUGE mode
  autotest/ogr/data/gml/same_nested_property_name.gml
  autotest/ogr/ogr_gml.py
  doc/source/drivers/vector/gml.rst
  ogr/ogrsf_frmts/gml/gmlreaderp.h
  ogr/ogrsf_frmts/gml/hugefileresolver.cpp
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
Labels: backport release/3.9

#10108 Fix issue related to wrapping a netCDF dataset accrong antimeridian
  alg/gdaltransformer.cpp
  autotest/gdrivers/netcdf.py
  autotest/utilities/test_gdalwarp_lib.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.9

#10052 HDF5: add support for libhdf5 >= 1.14.4.2 when built with Float16
  autotest/gdrivers/hdf5multidim.py
  frmts/hdf5/gh5_convenience.cpp
  frmts/hdf5/hdf5_api.h
  frmts/hdf5/hdf5dataset.cpp
  frmts/hdf5/hdf5dataset.h
  frmts/hdf5/hdf5imagedataset.cpp
  frmts/hdf5/hdf5multidim.cpp
Labels: backport release/3.9

#10114 [gdalmanage] Use GDALArgumentParser
  apps/gdalmanage.cpp
  autotest/pymod/test_cli_utilities.py
  autotest/utilities/test_gdalmanage.py
  doc/source/programs/gdalmanage.rst
Labels: enhancement

#10072 STACIT: implement paging using POST method
  autotest/gdrivers/data/stacit/test.json
  autotest/gdrivers/data/stacit/test_page2.json
  autotest/gdrivers/stacit.py
  frmts/stacit/stacitdataset.cpp
Labels: backport release/3.9

#10078 ogr2ogr: error out if GCP transform creation fails; GCPTransformer: accept only 2 points for order=1 transformer
  alg/gdal_crs.cpp
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.9

#10095 ESRIJSON: fix paging when URL contains f=pjson instead of f=json
  ogr/ogrsf_frmts/geojson/ogresrijsonreader.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondriver.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonutils.cpp
Labels: backport release/3.9

#10126 VSIStatL(): allow trailing slash on mingw64 builds
  autotest/gcore/vsifile.py
  port/cpl_vsil_win32.cpp
Labels: backport release/3.9

#10147 [ogrlineref] Use GDALArgumentParser
  apps/ogrlineref.cpp
Labels: enhancement

#10160 Fix rendering of code block in python readme
  swig/python/README.rst
Labels: backport release/3.9

#10128 GDALContourGenerateEx(): validate LEVEL_INTERVAL option
  alg/contour.cpp
  autotest/alg/contour.py
Labels: backport release/3.9

#10140 GeoTIFF multithreaded reading: avoid emitting tons of warnings when ExtraSamples tag is missing
  autotest/gcore/data/gtiff/missing_extrasamples.tif
  autotest/gcore/tiff_read.py
  frmts/gtiff/gtiffdataset_read.cpp
Labels: backport release/3.9

#10142 LIBKML: fix performance issue when writing large files
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
Labels: backport release/3.9

#10158 GTiff: fix reading / writing angular projection parameters in non-degree unit (typically grads)
  autotest/gcore/data/gtiff/epsg_27563_allgeokeys.tif
  autotest/gcore/tiff_srs.py
  doc/source/drivers/raster/gtiff.rst
  frmts/gtiff/gt_wkt_srs.cpp
Labels: backport release/3.9

#10166 GTiff writer: limit number of GCPs in GeoTIFF tag to 10922 to avoid overflowing uint16_t
  autotest/gcore/tiff_write.py
  frmts/gtiff/gtiffdataset_write.cpp
Labels: backport release/3.9

#10200 Fix crash in ogr2ogr (or Arrow based workflows) from GeoPackage/GeoParquet to PMTiles (3.9.0 regression)
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
  ogr/ogrsf_frmts/mvt/ogrmvtdataset.cpp
Labels: backport release/3.9

#10204 HDF5-EOS products related adjustments
  autotest/gdrivers/data/hdf5/fwhm.h5
  autotest/gdrivers/fast.py
  autotest/gdrivers/hdf5.py
  autotest/osr/osr_usgs.py
  frmts/hdf5/hdf5imagedataset.cpp
  ogr/ogr_srs_usgs.cpp
Labels: backport release/3.9

#10209 DXF: avoid slight numeric imprecision with closed lwpolyline and arcs
  autotest/ogr/data/dxf/closed_polyline_with_bulge.dxf
  autotest/ogr/ogr_dxf.py
  ogr/ogrsf_frmts/dxf/ogrdxf_polyline_smooth.cpp
Labels: backport release/3.9

#10230 Python bindings: Avoid crash when using orphaned subgeometry
  autotest/ogr/ogr_geom.py
  swig/include/python/ogr_python.i
Labels: python bindings, backport release/3.9

#10213 [gpkg] Implement ALTER TABLE RENAME for rasters
  autotest/gdrivers/gpkg.py
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
Labels: enhancement

#10215 GRIB: make .idx reading compatible of /vsisubfile/
  autotest/gdrivers/grib.py
  frmts/grib/gribdataset.cpp
Labels: backport release/3.9

#10233 Rasterband methods (histogram, statistics): make them compatible of a …
  gcore/gdal_misc.cpp
  gcore/gdalrasterband.cpp
Labels: backport release/3.9

#10232 Python bindings: make them compatible of SWIG 4.3.0dev
  .github/workflows/alpine/Dockerfile.ci
  swig/include/python/typemaps_python.i
Labels: backport release/3.9

#10234 Doc: Updates to download.rst
  doc/source/download.rst
  doc/source/download_past.rst
Labels: documentation

#10248 GeoParquet: always write version=1.1.0
  autotest/ogr/data/parquet/schema_1_1_0.json
  autotest/ogr/ogr_parquet.py
  autotest/pyscripts/test_validate_geoparquet.py
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
  swig/python/gdal-utils/osgeo_utils/samples/validate_geoparquet.py
Labels: backport release/3.9

#10246 Overview generation: fix multi-threaded bug, resulting in locks/crashes with GeoPackage in particular
  gcore/gdal_priv.h
  gcore/overview.cpp
  gcore/rasterio.cpp
Labels: backport release/3.9

#10249 GDALSieveFilter(): avoid assert() when all pixels are masked (3.9.0 regression)
  alg/gdalsievefilter.cpp
  autotest/alg/sieve.py
Labels: backport release/3.9

#10256 VRT: fix serialization of separatable kernel in VRTKernelFilteredSource
  autotest/gdrivers/vrtfilt.py
  frmts/vrt/vrtfilters.cpp
Labels: backport release/3.9

#10258 OGR layer algebra: honour PROMOTE_TO_MULTI=YES for Points
  autotest/ogr/ogr_layer_algebra.py
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
Labels: backport release/3.9

#10262 SQLite/GPKG: detect UNIQUE constraints expressed as a ', CONSTRAINT name UNIQUE (column_name)' at the end of CREATE TABLE
  autotest/ogr/ogr_sqlite.py
  ogr/ogrsf_frmts/sqlite/ogrsqliteutility.cpp
Labels: backport release/3.9

#10267 Various undefined behavior sanitizer fixes
  apps/gdal_translate_lib.cpp
  autotest/cpp/test_gdal.cpp
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/netcdf/netcdfdataset.cpp
  frmts/zarr/zarr_array.cpp
  gcore/gdal_priv_templates.hpp
  gcore/gdalrasterband.cpp
  ogr/ogr_srs_usgs.cpp
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdbtable_write.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
Labels: backport release/3.9

#10274 OGR SQL: fix crash when the ON expression of a JOIN contains OGR special fields (in particular feature id)
  autotest/ogr/ogr_join_test.py
  autotest/ogr/ogr_pmtiles.py
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
Labels: backport release/3.9

#10303 update links in `generate_leaflet()`
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.9

#10321 Use correct OpenStreetMap tile url in gdal2tiles.py generated HTML
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: backport release/3.9

#10318 LIBKML: fix writing a .kmz to cloud storage
  autotest/ogr/ogr_libkml.py
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
Labels: backport release/3.9
