Repository OSGeo/gdal, pull requests merged in 2024-08, with the labels that each got.

#10527 CI: explicitly install setuptools for Conda based builds
  .github/workflows/cmake_builds.yml
  autotest/gcore/vsicurl.py
  ci/travis/conda/meta.yaml.patch
  ci/travis/conda/setup.sh
  ci/travis/osx/before_install.sh
Labels: backport release/3.9

#10538 MiraMonVector: fix Issue 70860 in oss-fuzz
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.9

#10545 JSONFG: fix reading non-FeatureCollection documents larger than 6,000 bytes
  autotest/ogr/ogr_jsonfg.py
  ogr/ogrsf_frmts/jsonfg/ogrjsonfgdataset.cpp
Labels: backport release/3.9

#10520 EPSGTreatsAsNorthingEasting(): make it work correctly with compound CRS
  autotest/osr/osr_epsg.py
  ogr/ogrspatialreference.cpp
Labels: backport release/3.9

#10517 SRTMHGT: add support for 0.5 deg resolution datasets
  autotest/gdrivers/srtmhgt.py
  frmts/srtmhgt/srtmhgtdataset.cpp
Labels: backport release/3.9

#10558 COG: properly deal with mask bands w.r.t resampling when generating JPEG output, or when input has a mask band
  autotest/gcore/cog.py
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/gt_overview.cpp
  frmts/gtiff/gt_overview.h
  frmts/gtiff/gtiffdataset_write.cpp
Labels: backport release/3.9

#10562 Fix -Wnull-dereference warnings of gcc 14.2
  alg/gdalsievefilter.cpp
  frmts/jpegxl/jpegxl.cpp
Labels: backport release/3.9

#10444 NITF 12-bit JPEG writer: fix potential crash if raster width > block width
  autotest/gdrivers/nitf.py
  frmts/nitf/nitfwritejpeg.cpp
Labels: backport release/3.9

#10445 Doc: API: mention header file to include
  doc/source/api/gdalattribute_cpp.rst
  doc/source/api/gdaldataset_cpp.rst
  doc/source/api/gdaldimension_cpp.rst
  doc/source/api/gdaldriver_cpp.rst
  doc/source/api/gdalextendeddatatype_cpp.rst
  doc/source/api/gdalgroup_cpp.rst
  doc/source/api/gdalmdarray_cpp.rst
  doc/source/api/gdalrasterband_cpp.rst
  doc/source/api/gdalwarp_cpp.rst
  doc/source/api/gnm_cpp.rst
  doc/source/api/ogrfeature_cpp.rst
  doc/source/api/ogrfeaturestyle_cpp.rst
  doc/source/api/ogrgeometry_cpp.rst
  doc/source/api/ogrlayer_cpp.rst
  doc/source/api/ogrspatialref.rst
Labels: documentation

#10447 GMLAS: avoid crash on a OSSFuzz generated xsd
  autotest/ogr/data/gmlas/test_ossfuzz_70511.xsd
  autotest/ogr/ogr_gmlas.py
  ogr/ogrsf_frmts/gmlas/ogr_gmlas.h
  ogr/ogrsf_frmts/gmlas/ogrgmlasschemaanalyzer.cpp
Labels: backport release/3.9

#10452 Shape: fix off-by-one write heap buffer overflow when deleting exactly 128, 232, etc. features and repacking
  ogr/ogrsf_frmts/shape/ogrshapelayer.cpp
Labels: backport release/3.9

#10453 XLSX: support documents whose XML elements have a prefix
  autotest/ogr/data/xlsx/with_xml_prefix.xlsx
  autotest/ogr/ogr_xlsx.py
  ogr/ogrsf_frmts/xlsx/ogrxlsxdatasource.cpp
Labels: backport release/3.9

#10454 GTFS: fix error when applying an attribute filter on a field whose advertized data type is not string
  autotest/ogr/ogr_gtfs.py
  ogr/ogrsf_frmts/gtfs/ogrgtfsdriver.cpp
Labels: backport release/3.9

#10465 GTI driver fixes
  autotest/gdrivers/gti.py
  doc/source/drivers/raster/gti.rst
  frmts/vrt/gdaltileindexdataset.cpp
Labels: backport release/3.9

#10466 GeoJSON: make sure geometry is reprojected even when it is invalid after coordinate rounding (3.9.0 regression)
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonwritelayer.cpp
Labels: backport release/3.9

#10468 GDALCopyWords(): Fix double->uint64 when input value > UINT64_MAX thattwas wrongly converted to 0
  autotest/cpp/testcopywords.cpp
  gcore/gdal_priv_templates.hpp
Labels: backport release/3.9

#10480 LIBKML: fix reading/writing style URL in KMZ files
  autotest/ogr/ogr_libkml.py
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmlfeaturestyle.cpp
Labels: backport release/3.9

#10488 PG: fix support for geometry/geography OID in range [2147483648, 4294967295]
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
  ogr/ogrsf_frmts/pg/ogrpglayer.cpp
Labels: backport release/3.9

#10495 CPLFormFilename()/CPLGetDirname()/CPLGetPath(): make it work with 'vsicurl/http://example.com?foo'…
  autotest/cpp/test_cpl.cpp
  gcore/gdalmultidim.cpp
  port/cpl_path.cpp
Labels: backport release/3.9

#10555 PG/PGDump: make sure spatial index name is unique, even if several tables have a long enough prefix
  autotest/ogr/ogr_pg.py
  autotest/ogr/ogr_pgdump.py
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
  ogr/ogrsf_frmts/pgdump/ogr_pgdump.h
  ogr/ogrsf_frmts/pgdump/ogrpgdumpdatasource.cpp
  ogr/ogrsf_frmts/pgdump/ogrpgdumplayer.cpp
Labels: backport release/3.9

#10557 OGRSQL: return in error when 'Did not find end-of-string character' is emitted
  autotest/ogr/ogr_sql_rfc28.py
  ogr/swq.cpp
Labels: backport release/3.9

#10586 gdallocationinfo: in -E echo mode, always report input coordinates, not pixel,line
  apps/gdallocationinfo.cpp
  autotest/utilities/test_gdallocationinfo.py
Labels: backport release/3.9

#10587 netCDF multidim: fix use-after-free on string variables in ReadOneElement()
  autotest/gdrivers/netcdf_multidim.py
  frmts/netcdf/netcdfmultidim.cpp
  swig/include/MultiDimensional.i
  swig/include/python/gdal_python.i
Labels: backport release/3.9

#10589 VRT: fix reading from virtual overviews when SrcRect / DstRect elements are missing
  autotest/gcore/vrt_read.py
  autotest/gdrivers/vrtprocesseddataset.py
  frmts/vrt/vrtsources.cpp
Labels: backport release/3.9

#10596 gdaldem color-relief: fix issues with entry at 0 and -exact_color_entry mode, and other issues
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdaldem_lib.py
Labels: backport release/3.9

#10616 KEA: fix overview writing so that tiles are correctly flushed
  frmts/kea/keaoverview.cpp
Labels: backport release/3.9

#10624 OpenFileGDB: add missing GetIndexCount() in FileGDBTable::CreateIndex
  ogr/ogrsf_frmts/openfilegdb/filegdbindex_write.cpp
Labels: backport release/3.9

#10615 JP2KAK: fix data corruption when creating multi-band tiled with the stripe compressor code path
  autotest/gdrivers/jp2kak.py
  frmts/jp2kak/jp2kakdataset.cpp
Labels: backport release/3.9

#10602 gdal_translate/GDALOverviewDataset: fix half-pixel shift issue when rescaling RPC
  apps/gdal_translate_lib.cpp
  autotest/gcore/overviewds.py
  autotest/utilities/test_gdal_translate.py
  autotest/utilities/test_gdal_translate_lib.py
  gcore/gdaloverviewdataset.cpp
Labels: backport release/3.9

#10603 OpenFileGDB raster: do not generate debug 'tmp.jpg' file when reading JPEG tiles
  ogr/ogrsf_frmts/openfilegdb/gdalopenfilegdbrasterband.cpp
Labels: backport release/3.9

#10607 Add a 'make spelling' target to doc/
  .github/workflows/doc_build.yml
  alg/gdalproximity.cpp
  alg/gdaltransformer.cpp
  alg/gdalwarper.cpp
  doc/CMakeLists.txt
  doc/Makefile
  doc/source/conf.py
  doc/source/development/dev_documentation.rst
  doc/source/development/rfc/rfc19_safememalloc.rst
  doc/source/development/rfc/rfc39_ogr_layer_algebra.rst
  doc/source/development/rfc/rfc41_multiple_geometry_fields.rst
  doc/source/development/rfc/rfc46_gdal_ogr_unification.rst
  doc/source/development/rfc/rfc47_dataset_caching.rst
  doc/source/development/rfc/rfc52_strict_sql_quoting.rst
  doc/source/development/rfc/rfc54_dataset_transactions.rst
  doc/source/development/rfc/rfc59.1_utilities_as_a_library.rst
  doc/source/development/rfc/rfc5_unicode.rst
  doc/source/development/rfc/rfc69_cplusplus_formatting.rst
  doc/source/development/rfc/rfc6_sqlgeom.rst
  doc/source/development/rfc/rfc73_proj6_wkt2_srsbarn.rst
  doc/source/development/rfc/rfc75_multidimensional_arrays.rst
  doc/source/development/rfc/rfc7_vsilapi.rst
  doc/source/development/rfc/rfc96_deferred_plugin_loading.rst
  doc/source/drivers/raster/fits.rst
  doc/source/drivers/raster/georaster.rst
  doc/source/drivers/raster/isis3.rst
  doc/source/drivers/raster/jpipkak.rst
  doc/source/drivers/raster/netcdf.rst
  doc/source/drivers/raster/safe.rst
  doc/source/drivers/raster/vrt.rst
  doc/source/drivers/vector/amigocloud.rst
  doc/source/drivers/vector/elasticsearch.rst
  doc/source/drivers/vector/plscenes_data_v1.rst
  doc/source/programs/gdal_calc.rst
  doc/source/programs/gdalmdimtranslate.rst
  doc/source/programs/ogrmerge.rst
  doc/source/programs/sozip.rst
  doc/source/spelling_wordlist.txt
  frmts/grib/gribcreatecopy.cpp
  gcore/gdalmultidim.cpp
  ogr/ogrsf_frmts/gmlas/data/gmlasconf.xsd
  port/cpl_odbc.h
  scripts/fix_typos.sh
  swig/include/python/docs/ogr_feature_docs.i
  swig/include/python/docs/ogr_layer_docs.i
  swig/include/python/docs/osr_docs.i
  swig/include/python/gdal_python.i
Labels: documentation

#10648 netCDF: honour BAND_NAMES creation option in CreateCopy()
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.9

#10434 Doc: Build documentation using ReadTheDocs
  .github/workflows/doc_checks.yml
  .readthedocs.yaml
  doc/Makefile
  doc/build/html_extra/robots.txt
  doc/environment.yml
  doc/requirements.txt
  doc/rtd/pre_build.sh
  doc/rtd/update_redirects.py
  doc/source/_extensions/redirects.py
  doc/source/_static/Sustainable GDAL Sponsorship Prospectus.pdf
  doc/source/about_no_title.rst
  doc/source/api/java/index.rst
  doc/source/conf.py
  doc/source/drivers/raster/index.rst
  doc/source/drivers/vector/index.rst
  doc/source/index.rst
  doc/source/sponsors/index.rst
Labels: documentation

#10659 Doc: Fix URL in GitHub edit links
  doc/source/conf.py
Labels: documentation

#10662 OpenFileGDB writer: fix writing a Int32 field with value -21121
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
Labels: backport release/3.9

#10665 Doc 3.9 backport: update sponsors and downloads
  doc/source/about_no_title.rst
  doc/source/download.rst
  doc/source/download_past.rst
  doc/source/sponsors/index.rst
Labels: documentation

#10668 gdalwarp.rst: fix spelling of the -te parameters
  doc/source/programs/gdalwarp.rst
Labels: backport release/3.9

#10677 port/cpl_conv.cpp: Use the right header for std::endian in C++20/23
  port/cpl_conv.cpp
Labels: backport release/3.9

#10683 Add new shapelib API functions to the symbol rename header
  ogr/ogrsf_frmts/shape/gdal_shapelib_symbol_rename.h
Labels: backport release/3.9

#10687 SQLite/GPKG: fix potential double-free issue when concurrently closing datasets when Spatialite is available
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
Labels: backport release/3.9

#10678 OpenFileGDB/filegdbtable.cpp: Use comments for Python code snippets in C/C++ instead of conditional compilation statements to prevent choking pre-processor
  ogr/ogrsf_frmts/openfilegdb/filegdbtable.cpp
  ogr/ogrsf_frmts/openfilegdb/find_srs_latitude_limits.py
Labels: backport release/3.9

#10694 Python bindings: Avoid linear scan in gdal_array.NumericTypeCodeToGDALTypeCode
  autotest/gcore/numpy_rw.py
  swig/include/gdal_array.i
Labels: python bindings
