Repository OSGeo/gdal, pull requests merged in 2024-11, with the labels that each got.

#11190 OGR SQL: fix wrong handling of NULL expression in AND and NOT (3.10.0 regression)
  MIGRATION_GUIDE.TXT
  autotest/cpp/test_ogr_swq.cpp
  autotest/ogr/ogr_sql_test.py
  ogr/swq_expr_node.cpp
  ogr/swq_op_general.cpp
Labels: backport release/3.10

#11177 Doc: add a page describing the RFC process step by step
  doc/source/community/index.rst
  doc/source/development/index.rst
  doc/source/development/rfc_process.rst
Labels: documentation, funded through GSP

#11119 CMake: use enable_testing() instead of include(CTest)
  CMakeLists.txt
Labels: funded through GSP

#11221 CI: try to solve issue with maxim-lobanov/setup-xcode action no longer accepting xcode 14.3
  .github/workflows/cmake_builds.yml
Labels: backport release/3.10

#11220 CPLDebug: Accept values of YES,TRUE,1
  autotest/gcore/misc.py
  port/cpl_error.cpp
Labels: backport release/3.10

#11194 Test suite: check that we can generate binary identical files compared to "golden" files
  autotest/gcore/cog.py
  autotest/gcore/data/cog/byte_little_endian_blocksize_16_predictor_standard_golden.tif
  autotest/gcore/data/cog/byte_little_endian_golden.tif
  autotest/gcore/data/gtiff/byte_little_endian_golden.tif
  autotest/gcore/data/gtiff/byte_little_endian_tiled_lzw_golden.tif
  autotest/gcore/data/gtiff/float32_little_endian_golden.tif
  autotest/gcore/data/gtiff/uint16_little_endian_golden.tif
  autotest/gcore/tiff_write.py
  autotest/gdrivers/data/jpeg2000/byte_lossless_openjp2_golden.jp2
  autotest/gdrivers/data/netcdf/byte_nc3_golden.nc
  autotest/gdrivers/jp2openjpeg.py
  autotest/gdrivers/netcdf.py
  autotest/ogr/data/gpkg/poly_golden.gpkg
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000001.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000001.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000002.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000002.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000003.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000003.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000004.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000004.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000005.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000005.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000006.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000006.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000007.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000007.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000009.gdbindexes
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000009.gdbtable
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000009.gdbtablx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/a00000009.spx
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/gdb
  autotest/ogr/data/openfilegdb/polygon_golden.gdb/timestamps
  autotest/ogr/data/shp/poly_golden/poly.dbf
  autotest/ogr/data/shp/poly_golden/poly.prj
  autotest/ogr/data/shp/poly_golden/poly.shp
  autotest/ogr/data/shp/poly_golden/poly.shx
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_openfilegdb_write.py
  autotest/ogr/ogr_shape.py
  ogr/ogrsf_frmts/openfilegdb/ogr_openfilegdb.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdb_generate_uuid.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource_write.cpp
Labels: test suite, funded through GSP

#11226 autotest: fix test failure with msys2 mingw64
  autotest/gnm/gnm_test.py
Labels: test suite, backport release/3.10, funded through GSP

#11224 gdaldem: fix help message for subcommands
  apps/argparse/argparse.hpp
  apps/gdalargumentparser.cpp
Labels: backport release/3.10, funded through GSP

#11229 autotest/cpp/googletest/CMakeLists.txt.in: bump minimum cmake_minimum…
  autotest/cpp/googletest/CMakeLists.txt.in
  cmake/modules/thirdparty/FindDotnet.cmake
Labels: backport release/3.10

#11202 Enable ARM Neon optimizations in gcore/ using sse2neon.h
  .github/workflows/android_cmake/start.sh
  .pre-commit-config.yaml
  CMakeLists.txt
  Doxyfile
  autotest/cpp/CMakeLists.txt
  autotest/cpp/test_gdal_minmax_element.cpp
  ci/travis/osx/install.sh
  ci/travis/osx/script.sh
  gcore/CMakeLists.txt
  gcore/gdal_minmax_element.hpp
  gcore/gdal_priv_templates.hpp
  gcore/gdalsse_priv.h
  gcore/include_sse2neon.h
  gcore/overview.cpp
  gcore/rasterio.cpp
  gcore/rasterio_ssse3.cpp
  gcore/rasterio_ssse3.h
  gcore/sse2neon.h
  gdal.cmake
  perftests/CMakeLists.txt
  perftests/testperf_gdal_minmax_element.cpp
  port/cpl_cpu_features.h
  scripts/fix_typos.sh
Labels: funded through GSP

#11196 OGRGeometry classes: implement move constructor and move assignment operator
  autotest/cpp/test_ogr.cpp
  ogr/ogr_geometry.h
  ogr/ogrcurvecollection.cpp
  ogr/ogrgeometry.cpp
  ogr/ogrgeometrycollection.cpp
  ogr/ogrlinestring.cpp
  scripts/cppcheck.sh
Labels: funded through GSP

#11241 autotest: fix pyarrow 18 compatibility
  autotest/ogr/ogr_mem.py
Labels: funded through GSP

#11255 CMake: fix swig/csharp/CMakeLists.txt compatibility with CMake 3.31
  swig/csharp/CMakeLists.txt
Labels: funded through GSP

#11266 Revert "CI: disable cfchecker based tests"
  .github/workflows/ubuntu_24.04/Dockerfile.ci
Labels: funded through GSP

#11250 Python bindings: add a colorInterpretation argument to gdal.Translate()
  autotest/utilities/test_gdal_translate_lib.py
  swig/include/python/gdal_python.i
Labels: backport release/3.10, funded through GSP

#11248 VRT: fix reading from a CFloat32/CFloat64 ComplexSource in a non-complex-type buffer
  autotest/gcore/data/gtiff/complex_non_zero_real_zero_imag.tif
  autotest/gcore/data/vrt/complex_non_zero_real_zero_imag.vrt
  autotest/gcore/data/vrt/complex_non_zero_real_zero_imag_as_float32.vrt
  autotest/gcore/vrt_read.py
  frmts/vrt/vrtsources.cpp
Labels: backport release/3.10, funded through GSP

#11120 Remove JP2Lura driver
  autotest/gdrivers/jp2lura.py
  autotest/gdrivers/jp2metadata.py
  autotest/pymod/gdaltest.py
  cmake/helpers/CheckDependentLibraries.cmake
  cmake/modules/packages/FindLURATECH.cmake
  doc/source/development/building_from_source.rst
  doc/source/drivers/raster/index.rst
  doc/source/drivers/raster/jp2lura.rst
  doc/source/spelling_wordlist.txt
  frmts/CMakeLists.txt
  frmts/drivers.ini
  frmts/gdalallregister.cpp
  frmts/jp2lura/CMakeLists.txt
  frmts/jp2lura/jp2luracallbacks.cpp
  frmts/jp2lura/jp2luracallbacks.h
  frmts/jp2lura/jp2luradataset.cpp
  frmts/jp2lura/jp2luradataset.h
  frmts/jp2lura/jp2luradrivercore.cpp
  frmts/jp2lura/jp2luradrivercore.h
  frmts/jp2lura/jp2lurarasterband.cpp
  frmts/jp2lura/jp2lurarasterband.h
  gcore/gdal_frmts.h
Labels: funded through GSP

#11273 Doc: FAQ: specificly points at QGIS for the GUI question
  doc/source/faq.rst
Labels: documentation

#11278 Update ogr2ogr.rst - missing filename option
  doc/source/programs/ogr2ogr.rst
Labels: backport release/3.10

#11287 CMake: use add_compile_options() instead of setting CMAKE_CXX_FLAGS for -fno-finite-math-only
  cmake/helpers/GdalCompilationFlags.cmake
Labels: backport release/3.10

#11289 avif: typo fix
  frmts/avif/avifdataset.cpp
Labels: backport release/3.10

#11285 DXF: use Z value for SPLINE entities
  autotest/ogr/ogr_dxf.py
  ogr/ogrsf_frmts/dxf/ogr_dxf.h
  ogr/ogrsf_frmts/dxf/ogrdxf_hatch.cpp
  ogr/ogrsf_frmts/dxf/ogrdxflayer.cpp
Labels: backport release/3.10

#11292 ogr2ogr: fix 'ogr2ogr out.parquet in.gpkg/fgb/parquet -t_srs {srs_def}' optimized code path (3.10.0 regression)
  apps/ogr2ogr_lib.cpp
  autotest/ogr/ogr_parquet.py
Labels: backport release/3.10

#11252 Doc: Python: move files around and add executable examples using myst-nb
  doc/requirements.txt
  doc/source/api/index.rst
  doc/source/api/python/data/byte.tif
  doc/source/api/python/general.rst
  doc/source/api/python/index.rst
  doc/source/api/python/mdim_api.rst
  doc/source/api/python/osgeo.rst
  doc/source/api/python/python_bindings.rst
  doc/source/api/python/python_examples.myst
  doc/source/api/python/python_gotchas.rst
  doc/source/api/python/python_samples.rst
  doc/source/api/python/raster_api.rst
  doc/source/api/python/spatial_ref_api.rst
  doc/source/api/python/utilities.rst
  doc/source/api/python/vector_api.rst
  doc/source/conf.py
  doc/source/development/dev_documentation.rst
Labels: documentation, funded through GSP

#11301 Doc: use sphinxcontrib_programoutput_gdal for gdalinfo doc
  .github/workflows/doc_checks.yml
  .pre-commit-config.yaml
  doc/requirements.txt
  doc/rtd/pre_build.sh
  doc/source/_extensions/sphinxcontrib_programoutput_gdal.py
  doc/source/conf.py
  doc/source/programs/gdalinfo.rst
Labels: documentation, funded through GSP

#11283 GPKG: make CreateCopy() work on vector datasets
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
Labels: backport release/3.10, funded through GSP

#11293 OGRWarpedLayer: do not use source layer GetArrowStream() as this would skip reprojection...
  autotest/ogr/ogr_vrt.py
  ogr/ogrsf_frmts/generic/ogrwarpedlayer.cpp
  ogr/ogrsf_frmts/generic/ogrwarpedlayer.h
Labels: backport release/3.10

#11318 CMake: MSVC 64-bit cleanup
  cmake/modules/packages/FindDB2.cmake
  frmts/gtiff/libtiff/CMakeLists.txt
  gdal.cmake
  port/CMakeLists.txt
Labels: backport release/3.10

#11324 gdalinfo: fix bound checking for value of -sds argument
  apps/gdal_translate_bin.cpp
  apps/gdalinfo_bin.cpp
Labels: backport release/3.10

#11271 Doc: Make CLI examples referenceable
  doc/source/_extensions/cli_example.py
  doc/source/_extensions/configoptions.py
  doc/source/conf.py
  doc/source/development/dev_documentation.rst
  doc/source/programs/gdal2tiles.rst
  doc/source/programs/gdal2xyz.rst
  doc/source/programs/gdal_calc.rst
  doc/source/programs/gdal_contour.rst
  doc/source/programs/gdal_create.rst
  doc/source/programs/gdal_edit.rst
  doc/source/programs/gdal_footprint.rst
  doc/source/programs/gdal_grid.rst
  doc/source/programs/gdal_merge.rst
  doc/source/programs/gdal_pansharpen.rst
  doc/source/programs/gdal_rasterize.rst
  doc/source/programs/gdal_translate.rst
  doc/source/programs/gdal_viewshed.rst
  doc/source/programs/gdaladdo.rst
  doc/source/programs/gdalbuildvrt.rst
  doc/source/programs/gdalenhance.rst
  doc/source/programs/gdalinfo.rst
  doc/source/programs/gdallocationinfo.rst
  doc/source/programs/gdalmdiminfo.rst
  doc/source/programs/gdalmdimtranslate.rst
  doc/source/programs/gdalsrsinfo.rst
  doc/source/programs/gdaltindex.rst
  doc/source/programs/ogr2ogr.rst
  doc/source/programs/ogrinfo.rst
  doc/source/programs/ogrlineref.rst
  doc/source/programs/ogrmerge.rst
  doc/source/programs/ogrtindex.rst
  doc/source/programs/rgb2pct.rst
Labels: documentation

#11205 /vsis3/ / AWS: implement support for AWS Single-Sign On (AWS IAM Identity Center)
  autotest/gcore/vsis3.py
  doc/source/user/virtual_file_systems.rst
  port/cpl_aws.cpp
  port/cpl_aws.h
  port/cpl_sha1.cpp
  port/cpl_sha1.h
Labels: backport release/3.10

#11208 netCDF: add a GDAL_NETCDF_REPORT_EXTRA_DIM_VALUES config option ...
  doc/source/drivers/raster/netcdf.rst
  frmts/netcdf/netcdfdataset.cpp
Labels: backport release/3.10, funded through GSP

#11210 Java bindings: add byte[] org.gdal.gdal.GetMemFileBuffer(String filename)
  swig/include/java/gdal_java.i
  swig/include/java/typemaps_java.i
  swig/java/apps/GDALTestIO.java
  swig/java/javadoc.java
Labels: backport release/3.10, funded through GSP

#11242 CI: update to Clang Static Analyzer 18
  .github/workflows/clang_static_analyzer.yml
  alg/gdalpansharpen.cpp
  apps/gdal_grid_lib.cpp
  apps/ogrinfo_lib.cpp
  frmts/ers/ersdataset.cpp
  frmts/ilwis/ilwisdataset.cpp
  frmts/iso8211/ddffielddefn.cpp
  frmts/kmlsuperoverlay/kmlsuperoverlaydataset.cpp
  frmts/netcdf/netcdfmultidim.cpp
  frmts/pds/vicardataset.cpp
  ogr/ograpispy.cpp
  ogr/ogrsf_frmts/gmlutils/gmlfeatureclass.cpp
  ogr/ogrsf_frmts/gpkg/gdalgeopackagerasterband.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource_write.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
  ogr/ogrsf_frmts/pmtiles/pmtiles/pmtiles.hpp
  ogr/ogrsf_frmts/shape/shape2ogr.cpp
  port/cpl_quad_tree.cpp
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_xml_validate.cpp
Labels: funded through GSP

#11275 GPKG: make sure gpkg_ogr_contents.feature_count = 0 on a newly created empty table
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.10, funded through GSP

#11335 Set GDAL_DEV_SUFFIX to the pre-release suffix if a corresponding Git tag was found
  cmake/helpers/GdalVersion.cmake
Labels: backport release/3.10

#11213 OGRLayer::GetArrowStream(): add a DATETIME_AS_STRING=YES/NO option
  apps/ogr2ogr_lib.cpp
  autotest/cpp/CMakeLists.txt
  autotest/cpp/test_ogr.cpp
  autotest/ogr/ogr_adbc.py
  autotest/ogr/ogr_flatgeobuf.py
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_mem.py
  autotest/ogr/ogr_parquet.py
  autotest/utilities/test_ogr2ogr_lib.py
  ogr/ogrsf_frmts/adbc/ogradbclayer.cpp
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
  ogr/ogrsf_frmts/generic/ograrrowarrayhelper.cpp
  ogr/ogrsf_frmts/generic/ogrlayerarrow.cpp
  ogr/ogrsf_frmts/generic/ogrlayerarrow.h
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagelayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: funded through GSP

#11239 Use SSE2 optimizations on ARM Neon for warping, pansharpening, gridding, dithering, RPC, PNG, GTI
  .github/workflows/benchmarks/test.sh
  alg/CMakeLists.txt
  alg/gdal_rpc.cpp
  alg/gdaldither.cpp
  alg/gdalgrid.cpp
  alg/gdalgridsse.cpp
  alg/gdalpansharpen.cpp
  alg/gdalwarpkernel.cpp
  ci/travis/osx/script.sh
  frmts/gti/CMakeLists.txt
  frmts/gti/gdaltileindexdataset.cpp
  frmts/png/CMakeLists.txt
  frmts/png/filter_sse2_intrinsics.c
  frmts/png/pngdataset.cpp
  frmts/png/pngdataset.h
  gcore/gdal_minmax_element.hpp
  gcore/gdal_priv_templates.hpp
  gcore/gdalsse_priv.h
  gcore/overview.cpp
Labels: funded through GSP

#11230 Emit a CE_Warning when CPLSet[Thread]ConfigOption() is called with a unknown config option, in debug mode
  .github/workflows/code_checks.yml
  apps/commonutils.cpp
  autotest/cpp/test_cpl.cpp
  doc/source/user/configoptions.rst
  gcore/gdal_misc.cpp
  gcore/gdalabstractbandblockcache.cpp
  ogr/ogrsf_frmts/gmlas/ogrgmlasreader.cpp
  port/cpl_conv.cpp
  port/cpl_conv.h
  port/cpl_http.cpp
  port/cpl_known_config_options.h
  scripts/collect_config_options.py
Labels: enhancement, funded through GSP

#11355 update gdal_sieve.rst
  doc/source/programs/gdal_sieve.rst
Labels: backport release/3.10

#11310 /vsicurl/: fix to allow to read Parquet partitionned datasets from public Azure container using /vsicurl/
  autotest/ogr/ogr_parquet.py
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_curl_class.h
Labels: backport release/3.10, funded through GSP

#11314 CMake: export -DGDAL_DEBUG as PUBLIC for debug builds
  autotest/postinstall/test_cpp/test_cpp.cpp
  gdal.cmake
  ogr/ogr_api.h
  ogr/ogr_feature.h
  ogr/ogr_geometry.h
  ogr/ogr_srs_api.h
  ogr/ograpispy.h
  port/cpl_error.h
Labels: backport release/3.10, funded through GSP

#11323 /vsiaz/: ReadDir(): be robust to a response to list blob that returns…
  autotest/gcore/vsiaz.py
  port/cpl_vsil_az.cpp
Labels: backport release/3.10

#11342 OCI: add a TIMESTAMP_WITH_TIME_ZONE layer creation option, and ogr2ogr tweaks
  apps/ogr2ogr_lib.cpp
  autotest/ogr/ogr_oci.py
  doc/source/drivers/vector/oci.rst
  ogr/ogrsf_frmts/oci/ogr_oci.h
  ogr/ogrsf_frmts/oci/ogrocidrivercore.cpp
  ogr/ogrsf_frmts/oci/ogrocisession.cpp
  ogr/ogrsf_frmts/oci/ogrocitablelayer.cpp
  ogr/ogrsf_frmts/oci/ogrociwritablelayer.cpp
Labels: backport release/3.10

#11343 GDALContourGenerateEx(): return CE_None even if the raster is at constant value
  alg/contour.cpp
  autotest/alg/contour.py
Labels: backport release/3.10, funded through GSP

#11348 Fix lots of Coverity Scan warnings in frmts/hdf4/hdf-eos
  frmts/hdf4/hdf-eos/EHapi.c
  frmts/hdf4/hdf-eos/GDapi.c
  frmts/hdf4/hdf-eos/HdfEosDef.h
  frmts/hdf4/hdf-eos/SWapi.c
Labels: backport release/3.10

#11373 Doxygen docs: use \code instead of <pre>
  ogr/ogr_api.h
  ogr/ogr_feature.h
  ogr/ogrsf_frmts/ogrsf_frmts.dox
  port/cpl_conv.cpp
  port/cpl_csv.cpp
  port/cpl_error.cpp
  port/cpl_path.cpp
  port/cpl_vsil_curl.cpp
Labels: backport release/3.10

#11388 Doc: Add summary of user survey
  doc/images/community/survey_2024/documentation_needs.svg
  doc/images/community/survey_2024/easy_to_install_gdal.svg
  doc/images/community/survey_2024/easy_to_install_gdal_os.svg
  doc/images/community/survey_2024/gdal_challenge.svg
  doc/images/community/survey_2024/gdal_easier_to_use.svg
  doc/images/community/survey_2024/gdal_help_source.svg
  doc/images/community/survey_2024/local_or_cloud_read.svg
  doc/images/community/survey_2024/local_or_cloud_write.svg
  doc/images/community/survey_2024/maintenance_program_activities.svg
  doc/images/community/survey_2024/maintenance_program_areas_of_focus.svg
  doc/images/community/survey_2024/operating_system.svg
  doc/images/community/survey_2024/raster_data_formats.svg
  doc/images/community/survey_2024/vector_data_formats.svg
  doc/images/community/survey_2024/way_gdal_used.svg
  doc/images/community/survey_2024/where_gdal_obtained_linux.svg
  doc/images/community/survey_2024/where_gdal_obtained_osx.svg
  doc/images/community/survey_2024/where_gdal_obtained_windows.svg
  doc/images/community/survey_2024/years_experience.svg
  doc/source/community/index.rst
  doc/source/community/user_survey_2024.rst
Labels: documentation
