Repository OSGeo/gdal, pull requests merged in 2024-12, with the labels that each got.

#11376 Fix memory leak when calling GDALAllRegister(), several times, on a deferred loaded plugin that is absent from the system
  .github/workflows/asan/build.sh
  .github/workflows/asan/test.sh
  autotest/pyscripts/test_ogr_layer_algebra.py
  gcore/gdaldrivermanager.cpp
Labels: backport release/3.10, funded through GSP

#11392 MVT: emit warning when the maximum tile size or feature count is reached…
  autotest/ogr/ogr_mvt.py
  ogr/ogrsf_frmts/mvt/ogrmvtdataset.cpp
Labels: backport release/3.10, funded through GSP

#11390 Assorted set of fixes for WMTS issue
  autotest/gdrivers/data/wmts/WMTSCapabilities_THEMIS_NightIR_ControlledMosaics_100m_v2_oct2018.xml
  autotest/gdrivers/wmts.py
  autotest/osr/osr_epsg.py
  frmts/http/httpdriver.cpp
  frmts/wmts/wmtsdataset.cpp
  ogr/ogrspatialreference.cpp
Labels: backport release/3.10, funded through GSP

#11389 PG: avoid error when the original search_path contains something like '"", something_else'
  autotest/ogr/ogr_pg.py
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
Labels: backport release/3.10, funded through GSP

#11382 netCDF multidim: report correct axis order when reading SRS with EPSG geographic CRS + geoid model
  autotest/gdrivers/netcdf_multidim.py
  frmts/netcdf/netcdfmultidim.cpp
Labels: backport release/3.10, funded through GSP

#11381 Zarr: fix incorrect DataAxisToSRSAxisMapping for EPSG geographic CRS
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr_array.cpp
Labels: backport release/3.10, funded through GSP

#11379 GTiff/gdalwarp/COG: preserve pre-multiplied alpha information from source TIFF
  apps/gdalwarp_lib.cpp
  autotest/gcore/cog.py
  autotest/gcore/tiff_write.py
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/gtiff/gtiffrasterband.cpp
Labels: funded through GSP

#11372 OpenFileGDB: be robust to unusual .gdbindexes files with weird/corrupted/not-understood entries
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000001.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000001.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000002.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000002.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000003.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000003.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000004.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000004.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000005.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000005.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000006.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000006.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000007.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000007.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000009.gdbindexes
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000009.gdbtable
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/a00000009.gdbtablx
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/gdb
  autotest/ogr/data/filegdb/corrupted_gdbindexes.gdb/timestamps
  autotest/ogr/ogr_openfilegdb.py
  ogr/ogrsf_frmts/openfilegdb/filegdbtable.cpp
Labels: backport release/3.10, funded through GSP

#11359 Add a hint in the documentation, that the configuration file was created with SameMinorVersion.
  doc/source/development/cmake.rst
Labels: backport release/3.10

#11429 netCDF: add support to identify a geolocation array for a variable that lacks a 'coordinates' attribute
  autotest/gdrivers/data/netcdf/var_with_geoloc_array_but_no_coordinates_attr.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: funded through GSP

#11424 DXF: add creation option to set and DXF system variables
  autotest/ogr/ogr_dxf.py
  doc/source/drivers/vector/dxf.rst
  ogr/ogrsf_frmts/dxf/ogr_dxf.h
  ogr/ogrsf_frmts/dxf/ogrdxfdatasource.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfdriver.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfwriterds.cpp
Labels: enhancement, funded through GSP

#11428 Speed optimizations for GML and GeoJSON writing
  ogr/ogr_geometry.h
  ogr/ogrlibjsonutils.cpp
  ogr/ogrsf_frmts/gml/ogr_gml.h
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
  ogr/ogrutils.cpp
Labels: funded through GSP

#11334 [GML] OGR_SCHEMA open option candidate implementation
  autotest/cpp/test_ogr.cpp
  autotest/ogr/ogr_gml.py
  doc/source/drivers/vector/gml.rst
  ogr/CMakeLists.txt
  ogr/data/ogr_fields_override.schema.json
  ogr/ogr_api.h
  ogr/ogr_feature.h
  ogr/ogr_schema_override.cpp
  ogr/ogr_schema_override.h
  ogr/ogrfielddefn.cpp
  ogr/ogrsf_frmts/gml/ogr_gml.h
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
  ogr/ogrsf_frmts/gml/ogrgmldriver.cpp
  ogr/ogrsf_frmts/gmlutils/gmlfeature.h
  ogr/ogrsf_frmts/gmlutils/gmlfeatureclass.cpp
Labels: enhancement, funded through GSP

#11435 gdalvrt.xsd: fix schema to reflect that <Array> can be a child of <ArraySource>
  autotest/gdrivers/data/vrt/arraysource_array_constant.vrt
  autotest/gdrivers/vrtmultidim.py
  frmts/vrt/data/gdalvrt.xsd
Labels: backport release/3.10, funded through GSP

#11439 ogr2ogr: fix crash with -ct and using Arrow code path (e.g source is GeoPackage) (3.10.0 regression)
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
  ogr/ogrgeometryfactory.cpp
Labels: backport release/3.10

#11420 FlatGeobuf writing: in SPATIAL_INDEX=NO mode, deal with empty geometries as if there were null
  autotest/ogr/ogr_flatgeobuf.py
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
Labels: backport release/3.10

#11443 KEA: use native chunksize for copying RAT
  frmts/kea/keacopy.cpp
Labels: backport release/3.10

#11409 CMake: enable gdal_priv.h precompiled header if CMake USE_PRECOMPILED_HEADERS=ON
  .github/workflows/benchmarks/build.sh
  .github/workflows/cmake_builds.yml
  .github/workflows/fedora_rawhide/build.sh
  .github/workflows/icc/build.sh
  .github/workflows/ubuntu_20.04/build.sh
  .github/workflows/ubuntu_22.04/build.sh
  .github/workflows/ubuntu_24.04/build.sh
  CMakeLists.txt
  alg/CMakeLists.txt
  ci/travis/osx/install.sh
  cmake/helpers/GdalDriverHelper.cmake
  cmake/modules/Ccache.cmake
  doc/source/development/building_from_source.rst
  frmts/dds/CMakeLists.txt
  frmts/pdf/CMakeLists.txt
  gcore/CMakeLists.txt
  gdal.cmake
  ogr/CMakeLists.txt
  ogr/ogrsf_frmts/dwg/CMakeLists.txt
  ogr/ogrsf_frmts/mitab/CMakeLists.txt
  ogr/ogrsf_frmts/mongodbv3/CMakeLists.txt
  ogr/ogrsf_frmts/openfilegdb/CMakeLists.txt
Labels: funded through GSP

#11411 ogr2ogr: transfer relationships (when possible) from source dataset to target dataset
  apps/ogr2ogr_lib.cpp
  autotest/ogr/data/gpkg/relation_mapping_table.gpkg
  autotest/utilities/test_ogr2ogr_lib.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdatasource_write.cpp
Labels: funded through GSP

#11422 MapInfo .tab: support .dbf files with deleted columns
  autotest/ogr/data/mitab/tab_with_dbf_with_delete_column.dbf
  autotest/ogr/data/mitab/tab_with_dbf_with_delete_column.id
  autotest/ogr/data/mitab/tab_with_dbf_with_delete_column.map
  autotest/ogr/data/mitab/tab_with_dbf_with_delete_column.tab
  autotest/ogr/ogr_mitab.py
  ogr/ogrsf_frmts/mitab/mitab_datfile.cpp
  ogr/ogrsf_frmts/mitab/mitab_feature.cpp
Labels: backport release/3.10, funded through GSP

#11436 GML: detect and report write error
  CMakeLists.txt
  autotest/ogr/ogr_gml.py
  ogr/ogrsf_frmts/gml/ogr_gml.h
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
  ogr/ogrsf_frmts/gml/ogrgmllayer.cpp
  swig/include/Dataset.i
  swig/include/java/gdal_java.i
  swig/include/python/gdal_python.i
  swig/java/apps/GDALTestIO.java
Labels: funded through GSP

#11454 Update T-Kartor sponsorship name
  doc/source/sponsors/index.rst
Labels: backport release/3.10

#11462 Ogrinfo: command line help text fixes
  apps/ogrinfo_lib.cpp
Labels: backport release/3.10

#11465 PDF: fix build issue on CondaForge build infrastructure (gcc 13.3)
  frmts/pdf/pdfsdk_headers_poppler.h
Labels: backport release/3.10, funded through GSP

#11464 [GeoJSON] OGR_SCHEMA open option implementation
  autotest/ogr/ogr_geojson.py
  doc/source/drivers/vector/geojson.rst
  ogr/ogrsf_frmts/geojson/ogr_geojson.h
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondriver.cpp
Labels: enhancement, funded through GSP

#11471 Do not sort items in IMD metadata domain
  autotest/gcore/tiff_read.py
  gcore/gdalmultidomainmetadata.cpp
Labels: backport release/3.10

#11480 Doc: Describe gdalwarp behavior with multiple inputs
  doc/source/programs/gdalwarp.rst
Labels: documentation

#11216 Add text for RFC 104: Adding a "gdal" front-end command line interface
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc104_gdal_cli.rst
Labels: funded through GSP

#11489 Doc: Updates to gdalbuiltvrt docs
  doc/source/programs/gdalbuildvrt.rst
Labels: documentation, backport release/3.10

#11488 Remove dir only if it exists
  autotest/gdrivers/tiledb_write.py
  frmts/tiledb/tiledbdense.cpp
Labels: bug

#11493 Doc: clarify VSICurlPartialClearCache()
  port/cpl_vsil_curl.cpp
Labels: documentation, backport release/3.10

#11504 Internal libtiff: fix writing a Predictor=3 file with non-native endianness
  autotest/gcore/data/gtiff/float32_lzw_predictor_3_big_endian.tif
  autotest/gcore/tiff_read.py
  autotest/gcore/tiff_write.py
  frmts/gtiff/libtiff/tif_predict.c
Labels: backport release/3.10

#11505 Fix URL display
  doc/source/download.rst
Labels: backport release/3.10

#11499 [sqlite] OGR_SCHEMA implementation - RFC 103
  autotest/ogr/ogr_sqlite.py
  doc/source/drivers/vector/sqlite.rst
  ogr/ogrsf_frmts/sqlite/ogrsqlitebase.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitedriver.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitelayer.cpp
Labels: enhancement, funded through GSP

#11492 GML: honour SWAP_COORDINATES=YES even when the geometry has no SRS
  autotest/ogr/ogr_gml.py
  ogr/ogrsf_frmts/gmlutils/gmlutils.cpp
Labels: backport release/3.10, funded through GSP

#11490 PG: add escaping syntax for TABLES open option to allow table names with open parenthesis
  autotest/ogr/ogr_pg.py
  doc/source/drivers/vector/pg.rst
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
Labels: funded through GSP

#11509 Doc: OGRLayer::DeleteField(): add note about OGRFieldDefn* life-time
  ogr/ogrsf_frmts/ogrsf_frmts.dox
Labels: documentation, backport release/3.10

#11513 GDALRasterizeLayers(): do not emit warning about missing SRS if the target raster dataset has no SRS
  alg/gdalrasterize.cpp
  autotest/alg/rasterize.py
Labels: funded through GSP

#11517 [gdal][api] GDALDriverHasOpenOption
  autotest/gcore/misc.py
  gcore/gdal.h
  gcore/gdal_priv.h
  gcore/gdaldriver.cpp
  swig/include/Driver.i
Labels: funded through GSP

#11530 [doc] OGR_SCHEMA documentation
  doc/source/programs/ogr2ogr.rst
  doc/source/programs/ogrinfo.rst
  doc/source/programs/options/oo_vector.rst
Labels: documentation, funded through GSP

#11071 [rfc] Add RFC 103 - OGR_SCHEMA open option
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc103_schema_open_option.rst
Labels: funded through GSP

#11537 OGR VRT: accept SrcRegion value to be any geometry type as well as SetSpatialFilter()
  autotest/ogr/data/vrt/invalid.vrt
  autotest/ogr/ogr_vrt.py
  doc/source/drivers/vector/vrt.rst
  ogr/ogrsf_frmts/vrt/ogr_vrt.h
  ogr/ogrsf_frmts/vrt/ogrvrtlayer.cpp
Labels: backport release/3.10, funded through GSP

#11543 OGR VRT: fix SrcRegion.clip at OGRVRTLayer level
  autotest/ogr/ogr_vrt.py
  ogr/ogrsf_frmts/vrt/ogrvrtlayer.cpp
Labels: backport release/3.10, funded through GSP

#11553 PNG: fix reading 16-bit interlaced images (on little-endian machines)
  autotest/gdrivers/data/png/uint16_interlaced.png
  autotest/gdrivers/png.py
  frmts/png/pngdataset.cpp
Labels: backport release/3.10

#11556 cpl_vsil_win32.cpp: no longer test for __MSVCRT_VERSION__ >= 0x0601 assuming this is always available given how antiquated this is
  port/cpl_vsil_win32.cpp
Labels: backport release/3.10
