Repository OSGeo/gdal, pull requests merged in 2025-09, with the labels that each got.

#13011 jp2kakdataset.h: Remove JP2KAKDataset::Identify
  frmts/jp2kak/jp2kakdataset.h
Labels: low priority

#13021 Warping: avoid inserting CENTER_LONG when warping whole >=360 longitude range to WebMercator
  alg/gdaltransformer.cpp
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP, backport release/3.11

#13035 CMake: avoid potential dependency problem when building Python bindings
  cmake/helpers/GdalSwigBindings.cmake
  swig/python/CMakeLists.txt
Labels: funded through GSP

#13042 gdal raster oveview add: add a --creation-option/--co argument to properly pass overview creation options
  .github/workflows/ubuntu_24.04/expected_gdalinfo_formats.txt
  .github/workflows/windows_conda_expected_gdalinfo_formats.txt
  apps/gdalalg_raster_overview_add.cpp
  apps/gdalalg_raster_overview_add.h
  autotest/gcore/test_driver_metadata.py
  autotest/utilities/test_gdalalg_raster_overview.py
  doc/source/_extensions/configoptions.py
  doc/source/api/gdaldataset_cpp.rst
  doc/source/drivers/raster/gtiff.rst
  doc/source/programs/gdal_raster_overview_add.rst
  doc/source/programs/gdaladdo.rst
  frmts/avif/avifdataset.cpp
  frmts/drivers.ini
  frmts/gdalallregister.cpp
  frmts/grib/gribdataset.cpp
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/geotiff.cpp
  frmts/gtiff/gt_overview.cpp
  frmts/gtiff/gtiff.h
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/hfa/hfa_overviews.cpp
  frmts/hfa/hfadataset.cpp
  frmts/jpeg/jpgdataset.h
  frmts/netcdf/netcdfdataset.cpp
  frmts/nitf/nitfdataset.cpp
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdriver.cpp
  frmts/zarr/zarrdriver.cpp
  gcore/gdal.h
  gcore/gdal_misc.cpp
  gcore/gdal_priv.h
  gcore/gdaldataset.cpp
  gcore/gdaldefaultoverviews.cpp
  gcore/gdaldriver.cpp
  ogr/ogrsf_frmts/arrow/ogrfeatherdriver.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedriver.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
  swig/include/gdalconst.i
Labels: enhancement, funded through GSP, gdal_cli

#13044 /vsis3/ (and /vsigs/, /vsiaz/, etc.): by default squash '/./' and '/../' sequences in path, unless the GDAL_HTTP_PATH_VERBATIM config option is set
  autotest/gcore/vsis3.py
  doc/source/user/configoptions.rst
  doc/source/user/virtual_file_systems.rst
  port/cpl_http.cpp
  port/cpl_known_config_options.h
  port/cpl_vsil_s3.cpp
Labels: funded through GSP

#13043 GPKG: optimize GetNextArrowArray() on SQL result layers that return 0 row
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackageselectlayer.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqliteselectlayer.cpp
Labels: funded through GSP, backport release/3.11

#13019 vsis3/vsigs/vziaz/vsiwebhdfs/vsiswift/vsicurl: add path traversal protection when parsing result of ListDir
  autotest/cpp/test_cpl.cpp
  autotest/gcore/vsis3.py
  port/cpl_conv.h
  port/cpl_path.cpp
  port/cpl_vsil_az.cpp
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_s3.cpp
  port/cpl_vsil_swift.cpp
  port/cpl_vsil_webhdfs.cpp
Labels: funded through GSP

#13016 COG: write OVERVIEW_RESAMPLING in IMAGE_STRUCTURE metadata domain, and expose it when present
  autotest/gcore/cog.py
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/gtiffdataset.cpp
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/gtiff/gtiffdataset_write.cpp
Labels: enhancement, funded through GSP

#13030 WEBP: add read and creation support for .wld worldfiles
  autotest/gdrivers/webp.py
  doc/source/drivers/raster/jpeg.rst
  doc/source/drivers/raster/webp.rst
  frmts/webp/webpdataset.cpp
  frmts/webp/webpdrivercore.cpp
  gcore/gdal_mdreader.cpp
  gcore/gdal_mdreader.h
  gcore/gdal_priv.h
  gcore/mdreader/reader_alos.cpp
  gcore/mdreader/reader_alos.h
  gcore/mdreader/reader_digital_globe.cpp
  gcore/mdreader/reader_digital_globe.h
  gcore/mdreader/reader_eros.cpp
  gcore/mdreader/reader_eros.h
  gcore/mdreader/reader_geo_eye.cpp
  gcore/mdreader/reader_geo_eye.h
  gcore/mdreader/reader_kompsat.cpp
  gcore/mdreader/reader_kompsat.h
  gcore/mdreader/reader_landsat.cpp
  gcore/mdreader/reader_landsat.h
  gcore/mdreader/reader_orb_view.cpp
  gcore/mdreader/reader_orb_view.h
  gcore/mdreader/reader_pleiades.cpp
  gcore/mdreader/reader_pleiades.h
  gcore/mdreader/reader_rapid_eye.cpp
  gcore/mdreader/reader_rapid_eye.h
  gcore/mdreader/reader_rdk1.cpp
  gcore/mdreader/reader_rdk1.h
  gcore/mdreader/reader_spot.cpp
  gcore/mdreader/reader_spot.h
  port/cpl_conv.cpp
  port/cpl_conv.h
Labels: funded through GSP

#13060 Google is an active Silver sponsor again
  doc/source/sponsors/index.rst
Labels: backport release/3.11

#13092 gdal vector change-field-type: add a --src-field-type option (mutually exclusive with --field-name)
  apps/gdalalg_vector_change_field_type.cpp
  apps/gdalalg_vector_change_field_type.h
  autotest/utilities/test_gdalalg_vector_change_field_type.py
  doc/source/programs/gdal_vector_change_field_type.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#13081 netCDF writer: be robust to out-of-memory alloc for huge raster size
  frmts/netcdf/netcdfdataset.cpp
Labels: funded through GSP

#13067 Zarr Kerchunk JSON: assorted set of fixes and impovement...
  .github/workflows/ubuntu_24.04/expected_gdalinfo_formats.txt
  .github/workflows/windows_conda_expected_gdalinfo_formats.txt
  autotest/gcore/vsiadls.py
  autotest/gcore/vsiaz.py
  autotest/gdrivers/heif.py
  autotest/gdrivers/zarr_kerchunk_json.py
  frmts/drivers.ini
  frmts/raw/ehdrdataset.cpp
  frmts/raw/envidataset.cpp
  frmts/raw/genbindataset.cpp
  frmts/raw/iscedataset.cpp
  frmts/raw/pauxdataset.cpp
  frmts/raw/rawdrivers.cpp
  frmts/stacit/stacitdataset.cpp
  frmts/zarr/zarr_v2_array.cpp
  frmts/zarr/zarrdrivercore.cpp
  port/cpl_vsil_curl.cpp
Labels: backport release/3.11

#13080 ZARR: avoid infinite recursion on archives with hostile object names
  autotest/gdrivers/data/zarr/ossfuzz_444714656.tar
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr.h
  frmts/zarr/zarr_group.cpp
  frmts/zarr/zarr_v2_group.cpp
  frmts/zarr/zarr_v3_group.cpp
Labels: funded through GSP, backport release/3.11

#13107 GDALInfo(): fix crash on datasets not linked to a driver
  apps/gdalinfo_lib.cpp
  autotest/utilities/test_gdalinfo_lib.py
Labels: funded through GSP, backport release/3.11

#13102 ESRIJSON: recognize esriFieldTypeDateOnly, esriFieldTypeTimeOnly, esriFieldTypeBigInteger, esriFieldTypeGUID and esriFieldTypeGlobalID data types
  autotest/ogr/data/esrijson/esripoint.json
  autotest/ogr/ogr_esrijson.py
  ogr/ogrsf_frmts/geojson/ogresrijsonreader.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonutils.cpp
Labels: funded through GSP, backport release/3.11

#13103 gdaldem: fix wrong results on non north-up src ds wih aspect/tpi/tri (and…
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdaldem_lib.py
Labels: funded through GSP, backport release/3.11

#13104 Make 'gdal raster/vector clip' work with --like dataset being a PostgreSQL (vector) dataset
  autotest/utilities/test_gdalalg_raster_clip.py
  gcore/gdalalgorithm.cpp
Labels: funded through GSP, gdal_cli, backport release/3.11

#13121 Multidim: make CreateSlicedArray() also slice indexing variables of dimensions
  autotest/gcore/multidim.py
  gcore/gdalmultidim.cpp
Labels: funded through GSP, backport release/3.11

#13140 gdal raster clip: do not emit warning about being outside of window when specifying --allow-bbox-outside-source
  apps/gdal_translate_lib.cpp
  apps/gdalalg_raster_clip.cpp
  autotest/utilities/test_gdalalg_raster_clip.py
Labels: funded through GSP, gdal_cli

#13055 Doc: Enable CI testing of Python API examples
  .github/workflows/cmake_builds.yml
  .github/workflows/doc_checks.yml
  doc/CMakeLists.txt
  doc/source/_extensions/doctestplus_gdal.py
  doc/source/conf.py
  swig/include/Operations.i
  swig/include/python/docs/gdal_algorithm_docs.i
  swig/include/python/docs/gdal_band_docs.i
  swig/include/python/docs/gdal_dataset_docs.i
  swig/include/python/docs/gdal_docs.i
  swig/include/python/docs/gdal_driver_docs.i
  swig/include/python/docs/gdal_rat_docs.i
  swig/include/python/docs/ogr_feature_docs.i
  swig/include/python/docs/ogr_geometry_docs.i
  swig/include/python/docs/osr_coordinatetransformation_docs.i
  swig/include/python/gdal_python.i
  swig/include/python/ogr_python.i
  swig/include/python/osr_python.i
  swig/python/CMakeLists.txt
  swig/python/conftest.py
  swig/python/pytest.ini
Labels: python bindings, documentation, test suite

#13141 Pipeline: merge change-field-type steps immediately following open to create a OGR_SCHEMA
  apps/gdalalg_abstract_pipeline.cpp
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_vector_change_field_type.cpp
  apps/gdalalg_vector_change_field_type.h
  autotest/ogr/ogr_csv.py
  autotest/ogr/ogr_geojson.py
  autotest/ogr/ogr_sqlite.py
  autotest/utilities/test_gdalalg_vector_change_field_type.py
  frmts/xyz/xyzdataset.cpp
  ogr/data/ogr_fields_override.schema.json
  ogr/ogr_schema_override.cpp
  ogr/ogr_schema_override.h
  ogr/ogrsf_frmts/csv/ogrcsvdatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
Labels: enhancement, funded through GSP, gdal_cli
