Repository OSGeo/gdal, pull requests merged in 2025-03, with the labels that each got.

#11884 MiraMonVector fix error: Unexpected Non-nullptr Return
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.10

#11882 MBTiles: Fix update with WEBP compression
  frmts/mbtiles/mbtilesdataset.cpp
Labels: backport release/3.10

#11879 Add missing std qualifiers
  ogr/ogrsf_frmts/cad/libopencad/cadlayer.cpp
Labels: backport release/3.10

#11881 Add missing #include with struct timeval declaration
  ogr/ogr_geocoding.cpp
Labels: backport release/3.10

#11870 Zarr V2: add read/update support for 'shuffle' filter
  autotest/gdrivers/data/zarr/generate_test_files.py
  autotest/gdrivers/data/zarr/shuffle.zarr/.zarray
  autotest/gdrivers/data/zarr/shuffle.zarr/0
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr_v2_array.cpp
Labels: funded through GSP

#11862 Add RFC 108 text: driver removals for GDAL 3.11
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc108_driver_removal_3_11.rst
Labels: funded through GSP

#11873 Python bindings: honour GDAL_PYTHON_BINDINGS_WITHOUT_NUMPY=YES/1/ON/TRUE or NO/0/OFF/FALSE
  autotest/alg/sieve.py
  autotest/alg/transformgeoloc.py
  autotest/alg/warp.py
  autotest/gcore/hfa_rfc40.py
  autotest/gcore/interpolateatpoint.py
  autotest/gcore/pixfun.py
  autotest/gcore/rasterio.py
  autotest/gcore/tiff_ovr.py
  autotest/gcore/tiff_write.py
  autotest/gcore/virtualmem.py
  autotest/gcore/vrt_read.py
  autotest/gdrivers/lcp.py
  autotest/gdrivers/memmultidim.py
  autotest/gdrivers/netcdf.py
  autotest/gdrivers/rmf.py
  autotest/gdrivers/tiledb_write.py
  autotest/gdrivers/vrtderived.py
  autotest/gdrivers/vrtpansharpen.py
  autotest/ogr/ogr_parquet.py
  autotest/pyscripts/test_gdal2tiles.py
  autotest/pyscripts/test_gdal2xyz.py
  autotest/pyscripts/test_gdal_retile.py
  autotest/pyscripts/test_validate_geoparquet.py
  autotest/utilities/test_gdal_rasterize.py
  autotest/utilities/test_gdal_viewshed.py
  autotest/utilities/test_gdallocationinfo.py
  swig/python/setup.py.in
Labels: funded through GSP

#11912 doc: update tile terminology in pmtiles.rst
  doc/source/drivers/vector/pmtiles.rst
Labels: backport release/3.10

#11909 GDALResampleChunk_ConvolutionT(): avoid casting NaN to int64_t
  gcore/overview.cpp
Labels: funded through GSP

#11915 VRT and multitthreaded warp: propagate errors from auxiliary threads to main thread
  alg/gdalwarpoperation.cpp
  apps/gdalwarp_bin.cpp
  autotest/alg/warp.py
  autotest/gcore/vrt_read.py
  frmts/gti/gdaltileindexdataset.cpp
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/gtiff/gtiffsplitbitmapband.cpp
  frmts/http/httpdriver.cpp
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtsourcedrasterband.cpp
  gcore/gdalmultidim.cpp
  ogr/ogrspatialreference.cpp
  port/cpl_error.cpp
  port/cpl_error_internal.h
Labels: funded through GSP

#11933 Doc: Fix axis order of points in osr.CoordinateTransformation examples
  swig/include/python/docs/osr_coordinatetransformation_docs.i
  swig/include/python/osr_python.i
Labels: python bindings, documentation, backport release/3.10

#11922 WFS: turn SQL IN operator into OR
  autotest/ogr/ogr_wfs.py
  ogr/ogr_swq.h
  ogr/ogrsf_frmts/wfs/ogrwfsdatasource.cpp
  ogr/ogrsf_frmts/wfs/ogrwfslayer.cpp
  ogr/swq.cpp
  ogr/swq_expr_node.cpp
Labels: funded through GSP

#11924 Pansharpen: avoid I/O errors when extent of PAN and MS bands differ by less than the resolution of the MS band
  alg/gdalpansharpen.cpp
  alg/gdalpansharpen.h
  autotest/gdrivers/vrtpansharpen.py
Labels: backport release/3.10, funded through GSP

#11927 Zarr: report array dimension in subdataset list; Zarr+netCDF: add a LIST_ALL_ARRAYS open option that defaults to NO
  autotest/gdrivers/netcdf.py
  autotest/gdrivers/zarr_driver.py
  doc/source/drivers/raster/netcdf.rst
  doc/source/drivers/raster/zarr.rst
  frmts/netcdf/netcdfdataset.cpp
  frmts/netcdf/netcdfdrivercore.cpp
  frmts/zarr/zarrdriver.cpp
  frmts/zarr/zarrdrivercore.cpp
Labels: enhancement, funded through GSP

#11928 gdal reproject: add a --size argument, add --bbox-crs as well
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_reproject.h
  autotest/utilities/test_gdalalg_raster_reproject.py
  doc/source/programs/gdal_raster_reproject.rst
Labels: enhancement, funded through GSP, gdal_cli

#11930 Add gdal raster resize
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_resize.cpp
  apps/gdalalg_raster_resize.h
  autotest/utilities/test_gdalalg_raster_resize.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_reproject.rst
  doc/source/programs/gdal_raster_resize.rst
  doc/source/programs/index.rst
Labels: enhancement, funded through GSP, gdal_cli

#11923 [cli][gdal_contour] Port gdal_contour to cli
  alg/contour.cpp
  apps/CMakeLists.txt
  apps/gdal_contour.cpp
  apps/gdal_contour_bin.cpp
  apps/gdal_contour_lib.cpp
  apps/gdal_utils.h
  apps/gdal_utils_priv.h
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_contour.h
  autotest/utilities/test_gdal_contour.py
  autotest/utilities/test_gdal_contour_lib.py
  autotest/utilities/test_gdalalg_raster_contour.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_contour.rst
  doc/source/programs/index.rst
  doc/source/spelling_wordlist.txt
  port/cpl_string.h
  port/cplstringlist.cpp
  swig/include/gdal.i
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP

#11944 OGR SQL: prevent building too deep expression that can cause stack overflow when destroying them
  autotest/ogr/ogr_sql_test.py
  ogr/CMakeLists.txt
  ogr/ogr_swq.h
  ogr/swq_expr_node.cpp
  ogr/swq_parser.cpp
  ogr/swq_parser.y
Labels: funded through GSP

#11955 MiraMonVector: fixing a word in Catalan language
  ogr/ogrsf_frmts/miramon/mm_gdal_functions.c
Labels: backport release/3.10

#11970 [cli][contour] Fix CLI issues #11957
  apps/gdal_contour_lib.cpp
  apps/gdal_translate_lib.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_contour.h
  autotest/utilities/test_gdalalg_raster_contour.py
  doc/source/programs/gdal_raster_contour.rst
Labels: bug, funded through GSP, gdal_cli

#11984 GPKG: fix SetNextByIndex() followed by GetNextFeature() without explicit call to GetLayerDefn()
  autotest/ogr/ogr_gpkg.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: backport release/3.10, funded through GSP

#11981 /vsigs/ (and /vsiaz/): invalidate cached state of files/directories when changing authentication parameters
  autotest/gcore/vsigs.py
  port/cpl_conv.cpp
Labels: backport release/3.10, funded through GSP

#11979 Doc: Fix typos in pipeline docs
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_vector_pipeline.rst
Labels: documentation

#11977 MiraMonVector: writting VRS in metadata file + fixing error in Z header
  ogr/ogrsf_frmts/miramon/mm_gdal_driver_structs.h
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
  ogr/ogrsf_frmts/miramon/ogrmiramonlayer.cpp
Labels: backport release/3.10

#11983 gcore: add more explicit error message when attempting to write an implicit mask band
  autotest/gcore/mask.py
  autotest/gdrivers/vrtwarp.py
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtwarped.cpp
  gcore/gdal_priv.h
  gcore/gdalallvalidmaskband.cpp
  gcore/gdalnodatamaskband.cpp
  gcore/gdalnodatavaluesmaskband.cpp
  gcore/gdalrasterband.cpp
  gcore/gdalrescaledalphaband.cpp
Labels: funded through GSP

#12001 gdal raster/vector pipeline: fix PROJ strings as CRS
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector_pipeline.cpp
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
Labels: funded through GSP, gdal_cli

#11976 Python bindings: gdal.UseExceptions(): do not emit ModuleNotFound message when numpy not available
  swig/include/python/python_exceptions.i
Labels: funded through GSP

#12013 Add gdal raster select/astype/scale/unscale
  apps/CMakeLists.txt
  apps/gdal_translate_lib.cpp
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_astype.cpp
  apps/gdalalg_raster_astype.h
  apps/gdalalg_raster_edit.cpp
  apps/gdalalg_raster_edit.h
  apps/gdalalg_raster_overview_add.cpp
  apps/gdalalg_raster_overview_delete.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_scale.cpp
  apps/gdalalg_raster_scale.h
  apps/gdalalg_raster_select.cpp
  apps/gdalalg_raster_select.h
  apps/gdalalg_raster_unscale.cpp
  apps/gdalalg_raster_unscale.h
  autotest/gcore/vrt_read.py
  autotest/utilities/test_gdalalg_raster_astype.py
  autotest/utilities/test_gdalalg_raster_edit.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_raster_scale.py
  autotest/utilities/test_gdalalg_raster_select.py
  autotest/utilities/test_gdalalg_raster_unscale.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_astype.rst
  doc/source/programs/gdal_raster_edit.rst
  doc/source/programs/gdal_raster_info.rst
  doc/source/programs/gdal_raster_overview_add.rst
  doc/source/programs/gdal_raster_overview_delete.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_scale.rst
  doc/source/programs/gdal_raster_select.rst
  doc/source/programs/gdal_raster_unscale.rst
  doc/source/programs/gdal_translate.rst
  doc/source/programs/gdalinfo.rst
  doc/source/programs/index.rst
  doc/source/programs/migration_guide_to_gdal_cli.rst
  doc/source/spelling_wordlist.txt
  frmts/vrt/data/gdalvrt.xsd
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtsources.cpp
  gcore/gdalalgorithm.cpp
Labels: enhancement, funded through GSP, gdal_cli

#11989 DIMAP / Pleiades PNEO RPC improvements
  alg/gdal_alg.h
  alg/gdal_alg_priv.h
  alg/gdal_rpc.cpp
  alg/gdal_tps.cpp
  alg/gdaltransformer.cpp
  apps/gdalwarp_lib.cpp
  autotest/gcore/transformer.py
  autotest/gdrivers/data/dimap2/primary_rpc_center_h/DIM_PNEO3_STD_x_1_1_F_1.XML
  autotest/gdrivers/data/dimap2/primary_rpc_center_h/IMG_PNEO3_STD_x_1_1_F_1_P_R1C1.JP2
  autotest/gdrivers/data/dimap2/primary_rpc_center_h/RPC_PNEO3_STD_x_1_1_F_1.XML
  autotest/gdrivers/dimap.py
  frmts/dimap/dimapdataset.cpp
  gcore/mdreader/reader_pleiades.cpp
  gcore/mdreader/reader_pleiades.h
Labels: enhancement

#11991 GeoJSON geometry reading: issue more warnings when invalid constructs are found
  autotest/ogr/ogr_geojson.py
  ogr/ogrgeojsongeometry.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.cpp
Labels: funded through GSP

#11994 Warp: fix reprojecting on empty source window with nodata != 0 and MEM driver
  alg/gdalwarpoperation.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP

#11995 [Backport 3.10] Warp: fix reprojecting on empty source window with nodata != 0 and MEM driver
  alg/gdalwarpoperation.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP

#12008 CSV: fix parsing of 64 bit integers above 2^53 (that don't fit exactly on a 64-bit float)
  autotest/ogr/ogr_csv.py
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/csv/ogrcsvlayer.cpp
Labels: funded through GSP

#12009 [Backport 3.10] CSV: fix parsing of 64 bit integers above 2^53 (that don't fit exactly on a 64-bit float)
  autotest/ogr/ogr_csv.py
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/csv/ogrcsvlayer.cpp
Labels: funded through GSP

#12018 ogr2ogr: fix -upsert with a GPKG source
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.10, funded through GSP

#12019 GRIB2: fix reading Transverse Merctor with negative easting/falsing; also fix reading it with scale factor != 0.9996
  autotest/gdrivers/grib.py
  frmts/grib/degrib/g2clib/gridtemplates.c
  frmts/grib/gribdataset.cpp
Labels: backport release/3.10, funded through GSP

#12011 gdal raster reproject: add --srcnodata, --dstnodata, --addalpha, --warp-option, --transform-option, --error-threshold
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_reproject.h
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalalg_raster_reproject.py
  doc/source/programs/gdal_raster_reproject.rst
  doc/source/programs/gdalwarp.rst
  swig/include/python/gdal_python.i
Labels: funded through GSP

#12023 Python bindings: Accept NumPy types in Driver.Create
  autotest/gcore/basic_test.py
  swig/include/python/docs/gdal_driver_docs.i
  swig/include/python/typemaps_python.i
Labels: python bindings

#12024 Add 'gdal vector geom set-type' and 'gdal vector geom explode-collections'
  apps/CMakeLists.txt
  apps/gdal.cpp
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_geom.cpp
  apps/gdalalg_vector_geom.h
  apps/gdalalg_vector_geom_explode_collections.cpp
  apps/gdalalg_vector_geom_explode_collections.h
  apps/gdalalg_vector_geom_set_type.cpp
  apps/gdalalg_vector_geom_set_type.h
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_select.cpp
  autotest/gdrivers/gdalg.py
  autotest/ogr/ogr_geom.py
  autotest/utilities/test_gdal.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_geom.py
  autotest/utilities/test_gdalalg_vector_geom_explode_collections.py
  autotest/utilities/test_gdalalg_vector_geom_set_type.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  doc/source/conf.py
  doc/source/programs/gdal_cli_gdalg.rst
  doc/source/programs/gdal_vector.rst
  doc/source/programs/gdal_vector_geom.rst
  doc/source/programs/gdal_vector_geom_explode_collections.rst
  doc/source/programs/gdal_vector_geom_set_type.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  ogr/ogr_core.h
  ogr/ogrgeometry.cpp
  swig/include/ogr.i
Labels: enhancement, funded through GSP, gdal_cli

#12033 CMake: Allow Sphinx build to proceed if Doxygen produces warnings
  .github/workflows/doc_checks.yml
  doc/CMakeLists.txt
Labels: documentation, CMake

#12045 Doc: Doxygen fixes
  doc/CMakeLists.txt
  gcore/gdaldrivermanager.cpp
  port/cpl_conv.cpp
Labels: documentation

#12036 GMLAS: fix reading multiple values of a StringList field that is a repeated element
  autotest/ogr/data/gmlas/choice_double_inlined.xml
  autotest/ogr/data/gmlas/choice_double_inlined.xsd
  autotest/ogr/data/gmlas/choice_int64_inlined.xml
  autotest/ogr/data/gmlas/choice_int64_inlined.xsd
  autotest/ogr/data/gmlas/choice_int_inlined.xml
  autotest/ogr/data/gmlas/choice_int_inlined.xsd
  autotest/ogr/data/gmlas/choice_str_inlined.xml
  autotest/ogr/data/gmlas/choice_str_inlined.xsd
  autotest/ogr/ogr_gmlas.py
  ogr/ogrsf_frmts/gmlas/ogrgmlasreader.cpp
Labels: backport release/3.10, funded through GSP

#12048 autotest zarr_driver.py: use tmp_vsimem fixture
  autotest/gdrivers/zarr_driver.py
Labels: test suite

#12034 gdal CLI: add warning when setting the hidden --config option; …
  autotest/gdrivers/gdalg.py
  autotest/utilities/test_gdal.py
  gcore/gdalalgorithm.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12040 autotest: avoid deprecation warning about pytest.importorskip("osgeo.gdal_array")
  autotest/alg/sieve.py
  autotest/alg/transformgeoloc.py
  autotest/alg/warp.py
  autotest/gcore/basic_test.py
  autotest/gcore/hfa_rfc40.py
  autotest/gcore/interpolateatpoint.py
  autotest/gcore/numpy_rw.py
  autotest/gcore/numpy_rw_multidim.py
  autotest/gcore/pixfun.py
  autotest/gcore/rasterio.py
  autotest/gcore/thread_test.py
  autotest/gcore/tiff_ovr.py
  autotest/gcore/tiff_write.py
  autotest/gcore/virtualmem.py
  autotest/gcore/vrt_read.py
  autotest/gdrivers/heif.py
  autotest/gdrivers/lcp.py
  autotest/gdrivers/netcdf.py
  autotest/gdrivers/pds4.py
  autotest/gdrivers/rmf.py
  autotest/gdrivers/tiledb_write.py
  autotest/gdrivers/vrtderived.py
  autotest/gdrivers/vrtpansharpen.py
  autotest/gdrivers/vrtprocesseddataset.py
  autotest/ogr/ogr_adbc.py
  autotest/ogr/ogr_flatgeobuf.py
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_mem.py
  autotest/ogr/ogr_parquet.py
  autotest/ogr/ogr_shape.py
  autotest/ogr/ogr_tiledb.py
  autotest/pymod/gdaltest.py
  autotest/pyscripts/test_gdal2tiles.py
  autotest/pyscripts/test_gdal2xyz.py
  autotest/pyscripts/test_gdal_calc.py
  autotest/pyscripts/test_gdal_edit.py
  autotest/pyscripts/test_gdal_merge.py
  autotest/pyscripts/test_gdal_retile.py
  autotest/pyscripts/test_gdallocationinfo_py.py
  autotest/pyscripts/test_pct.py
  autotest/pyscripts/test_validate_geoparquet.py
  autotest/utilities/test_gdal_rasterize.py
  autotest/utilities/test_gdal_viewshed.py
  autotest/utilities/test_gdallocationinfo.py
Labels: funded through GSP

#12050 Shape driver: more std::string, std::vector, std::unique_ptr usage
  ogr/ogrsf_frmts/shape/ogrshape.h
  ogr/ogrsf_frmts/shape/ogrshapedatasource.cpp
  ogr/ogrsf_frmts/shape/ogrshapedriver.cpp
  ogr/ogrsf_frmts/shape/ogrshapelayer.cpp
Labels: code enhancements, funded through GSP

#12055 GeoJSON: fix detection of features starting with {"geometry":{"type":"xxxxx","coordinates":[...
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/geojson/ogrgeojsonutils.cpp
Labels: backport release/3.10, funded through GSP
