Repository OSGeo/gdal, pull requests merged in 2025-06, with the labels that each got.

#12505 gdal raster mosaic: add completion/choices for --pixel-function and --pixel-function--arg
  apps/gdalalg_raster_mosaic.cpp
  autotest/utilities/test_gdalalg_raster_mosaic.py
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtderivedrasterband.cpp
  gcore/gdalalgorithm.cpp
Labels: enhancement, funded through GSP

#12533 Add -isysroot when building py bindings (macos)
  swig/python/setup.py.in
Labels: backport release/3.11

#12539 Fix subdomain of FLIR metadata
  autotest/gdrivers/jpeg.py
  frmts/jpeg/jpgdataset.cpp
Labels: backport release/3.11

#12538 PG/PGDump: fix truncation of identifiers with UTF-8 characters
  autotest/cpp/CMakeLists.txt
  autotest/cpp/test_cpl.cpp
  autotest/ogr/ogr_pgdump.py
  ogr/ogrfeature.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/hana/ogrhanafeaturereader.cpp
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
  ogr/ogrsf_frmts/pgdump/ogrpgdumpdatasource.cpp
  ogr/ogrsf_frmts/pgdump/ogrpgdumplayer.cpp
  port/cpl_port.h
  port/cpl_recode.cpp
  port/cpl_string.h
Labels: funded through GSP, backport release/3.11

#12547 JPEG: read FLIR thermal image stored as 16-bit PNG with little-endian byte order
  autotest/gdrivers/data/jpeg/flir/FLIR_16bit.jpg
  autotest/gdrivers/jpeg.py
  frmts/jpeg/jpgdataset.cpp
  frmts/png/pngdataset.cpp
  frmts/png/pngdataset.h
Labels: funded through GSP, backport release/3.11

#12565 Fix FLIR metadata
  autotest/gdrivers/jpeg.py
  frmts/jpeg/jpgdataset.cpp
Labels: backport release/3.11

#12562 CI: ASAN: error out if UndefinedBehavior or memory leak detected
  .github/workflows/asan/test.sh
  autotest/ogr/ograpispy.py
  autotest/ubsan_suppressions.txt
  gcore/overview.cpp
  ogr/ogrlinestring.cpp
  ogr/ogrsf_frmts/flatgeobuf/ogrflatgeobuflayer.cpp
Labels: funded through GSP

#12531 [cli] gdal vector info do not implicitly set -al with -json
  apps/data/ogrinfo_output.schema.json
  apps/gdalalg_vector_info.cpp
  apps/gdalalg_vector_info.h
  apps/ogrinfo_lib.cpp
  autotest/utilities/test_gdalalg_vector_info.py
  doc/source/programs/gdal_vector_info.rst
Labels: bug, gdal_cli

#12579 FileGDB Docs: fixed dead link for ESRI download
  doc/source/drivers/vector/filegdb.rst
Labels: backport release/3.11

#12571 Python bindings: fix issues with None bounds for ogr.CreateRangeFieldDomain() and ogr.CreateRangeFieldDomainDateTime()
  autotest/ogr/ogr_fielddomain.py
  autotest/ogr/ogr_openfilegdb_write.py
  autotest/ogr/ogr_parquet.py
  ogr/ogrsf_frmts/openfilegdb/filegdb_fielddomain.h
  swig/include/Dataset.i
  swig/include/ogr.i
  swig/include/python/typemaps_python.i
Labels: funded through GSP, backport release/3.11

#12584 Doc: fix description of the return value for OGRGeometry::IsRing()
  ogr/ogrgeometry.cpp
  swig/include/python/docs/ogr_geometry_docs.i
Labels: backport release/3.11

#12585 Make 'calc' usable as first step of a 'gdal [raster] pipeline'
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_pipeline.cpp
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_calc.h
  apps/gdalalg_raster_color_merge.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_contour.h
  apps/gdalalg_raster_fill_nodata.cpp
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_footprint.h
  apps/gdalalg_raster_mosaic_stack_common.cpp
  apps/gdalalg_raster_pansharpen.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  apps/gdalalg_raster_polygonize.cpp
  apps/gdalalg_raster_polygonize.h
  apps/gdalalg_raster_read.cpp
  apps/gdalalg_raster_read.h
  apps/gdalalg_raster_sieve.cpp
  apps/gdalalg_raster_write.cpp
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_concat.cpp
  apps/gdalalg_vector_grid.cpp
  apps/gdalalg_vector_grid.h
  apps/gdalalg_vector_grid_average.cpp
  apps/gdalalg_vector_grid_average.h
  apps/gdalalg_vector_grid_data_metrics.cpp
  apps/gdalalg_vector_grid_data_metrics.h
  apps/gdalalg_vector_grid_invdist.cpp
  apps/gdalalg_vector_grid_invdist.h
  apps/gdalalg_vector_grid_invdistnn.cpp
  apps/gdalalg_vector_grid_invdistnn.h
  apps/gdalalg_vector_grid_linear.cpp
  apps/gdalalg_vector_grid_linear.h
  apps/gdalalg_vector_grid_nearest.cpp
  apps/gdalalg_vector_grid_nearest.h
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_pipeline.h
  apps/gdalalg_vector_rasterize.cpp
  apps/gdalalg_vector_rasterize.h
  apps/gdalalg_vector_read.cpp
  apps/gdalalg_vector_sql.cpp
  apps/gdalalg_vector_write.cpp
  autotest/utilities/test_gdalalg_pipeline.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  doc/source/conf.py
  doc/source/programs/gdal_pipeline.rst
  doc/source/programs/gdal_raster_calc.rst
  doc/source/programs/gdal_raster_contour.rst
  doc/source/programs/gdal_raster_footprint.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_polygonize.rst
  doc/source/programs/gdal_vector_grid.rst
  doc/source/programs/gdal_vector_pipeline.rst
  doc/source/programs/gdal_vector_rasterize.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12507 GDALRasterBand: define +, -, *, /, AsType(), gdal::min()/max() to perform band lazy-evaluated arithmetics from C++, C and SWIG (Python)
  autotest/cpp/CMakeLists.txt
  autotest/cpp/test_gdal.cpp
  autotest/gcore/band_arithmetic.py
  autotest/gcore/basic_test.py
  autotest/gdrivers/vrtderived.py
  doc/source/api/gdalrasterband_cpp.rst
  doc/source/drivers/raster/vrt.rst
  doc/source/spelling_wordlist.txt
  doc/source/user/band_algebra.rst
  doc/source/user/index.rst
  frmts/gtiff/gt_jpeg_copy.cpp
  frmts/gtiff/gt_overview.cpp
  frmts/gtiff/gtiffdataset.cpp
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/vrt/pixelfunctions.cpp
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtderivedrasterband.cpp
  frmts/vrt/vrtdriver.cpp
  frmts/vrt/vrtsources.cpp
  gcore/CMakeLists.txt
  gcore/gdal.h
  gcore/gdal_fwd.h
  gcore/gdal_priv.h
  gcore/gdalcomputedrasterband.cpp
  gcore/gdalrasterband.cpp
  swig/include/Band.i
  swig/include/gdal.i
  swig/include/gdal_array.i
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP

#12551 gdal raster calc: add a --dialect=muparser|builtin, where builtin can be used to compute a single band from all bands of a single input dataset
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_calc.h
  apps/gdalalg_raster_mosaic.cpp
  autotest/utilities/test_gdalalg_raster_calc.py
  doc/source/programs/gdal_raster_calc.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12597 gdalwarp -te + -te_srs: better compute target extent in target CRS …
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP, backport release/3.11

#12596 Get rid of SWIG csharp warnings
  swig/csharp/apps/GDALAdjustContrast.cs
  swig/csharp/apps/GDALDatasetRasterIO.cs
  swig/csharp/apps/GDALDatasetWrite.cs
  swig/csharp/apps/GDALRead.cs
  swig/csharp/apps/GDALReadDirect.cs
  swig/csharp/exe_template.csproj
  swig/csharp/exe_template_dcomp.csproj
  swig/include/Relationship.i
  swig/include/cpl.i
  swig/include/osr.i
Labels: csharp bindings

#12561 Doc: Add a Downloading Geoparquet Data from Overture Maps tutorial
  doc/images/tutorials/buildings.png
  doc/images/tutorials/counties.png
  doc/source/drivers/vector/parquet.rst
  doc/source/programs/index.rst
  doc/source/spelling_wordlist.txt
  doc/source/tutorials/index.rst
  doc/source/tutorials/vector_geoparquet_tut.rst
Labels: documentation, funded through GSP

#12306 Add a glossary and example link
  doc/source/glossary.rst
  doc/source/index.rst
  doc/source/programs/gdal_raster_color_map.rst
  doc/source/programs/gdal_raster_color_merge.rst
  doc/source/spelling_wordlist.txt
  doc/source/tutorials/gdal_grid_tut.rst
  doc/source/tutorials/geotransforms_tut.rst
  doc/source/user/raster_data_model.rst
Labels: documentation

#12607 DXF: Fix links to external resources in docs
  doc/source/drivers/vector/dxf.rst
Labels: backport release/3.11

#12612 [Lint] frmts/pds: enable -Weffc++ -Wold-style-cast
  frmts/pds/CMakeLists.txt
  frmts/pds/isis2dataset.cpp
  frmts/pds/isis3dataset.cpp
  frmts/pds/pds4dataset.cpp
  frmts/pds/pds4dataset.h
  frmts/pds/pdsdataset.cpp
  frmts/pds/pdsdrivercore.cpp
  frmts/pds/vicardataset.cpp
  frmts/pds/vicardataset.h
  frmts/pds/vicarkeywordhandler.cpp
  frmts/pds/vicarkeywordhandler.h
Labels: funded through GSP

#12609 Parquet: add compatibility for removal in Arrow 21 of deprecated functions
  cmake/helpers/CheckDependentLibrariesArrowParquet.cmake
  ogr/ogrsf_frmts/parquet/CMakeLists.txt
  ogr/ogrsf_frmts/parquet/ogr_include_parquet.h
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
Labels: backport release/3.11

#12605 Band algebra: simplify C API
  doc/source/spelling_wordlist.txt
  doc/source/user/band_algebra.rst
  gcore/gdal.h
  gcore/gdalrasterband.cpp
  swig/include/Band.i
  swig/include/gdal.i
  swig/include/python/gdal_python.i
Labels: funded through GSP

#12620 Fix build with libcxx 19.1.7 on OpenBSD
  port/cpl_conv.cpp
Labels: backport release/3.11

#12627 gdalinfo JSON output: attach 'rat' object to 'band', and add missing elements in gdalinfo_output.schema.json
  apps/data/gdalinfo_output.schema.json
  apps/gdalinfo_lib.cpp
  autotest/gdrivers/rraster.py
  autotest/utilities/test_gdalinfo.py
  autotest/utilities/test_gdalinfo_lib.py
Labels: backport release/3.11

#12630 GDALCopyWords(): perf improvements for some packed conversions
  autotest/cpp/testcopywords.cpp
  gcore/gdal_priv_templates.hpp
  gcore/rasterio.cpp
  perftests/testperfcopywords.cpp
Labels: funded through GSP

#12657 Doc: move past sponsors to a dedicated page
  doc/source/sponsors/index.rst
  doc/source/sponsors/past_sponsors.rst
Labels: backport release/3.11

#12623 gdal raster overview add: add a --overview-src option
  apps/gdalalg_raster_overview_add.cpp
  apps/gdalalg_raster_overview_add.h
  autotest/utilities/test_gdalalg_raster_overview.py
  doc/source/programs/gdal_raster_overview_add.rst
  frmts/gtiff/gt_overview.cpp
  frmts/gtiff/gt_overview.h
  frmts/gtiff/gtiffdataset.h
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/mrf/marfa.h
  gcore/gdal_priv.h
  gcore/gdaldataset.cpp
  gcore/gdaldefaultoverviews.cpp
Labels: enhancement, funded through GSP, gdal_cli
