Repository OSGeo/gdal, pull requests merged in 2025-01, with the labels that each got.

#11567 CI: update 2 configurations to Ubuntu 24.04
  .github/workflows/code_checks.yml
  autotest/gcore/vsiaz.py
  autotest/pymod/ogrtest.py
  swig/python/gdal-utils/osgeo_utils/auxiliary/gdal_argparse.py
Labels: funded through GSP

#11568 Fix duplicateBreak warnings with cppcheck master
  ogr/ogr_api.cpp
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/ogrsf_frmts/mitab/mitab_imapinfofile.cpp
Labels: funded through GSP

#11559 GTiff: more robust handling of I/O errors in network optimized code paths
  autotest/gcore/tiff_read.py
  frmts/gtiff/gtiffdataset.h
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/gtiff/gtiffrasterband_read.cpp
  frmts/gtiff/gtiffrgbaband.cpp
Labels: backport release/3.10

#11560 GTiff: internal overview building: do not set PHOTOMETRIC=YCBCR when …
  autotest/gcore/tiff_ovr.py
  frmts/gtiff/gtiffdataset_write.cpp
Labels: backport release/3.10, funded through GSP

#11561 gdaladdo / GDALDataset::BuildOverviews(): validate values of decimation factors
  apps/gdaladdo.cpp
  autotest/gcore/tiff_ovr.py
  autotest/utilities/test_gdaladdo.py
  gcore/gdaldataset.cpp
Labels: backport release/3.10, funded through GSP

#11562 GTiff mask overview: fix vertical shift in internal mask overview computation
  autotest/gcore/data/test_11555.tif
  autotest/gcore/tiff_ovr.py
  gcore/overview.cpp
Labels: backport release/3.10, funded through GSP

#11565 Parquet writer: write page index
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
Labels: backport release/3.10, funded through GSP

#11581 Fix CPLFormFilename(absolute_path, ../something, NULL) to strip the relative path
  autotest/cpp/test_cpl.cpp
  port/cpl_path.cpp
  port/cpl_vsil.cpp
Labels: backport release/3.10

#11508 /vsicurl?: accept header.<key>=<value> to specify HTTP request headers
  autotest/gcore/vsicurl.py
  doc/source/user/virtual_file_systems.rst
  port/cpl_vsil_curl.cpp
Labels: funded through GSP

#11515 GeoJSON: add a FOREIGN_MEMBERS=AUTO/ALL/NONE/STAC open option
  autotest/ogr/data/geojson/stac_item.json
  autotest/ogr/ogr_geojson.py
  autotest/ogr/ogr_miramon_vector.py
  doc/source/drivers/vector/geojson.rst
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondriver.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonreader.h
Labels: enhancement, funded through GSP

#11539 Doc: faq.rst: add a paragraph about 3D models
  doc/source/faq.rst
Labels: funded through GSP

#11558 Add 'gdal raster buildvrt'
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_buildvrt.cpp
  apps/gdalalg_raster_buildvrt.h
  autotest/cpp/test_cpl.cpp
  autotest/utilities/test_gdalalg_raster_buildvrt.py
  autotest/utilities/test_gdalalg_raster_edit.py
  doc/source/api/cpl.rst
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_buildvrt.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/cpl_string.h
  port/cpl_vsi.h
  port/cpl_vsil.cpp
  swig/include/Algorithm.i
  swig/include/python/gdal_python.i
Labels: funded through GSP, gdal_cli

#11563 gdal CLI: add Bash completion
  apps/gdal.cpp
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_pipeline.h
  autotest/cpp/test_cpl.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdal.py
  frmts/gtiff/cogdriver.cpp
  frmts/gtiff/geotiff.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/cpl_conv.cpp
  port/cpl_conv.h
  scripts/completionFinder.py
  scripts/gdal-bash-completion.sh
  scripts/setdevenv.sh
Labels: funded through GSP

#11569 VRTProcessedDataset: reduce block size when amount of RAM for temp buffers would be too large
  frmts/vrt/vrtprocesseddataset.cpp
  gcore/gdalmultidim.cpp
  gcore/gdalmultidim_gltorthorectification.cpp
  gcore/gdalnodatamaskband.cpp
  gcore/gdalrasterband.cpp
  gcore/overview.cpp
  gcore/rasterio.cpp
  gcore/rawdataset.cpp
Labels: funded through GSP

#11588 fuzzers: add a fuzzer for LIBERTIFF driver
  fuzzers/CMakeLists.txt
  fuzzers/build_google_oss_fuzzers.sh
  fuzzers/gdal_fuzzer.cpp
Labels: funded through GSP

#11589 GML2OGRGeometry: report gml:id of geometry in error messages
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
  ogr/ogr_p.h
Labels: funded through GSP

#11603 update reference since link is no longer available
  doc/source/drivers/raster/gtiff.rst
Labels: backport release/3.10

#11599 gml:CircleByCenterPoint: correctly take into account radius.uom for projected CRS
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
Labels: funded through GSP

#11600 [Backport 3.10] gml:CircleByCenterPoint: correctly take into account radius.uom for projected CRS
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
Labels: funded through GSP

#11601 netCDF: fix 3.10.1RC1 regression regarding reporting of values of extra dimensions
  autotest/gdrivers/data/netcdf/extra_dim_unlimited.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: funded through GSP

#11602 [Backport 3.10] netCDF: fix 3.10.1RC1 regression regarding reporting of values of extra dimensions
  autotest/gdrivers/data/netcdf/extra_dim_unlimited.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: funded through GSP

#11585 VRT: avoid artifacts on source boundaries when the VRT has an alpha or mask band, and non-nearest neighbour resampling is involved
  autotest/gcore/vrt_read.py
  frmts/vrt/vrtsourcedrasterband.cpp
Labels: funded through GSP

#11595 GRIB: apply a heuristics to auto-fix wrong registration of latitudeOfFirstGridPoint in products from Tokyo center
  autotest/gdrivers/data/grib/MANAL_2023030103_fake_wrong_grid_origin_latitude.grb2
  autotest/gdrivers/grib.py
  frmts/grib/gribdataset.cpp
  port/cpl_known_config_options.h
Labels: backport release/3.10

#11605 Add a OGRGeometryFactory::GetDefaultArcStepSize() method to get value…
  autotest/cpp/test_ogr.cpp
  ogr/gml2ogrgeometry.cpp
  ogr/ogr_geometry.h
  ogr/ogrgeometryfactory.cpp
  ogr/ogrpgeogeometry.cpp
  ogr/ogrsf_frmts/dwg/ogrdgnv8layer.cpp
  ogr/ogrsf_frmts/ili/ogrili1datasource.cpp
  ogr/ogrsf_frmts/ili/ogrili1layer.cpp
  port/cpl_known_config_options.h
Labels: code enhancements, funded through GSP

#11612 Add GDALExpandPackedBitsToByteAt0Or255() and GDALExpandPackedBitsToByteAt0Or1()
  autotest/cpp/test_gdal.cpp
  frmts/gtiff/gtiffoddbitsband.cpp
  frmts/libertiff/libertiffdataset.cpp
  gcore/gdal_priv.h
  gcore/rasterio.cpp
Labels: funded through GSP

#11613 Add a gdal_fwd.h public header with forward definitions of GDAL/OGR/OSR C opaque types
  doc/source/api/gdal_fwd.rst
  doc/source/api/index.rst
  gcore/CMakeLists.txt
  gcore/gdal.h
  gcore/gdal_fwd.h
  gnm/gnm_api.h
  ogr/ogr_api.h
  ogr/ogr_feature.h
  ogr/ogr_geometry.h
  ogr/ogr_srs_api.h
  swig/include/Dataset.i
  swig/include/MultiDimensional.i
  swig/include/Operations.i
  swig/include/gnm.i
  swig/include/ogr.i
  swig/include/osr.i
Labels: funded through GSP

#11615 Explicitly set CMAKE_CXX_SCAN_FOR_MODULES=0
  cmake/helpers/GdalCAndCXXStandards.cmake
Labels: backport release/3.10

#11616 Add a data/gdal_algorithm.schema.json to validate 'gdal [command] [subcommand] --json-usage' output
  .github/workflows/alpine/build.sh
  apps/CMakeLists.txt
  apps/data/gdal_algorithm.schema.json
Labels: funded through GSP, gdal_cli

#11621 Fix build in infback9 on MacOS and unity builds
  frmts/zlib/contrib/infback9/minified_zutil.h
Labels: backport release/3.10, funded through GSP

#11624 tif_jxl: Add include for TIFF type and use TIFF_SIZE_FORMAT for error.
  frmts/gtiff/tif_jxl.c
  frmts/gtiff/tif_jxl.h
Labels: bug

#11626 Remove uses of #ifdef CPL_HAS_GINT64
  autotest/cpp/test_cpl.cpp
  frmts/eeda/eedadataset.cpp
  frmts/pds/pdsdataset.cpp
  frmts/pds/vicardataset.cpp
  frmts/pds/vicardataset.h
  frmts/pds/vicarkeywordhandler.cpp
  frmts/rmf/rmfdataset.cpp
  gcore/gdaljp2box.cpp
  gcore/gdalmultidim.cpp
  gcore/gdalrasterband.cpp
  gcore/rasterio.cpp
  gcore/rawdataset.cpp
  ogr/ogr_swq.h
  ogr/ogrsf_frmts/cad/libopencad/cadheader.cpp
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/ogrsf_frmts/gmlutils/ogrwfsfilter.cpp
  ogr/ogrsf_frmts/oapif/ogroapifdriver.cpp
  ogr/swq_expr_node.cpp
  ogr/swq_op_general.cpp
  port/cpl_safemaths.hpp
Labels: code enhancements, funded through GSP

#11609 [SQLite] Transaction field handling: intial implementation
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_sqlite.py
  autotest/pymod/ogrtest.py
  ogr/ogr_feature.h
  ogr/ogrfeaturedefn.cpp
  ogr/ogrfielddefn.cpp
  ogr/ogrgeomfielddefn.cpp
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/ogrsf_frmts.dox
  ogr/ogrsf_frmts/ogrsf_frmts.h
  ogr/ogrsf_frmts/sqlite/ogr_sqlite.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitetablelayer.cpp
Labels: bug

#11641 Internal libtiff: resync with upstream
  frmts/gtiff/libtiff/gdal_libtiff_symbol_rename.h
  frmts/gtiff/libtiff/tif_dir.c
  frmts/gtiff/libtiff/tif_dir.h
  frmts/gtiff/libtiff/tif_dirinfo.c
  frmts/gtiff/libtiff/tif_dirread.c
  frmts/gtiff/libtiff/tif_dirwrite.c
  frmts/gtiff/libtiff/tif_fax3.c
  frmts/gtiff/libtiff/tif_getimage.c
  frmts/gtiff/libtiff/tif_hash_set.h
  frmts/gtiff/libtiff/tif_jpeg.c
  frmts/gtiff/libtiff/tif_lerc.c
  frmts/gtiff/libtiff/tif_luv.c
  frmts/gtiff/libtiff/tif_lzma.c
  frmts/gtiff/libtiff/tif_ojpeg.c
  frmts/gtiff/libtiff/tif_open.c
  frmts/gtiff/libtiff/tif_pixarlog.c
  frmts/gtiff/libtiff/tif_predict.c
  frmts/gtiff/libtiff/tif_print.c
  frmts/gtiff/libtiff/tif_webp.c
  frmts/gtiff/libtiff/tif_zip.c
  frmts/gtiff/libtiff/tif_zstd.c
  frmts/gtiff/libtiff/tiffiop.h
  frmts/gtiff/tif_jxl.c
Labels: funded through GSP

#11638 Fix read heap-buffer-overflow on nested /vsitar/ calls
  port/cpl_path.cpp
  port/cpl_vsil_abstract_archive.cpp
Labels: backport release/3.10, funded through GSP

#11646 Avoid clang warning in -fsanitize=undefined -O mode (master only)
  gcore/rasterio.cpp
  gcore/rasterio_ssse3.cpp
Labels: funded through GSP

#11647 DOC: configoptions fix ignore-env-vars directive
  doc/source/user/configoptions.rst
Labels: backport release/3.10

#11651 Make use of the new GDALDriverHasOpenOption method
  gcore/gdaldataset.cpp
Labels: funded through GSP

#11637 Python bindings: on Debian, fix install target with non-Debian provided python version
  swig/python/CMakeLists.txt
  swig/python/install_python.cmake.in
Labels: backport release/3.10

#11655 ogr2ogr: fix -clipsrc/-clipdst when a input geometry is within the envelope of a non-rectangular clip geometry, but doesn't intersect it (3.10.0 regression)
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_ogr2ogr_lib.py
Labels: backport release/3.10, funded through GSP

#11048 PDF: remove write support for GEO_ENCODING=OGC_BP
  autotest/gdrivers/data/pdf/test_pdf_composition.pdf
  autotest/gdrivers/data/pdf/test_pdf_composition_libpng_1_6_40.pdf
  autotest/gdrivers/pdf.py
  doc/source/drivers/raster/pdf.rst
  frmts/pdf/pdfcreatecopy.cpp
  frmts/pdf/pdfcreatecopy.h
  frmts/pdf/pdfcreatefromcomposition.cpp
  frmts/pdf/pdfcreatefromcomposition.h
  frmts/pdf/pdfdrivercore.cpp
  port/cpl_known_config_options.h
Labels: funded through GSP

#11644 CreateGeometryFromGML(): recognize aixm:ElevatedPoint (ignoring the elevation)
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
Labels: funded through GSP

#11622 Add convenience GDALDataset::GeolocationToPixelLine() and GDALRasterBand::InterpolateAtGeolocation()
  alg/gdaltransformer.cpp
  autotest/gcore/interpolateatpoint.py
  doc/source/spelling_wordlist.txt
  gcore/gdal.h
  gcore/gdal_priv.h
  gcore/gdaldataset.cpp
  gcore/gdalrasterband.cpp
  swig/include/Band.i
  swig/include/java/gdal_java.i
  swig/include/python/gdal_python.i
Labels: funded through GSP

#11666 Parquet: fix compiler deprecation warning with libarrow 19.0
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
Labels: backport release/3.10

#11674 Fix compiler warning on fetched googletest on fedora:rawhide with latest clang
  autotest/cpp/CMakeLists.txt
Labels: backport release/3.10, funded through GSP

#11614 Add 'gdal raster overview add' and 'gdal raster overview delete'
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_overview.h
  apps/gdalalg_raster_overview_add.cpp
  apps/gdalalg_raster_overview_add.h
  apps/gdalalg_raster_overview_delete.cpp
  apps/gdalalg_raster_overview_delete.h
  apps/gdalalg_raster_reproject.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdal.py
  autotest/utilities/test_gdalalg_raster_overview.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_overview.rst
  doc/source/programs/gdal_raster_overview_add.rst
  doc/source/programs/gdal_raster_overview_delete.rst
  doc/source/programs/gdal_raster_reproject.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: funded through GSP, gdal_cli

#11634 Add 'gdal raster clip' and 'gdal raster pipeline read ... ! clip ... ! write ...'
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_clip.cpp
  apps/gdalalg_raster_clip.h
  apps/gdalalg_raster_pipeline.cpp
  autotest/utilities/test_gdalalg_raster_pipeline.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_clip.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/index.rst
Labels: funded through GSP, gdal_cli

#11673 [gdal_contour] Do not include min/max when polygonize
  alg/contour.cpp
  alg/marching_squares/level_generator.h
  alg/marching_squares/polygon_ring_appender.h
  alg/marching_squares/segment_merger.h
  apps/gdal_contour.cpp
  autotest/alg/contour.py
  autotest/cpp/test_marching_squares_polygon.cpp
  autotest/utilities/test_gdal_contour.py
  doc/source/programs/gdal_contour.rst
Labels: funded through GSP

#11665 CSV: fix parsing files with double-quote inside a field value
  autotest/ogr/data/csv/double_quotes_in_middle_of_field_bis.csv
  autotest/ogr/ogr_csv.py
  port/cpl_csv.cpp
Labels: backport release/3.10, funded through GSP

#11683 CI: gdal-master conda upload: harden script to detect errors
  .github/workflows/conda.yml
  ci/travis/conda/upload.sh
Labels: Continuous integration, funded through GSP

#11685 CI gdal-master conda: patch version number to X.Y.99
  ci/travis/conda/setup.sh
Labels: Continuous integration, funded through GSP

#11662 FileGDB: remove native update and creation support; forward it to OpenFileGDB driver
  autotest/ogr/ogr_fgdb.py
  autotest/ogr/ogr_fgdb_stress_test.py
  doc/source/drivers/vector/filegdb.rst
  ogr/ogrsf_frmts/filegdb/FGdbDatasource.cpp
  ogr/ogrsf_frmts/filegdb/FGdbDriver.cpp
  ogr/ogrsf_frmts/filegdb/FGdbLayer.cpp
  ogr/ogrsf_frmts/filegdb/ogr_fgdb.h
  ogr/ogrsf_frmts/generic/CMakeLists.txt
  ogr/ogrsf_frmts/generic/ogremulatedtransaction.cpp
  ogr/ogrsf_frmts/generic/ogremulatedtransaction.h
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdrivercore.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer_write.cpp
  port/cpl_known_config_options.h
Labels: funded through GSP

#11640 Add RFC 105 text: Add and use safe path manipulation functions
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc105_safe_path_manipulation_functions.rst
  doc/source/spelling_wordlist.txt
Labels: funded through GSP

#11695 [SQLite] Support SAVEPOINT
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_sqlite.py
  autotest/pymod/ogrtest.py
  ogr/ogr_api.h
  ogr/ogr_feature.h
  ogr/ogrfielddefn.cpp
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/ogrsf_frmts.h
  ogr/ogrsf_frmts/pg/ogr_pg.h
  ogr/ogrsf_frmts/pg/ogrpgtablelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogr_sqlite.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitebase.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitedatasource.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitetablelayer.cpp
  swig/include/ogr.i
Labels: enhancement

#11681 Add 'gdal vector clip' and 'gdal vector pipeline read ... ! clip ... ! write ...'
  apps/CMakeLists.txt
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_clip.cpp
  apps/gdalalg_vector_clip.h
  apps/gdalalg_vector_pipeline.cpp
  autotest/cpp/test_ogr.cpp
  autotest/utilities/test_gdalalg_vector_clip.py
  doc/source/conf.py
  doc/source/programs/gdal_options/co_vector.rst
  doc/source/programs/gdal_raster_clip.rst
  doc/source/programs/gdal_vector.rst
  doc/source/programs/gdal_vector_clip.rst
  doc/source/programs/gdal_vector_convert.rst
  doc/source/programs/gdal_vector_pipeline.rst
  doc/source/programs/index.rst
  ogr/ogr_geometry.h
  ogr/ogrpolygon.cpp
Labels: funded through GSP, gdal_cli

#11703 Remove Interlis 1 and 2 write support
  .github/workflows/ubuntu_24.04/expected_ogrinfo_formats.txt
  .github/workflows/windows_conda_expected_ogrinfo_formats.txt
  autotest/ogr/ogr_ili.py
  doc/source/drivers/vector/ili.rst
  ogr/ogrsf_frmts/ili/ogr_ili1.h
  ogr/ogrsf_frmts/ili/ogr_ili2.h
  ogr/ogrsf_frmts/ili/ogrili1datasource.cpp
  ogr/ogrsf_frmts/ili/ogrili1driver.cpp
  ogr/ogrsf_frmts/ili/ogrili1layer.cpp
  ogr/ogrsf_frmts/ili/ogrili2datasource.cpp
  ogr/ogrsf_frmts/ili/ogrili2driver.cpp
  ogr/ogrsf_frmts/ili/ogrili2layer.cpp
Labels: funded through GSP

#11713 Warping: fix inconsistent replacement of valid value that collides with the dstnodata value
  alg/gdalwarper.h
  alg/gdalwarpkernel.cpp
  autotest/alg/applyverticalshiftgrid.py
  autotest/alg/warp.py
Labels: funded through GSP

#11715 Rename 'gdal raster buildvrt' to 'gdal raster mosaic', and add 'gdal raster stack'
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_mosaic.cpp
  apps/gdalalg_raster_mosaic.h
  apps/gdalalg_raster_stack.cpp
  apps/gdalalg_raster_stack.h
  autotest/utilities/test_gdalalg_raster_mosaic.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_buildvrt.rst
  doc/source/programs/gdal_raster_mosaic.rst
  doc/source/programs/gdal_raster_stack.rst
  doc/source/programs/index.rst
Labels: funded through GSP, gdal_cli

#11722 ogrlineref: make -f LIBKML to work without warning
  apps/ogrlineref.cpp
  apps/ogrtindex.cpp
  autotest/utilities/test_ogrlineref.py
Labels: backport release/3.10, funded through GSP

#11738 cog.py: Fix typo in test_cog_write_jpegxl_alpha
  autotest/gcore/cog.py
Labels: bug

#11754 Move swig/python/data/template_tiles.mapml to gcore/data
  gcore/CMakeLists.txt
  gcore/data/template_tiles.mapml
  swig/python/CMakeLists.txt
Labels: backport release/3.10, funded through GSP

#11755 gml:CircleByCenterPoint(): return a 5-point CIRCULARSTRING for compliance with ISO/IEC 13249-3:2011
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
Labels: backport release/3.10

#11724 gdal raster mosaic/stack: turn gdalbuildvrt -strict mode, and add a --resolution=same mode mode
  apps/gdalalg_raster_mosaic.cpp
  apps/gdalalg_raster_stack.cpp
  apps/gdalbuildvrt_lib.cpp
  autotest/utilities/test_gdalalg_raster_mosaic.py
  doc/source/programs/gdal_raster_mosaic.rst
  doc/source/programs/gdal_raster_stack.rst
  doc/source/programs/gdalbuildvrt.rst
Labels: funded through GSP, gdal_cli

#11760 STACIT: STAC 1.1 support
  autotest/gdrivers/data/stacit/test_stac_1.1.json
  autotest/gdrivers/stacit.py
  frmts/stacit/stacitdataset.cpp
Labels: backport release/3.10, funded through GSP

#11723 Doc: add a Migration guide to "gdal" command line interface, and show examples of bash completion
  doc/source/programs/gdal.rst
  doc/source/programs/index.rst
  doc/source/programs/migration_guide_to_gdal_cli.rst
Labels: documentation, funded through GSP
