Repository OSGeo/gdal, pull requests merged in 2025-04, with the labels that each got.

#12068 Update internal libtiff and conditionally remove hack in GTiff driver
  frmts/gtiff/gt_overview.cpp
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/gtiff/libtiff/tif_close.c
  frmts/gtiff/libtiff/tif_dir.c
  frmts/gtiff/libtiff/tif_dirread.c
  frmts/gtiff/libtiff/tif_dirwrite.c
  frmts/gtiff/libtiff/tif_fax3.c
  frmts/gtiff/libtiff/tif_read.c
  frmts/gtiff/libtiff/tif_write.c
  frmts/gtiff/libtiff/tif_zip.c
  frmts/gtiff/libtiff/tiffio.h
Labels: funded through GSP

#12049 GPKG: more vector and unique_ptr use
  autotest/gdrivers/gpkg.py
  autotest/ogr/data/gpkg/poly_golden_gpkg_1_4.gpkg
  autotest/ogr/ogr_gpkg.py
  doc/source/drivers/raster/gpkg.rst
  doc/source/drivers/vector/gpkg.rst
  ogr/ogrsf_frmts/gpkg/gdalgeopackagerasterband.cpp
  ogr/ogrsf_frmts/gpkg/ogr_geopackage.h
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
Labels: code enhancements, funded through GSP

#12026 GPKG: change default version to GeoPackage 1.4
  autotest/gdrivers/gpkg.py
  autotest/ogr/data/gpkg/poly_golden_gpkg_1_4.gpkg
  autotest/ogr/ogr_gpkg.py
  doc/source/drivers/raster/gpkg.rst
  doc/source/drivers/vector/gpkg.rst
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
Labels: funded through GSP

#12057 gdaldem: hillshade and slope: automatically set scale for geographic …
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdaldem_lib.py
  doc/source/programs/gdaldem.rst
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP

#12070 docs: Add title to file and improve include (fix #10084)
  doc/source/programs/nodata_handling_gdaladdo_gdal_translate.rst
Labels: documentation

#12078 Doc: Add Python docs for ApplyGeoTransform, InvGeoTransform
  swig/include/python/docs/gdal_docs.i
Labels: documentation

#12071 docs: Merge "about" information into a single file
  HOWTO-RELEASE
  doc/source/about.rst
  doc/source/about_no_title.rst
  doc/source/index.rst
Labels: documentation

#12077 GDALArgument: add Set[Min|Max][Included|Excluded]() to set allowed range
  apps/data/gdal_algorithm.schema.json
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_hillshade.cpp
  apps/gdalalg_raster_info.cpp
  apps/gdalalg_raster_overview_add.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_resize.cpp
  apps/gdalalg_raster_slope.cpp
  apps/gdalalg_vector_geom_buffer.cpp
  apps/gdalalg_vector_geom_segmentize.cpp
  apps/gdalalg_vector_geom_simplify.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdalalg_raster_contour.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_geom_segmentize.py
  autotest/utilities/test_gdalalg_vector_geom_simplify.py
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12037 gdal2tiles: remap PIL (Python Imaging Library)' 'antialias' resampling to GDAL Lanczos
  autotest/pyscripts/gdal2tiles/test_option_parser.py
  doc/source/programs/gdal2tiles.rst
  docker/alpine-normal/Dockerfile
  docker/ubuntu-full/Dockerfile
  docker/ubuntu-small/Dockerfile
  swig/python/gdal-utils/osgeo_utils/gdal2tiles.py
Labels: funded through GSP

#12054 VRT: propagate user overridden blocksize to (non-external) overviews,…
  apps/gdal_translate_lib.cpp
  autotest/gdrivers/vrtovr.py
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtrasterband.cpp
Labels: enhancement, funded through GSP

#12086 gdaltest.py: Avoid error with pytest < 8.2
  autotest/pymod/gdaltest.py
Labels: test suite

#12088 Doc: Add caveat to description of gdalwarp -tap
  doc/source/programs/gdalwarp.rst
Labels: documentation

#12119 Exclude setup.py.in from Precommit Checks
  .pre-commit-config.yaml
Labels: funded through GSP

#12125 Doc: Simplify conda gdal-master instructions
  doc/source/download.rst
Labels: documentation

#12130 autotest: add tests for gdal_translate error cases
  apps/gdal_translate_lib.cpp
  autotest/pymod/gdaltest.py
  autotest/utilities/test_gdal_translate_lib.py
Labels: bug, test suite

#12136 CMake: avoid detection of C23 #embed on too old compilers
  gdal.cmake
Labels: funded through GSP

#12135 GTiff: support creating Float16, and read it as Float16 (instead of Float32 with NBITS=16)
  autotest/gcore/tiff_write.py
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/gtiff/gtiffoddbitsband.cpp
  frmts/gtiff/gtiffrasterband.cpp
  gcore/rasterio.cpp
Labels: enhancement, funded through GSP

#12134 Python bindings: make alg['datatype'] accept a GDT_ constant
  autotest/utilities/test_gdalalg_raster_astype.py
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  swig/include/Algorithm.i
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP, gdal_cli

#12132 Add 'gdal vfs list/copy/delete'
  apps/CMakeLists.txt
  apps/gdalalg_vfs.cpp
  apps/gdalalg_vfs_copy.cpp
  apps/gdalalg_vfs_copy.h
  apps/gdalalg_vfs_delete.cpp
  apps/gdalalg_vfs_delete.h
  apps/gdalalg_vfs_list.cpp
  apps/gdalalg_vfs_list.h
  autotest/gcore/vsiaz.py
  autotest/gcore/vsis3.py
  autotest/utilities/test_gdal.py
  autotest/utilities/test_gdalalg_vfs.py
  autotest/utilities/test_gdalalg_vfs_copy.py
  autotest/utilities/test_gdalalg_vfs_delete.py
  autotest/utilities/test_gdalalg_vfs_list.py
  doc/source/conf.py
  doc/source/programs/gdal_vfs.rst
  doc/source/programs/gdal_vfs_copy.rst
  doc/source/programs/gdal_vfs_delete.rst
  doc/source/programs/gdal_vfs_list.rst
  doc/source/programs/index.rst
  doc/source/spelling_wordlist.txt
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/cpl_string.h
  port/cpl_vsil_az.cpp
  port/cpl_vsil_curl_class.h
  port/cpl_vsil_s3.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12117 ADBC: prevent driver to open an empty GeoPackage file (as the GPKG driver itself doesn't allow it)
  autotest/ogr/ogr_adbc.py
  ogr/ogrsf_frmts/adbc/ogradbcdrivercore.cpp
Labels: bug, funded through GSP

#12140 Add "gdal raster index" and "gdal driver gti create" (port of gdaltindex)
  .github/workflows/doc_checks.yml
  apps/CMakeLists.txt
  apps/gdal_utils.h
  apps/gdal_utils_priv.h
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_index.cpp
  apps/gdalalg_raster_index.h
  apps/gdalalg_vector_output_abstract.cpp
  apps/gdalalg_vector_output_abstract.h
  apps/gdaltindex_bin.cpp
  apps/gdaltindex_lib.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdalalg_driver_gti_create.py
  autotest/utilities/test_gdalalg_raster_index.py
  autotest/utilities/test_gdaltindex_lib.py
  doc/rtd/pre_build.sh
  doc/source/conf.py
  doc/source/drivers/raster/gti.rst
  doc/source/programs/gdal_driver_gti_create.rst
  doc/source/programs/gdal_options/srs_def_gdal_raster_reproject.rst
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_index.rst
  doc/source/programs/gdal_vector_convert.rst
  doc/source/programs/gdal_vector_filter.rst
  doc/source/programs/gdal_vector_geom_buffer.rst
  doc/source/programs/gdal_vector_geom_explode_collections.rst
  doc/source/programs/gdal_vector_geom_make_valid.rst
  doc/source/programs/gdal_vector_geom_segmentize.rst
  doc/source/programs/gdal_vector_geom_set_type.rst
  doc/source/programs/gdal_vector_geom_simplify.rst
  doc/source/programs/gdal_vector_geom_swap_xy.rst
  doc/source/programs/gdal_vector_reproject.rst
  doc/source/programs/gdal_vector_select.rst
  doc/source/programs/gdal_vector_sql.rst
  doc/source/programs/index.rst
  doc/source/programs/ogr2ogr.rst
  doc/source/programs/options/lco.rst
  frmts/gti/gdaltileindexdataset.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP, gdal_cli

#12143 Doc: document VSI meaning: Virtual System Interface
  doc/source/faq.rst
  doc/source/user/virtual_file_systems.rst
  port/cpl_vsi.h
Labels: documentation

#12138 gdalcompare: do not emit exception when all pixels are invalid
  autotest/gcore/gdal_stats.py
  autotest/pyscripts/test_gdalcompare.py
  swig/include/python/gdal_python.i
  swig/python/gdal-utils/osgeo_utils/gdalcompare.py
Labels: bug, funded through GSP

#12133 Add 'gdal raster create' (port of gdal_create)
  .github/workflows/ubuntu_24.04/expected_gdalinfo_formats.txt
  .github/workflows/ubuntu_24.04/expected_ogrinfo_formats.txt
  apps/CMakeLists.txt
  apps/gdal_translate_lib.cpp
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_create.cpp
  apps/gdalalg_raster_create.h
  apps/gdalalg_raster_edit.cpp
  apps/gdalalg_raster_edit.h
  autotest/cpp/test_gdal.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdal_translate_lib.py
  autotest/utilities/test_gdalalg_raster_convert.py
  autotest/utilities/test_gdalalg_raster_create.py
  autotest/utilities/test_gdalalg_raster_edit.py
  doc/source/conf.py
  doc/source/programs/gdal_create.rst
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_create.rst
  doc/source/programs/gdal_raster_edit.rst
  doc/source/programs/index.rst
  doc/source/spelling_wordlist.txt
  frmts/grib/gribdrivercore.cpp
  frmts/gtiff/geotiff.cpp
  frmts/nitf/nitfdrivercore.cpp
  frmts/pds/pdsdrivercore.cpp
  frmts/tiledb/tiledbdrivercore.cpp
  frmts/zarr/zarrdrivercore.cpp
  gcore/gdal.h
  gcore/gdal_misc.cpp
  gcore/gdal_priv.h
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  gcore/gdalrasterband.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedriver.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitedriver.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12076 /vsicurl/: add GDAL_HTTP_MAX_CACHED_CONNECTIONS and GDAL_HTTP_MAX_TOTAL_CONNECTIONS config options
  autotest/gcore/vsicurl.py
  doc/source/user/configoptions.rst
  doc/source/user/virtual_file_systems.rst
  port/cpl_known_config_options.h
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_curl_class.h
Labels: enhancement

#12104 SQLite dialect: fix when a field has the same name as the FID column
  autotest/ogr/ogr_geojson.py
  ogr/ogrsf_frmts/sqlite/ogr_sqlite.h
  ogr/ogrsf_frmts/sqlite/ogrsqlitetablelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqlitevirtualogr.cpp
Labels: bug, funded through GSP

#12092 GDALAlgorithm: add suggestion for bad algorithm/argument name based on Damerau-Levenshtein distance
  apps/gdal.cpp
  apps/gdalalg_main.cpp
  autotest/cpp/test_cpl.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdal.py
  autotest/utilities/test_gdalalg_convert.py
  autotest/utilities/test_gdalalg_info.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/CMakeLists.txt
  port/cpl_levenshtein.cpp
  port/cpl_levenshtein.h
  scripts/typos_allowlist.txt
Labels: enhancement, funded through GSP, gdal_cli

#12110 Add 'gdal raster clean-collar' (port of nearblack)
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_clean_collar.cpp
  apps/gdalalg_raster_clean_collar.h
  apps/nearblack_lib.cpp
  autotest/utilities/test_gdalalg_raster_clean_collar.py
  doc/source/conf.py
  doc/source/programs/gdal_options/of_raster_create.rst
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_clean_collar.rst
  doc/source/programs/index.rst
  doc/source/programs/migration_guide_to_gdal_cli.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12115 Add 'gdal vector concat' (port of Python ogrmerge script)
  apps/CMakeLists.txt
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_clip.cpp
  apps/gdalalg_vector_concat.cpp
  apps/gdalalg_vector_concat.h
  apps/gdalalg_vector_edit.cpp
  apps/gdalalg_vector_filter.cpp
  apps/gdalalg_vector_geom.cpp
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_pipeline.h
  apps/gdalalg_vector_read.cpp
  apps/gdalalg_vector_reproject.cpp
  apps/gdalalg_vector_select.cpp
  apps/gdalalg_vector_sql.cpp
  apps/gdalalg_vector_write.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/utilities/test_gdalalg_vector_concat.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  doc/source/conf.py
  doc/source/programs/gdal_vector.rst
  doc/source/programs/gdal_vector_concat.rst
  doc/source/programs/gdal_vector_pipeline.rst
  doc/source/programs/gdal_vector_reproject.rst
  doc/source/programs/index.rst
  doc/source/programs/migration_guide_to_gdal_cli.rst
  doc/source/spelling_wordlist.txt
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12122 Add 'gdal raster polygonize' (port of gdal_polygonize.py)
  apps/CMakeLists.txt
  apps/gdal_contour_lib.cpp
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_contour.h
  apps/gdalalg_raster_polygonize.cpp
  apps/gdalalg_raster_polygonize.h
  autotest/utilities/test_gdalalg_raster_contour.py
  autotest/utilities/test_gdalalg_raster_polygonize.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_contour.rst
  doc/source/programs/gdal_raster_polygonize.rst
  doc/source/programs/index.rst
Labels: enhancement, funded through GSP, gdal_cli

#12151 GMLAS: speed up parsing by using maps and saving a few memory allocations
  ogr/ogrsf_frmts/gmlas/ogr_gmlas.h
  ogr/ogrsf_frmts/gmlas/ogrgmlasreader.cpp
Labels: enhancement, funded through GSP

#12128 Python bindings: expose gdal_translate -eco and -epo
  apps/gdal_translate_lib.cpp
  autotest/utilities/test_gdal_translate_lib.py
  swig/include/python/gdal_python.i
Labels: python bindings

#12156 Add 'gdal driver gpkg repack'
  autotest/ogr/ogr_gpkg.py
  autotest/ogr/ogr_openfilegdb_write.py
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedriver.cpp
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdbdriver.cpp
Labels: funded through GSP, gdal_cli

#12159 Python bindings: Fix incorrect gdal.Translate error message
  swig/include/python/gdal_python.i
Labels: python bindings

#12158 Add example Python API gdal_mdm_doc
  gcore/gdalmultidim.cpp
  swig/include/python/docs/gdal_mdm_docs.i
  swig/include/python/gdal_python.i
  swig/python/CMakeLists.txt
Labels: documentation, funded through GSP

#12200 autotest gmlas.py: Skip test if external schema URL cannot be accessed
  autotest/ogr/ogr_gmlas.py
Labels: test suite

#12199 SWIG: Add Driver.CreateVector
  autotest/ogr/ogr_shape.py
  swig/include/Driver.i
  swig/include/python/docs/gdal_driver_docs.i
Labels: python bindings

#12162 Python bindings: Accept CRS definition in osr.SpatialReference constructor
  autotest/osr/osr_basic.py
  swig/include/python/docs/osr_spatialreference_docs.i
  swig/include/python/osr_python.i
Labels: python bindings

#12169 HFA and PDF: avoid integer division by zero in CreateCopy() when one of dataset dimension is zero
  autotest/gcore/hfa_write.py
  autotest/gdrivers/data/l1b/n12gac8bit_truncated_ysize_0_1band.l1b
  autotest/gdrivers/pdf.py
  frmts/hfa/hfaopen.cpp
  frmts/pdf/pdfcreatecopy.cpp
Labels: funded through GSP

#12183 MRF: DeflateBlock(): avoid potential buffer overrun
  frmts/mrf/mrf_band.cpp
Labels: funded through GSP

#12184 GDALInConstructionAlgorithmArg::SetDefault(): stricter type checking
  autotest/cpp/test_gdal_algorithm.cpp
  gcore/gdalalgorithm.h
Labels: funded through GSP

#12212 gdal convert: better error message if input file cannot be opened
  apps/gdalalg_dispatcher.h
  autotest/utilities/test_gdalalg_convert.py
Labels: funded through GSP, gdal_cli

#12208 [cli] Port gdal_fillnodata to CLI
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_fillnodata.cpp
  apps/gdalalg_raster_fillnodata.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  autotest/utilities/test_gdalalg_raster_fillnodata.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_fillnodata.rst
  doc/source/programs/index.rst
Labels: funded through GSP, gdal_cli

#12211 gdal vector pipeline: make sure read step opens in vector mode
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_polygonize.cpp
  apps/gdalalg_vector_convert.cpp
  apps/gdalalg_vector_output_abstract.cpp
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_rasterize.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/gcore/algorithm.py
  autotest/ogr/ogr_pg.py
  doc/source/development/rfc/rfc104_gdal_cli.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  swig/include/Algorithm.i
  swig/include/gdalconst.i
Labels: funded through GSP, gdal_cli

#12167 Move 2 more tutorials to use tabs
  doc/source/tutorials/code/vector_api_tut.py
  doc/source/tutorials/code/vector_api_tut2.py
  doc/source/tutorials/multidimensional_api_tut.rst
  doc/source/tutorials/vector_api_tut.rst
Labels: documentation, funded through GSP

#12217 CMake: Export GDAL library targets
  gdal.cmake
Labels: CMake

#12172 Python bindings: Add Dataset.ReadAsMaskedArray
  autotest/gcore/numpy_rw.py
  swig/include/python/gdal_python.i
Labels: python bindings

#12219 [cli] gdal raster sieve
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_sieve.cpp
  apps/gdalalg_raster_sieve.h
  autotest/utilities/test_gdalalg_raster_sieve.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_sieve.rst
  doc/source/programs/index.rst
Labels: funded through GSP, gdal_cli

#12229 [cli] gdal raster fillnodata - optimization
  apps/gdalalg_raster_fillnodata.cpp
  autotest/utilities/test_gdalalg_raster_fillnodata.py
Labels: funded through GSP, gdal_cli

#12228 GDALComputeOvFactor(): try to return a power-of-two value when possible, ...
  autotest/cpp/test_gdal.cpp
  gcore/gdaldefaultoverviews.cpp
Labels: funded through GSP

#12226 gdal vector convert: do not emit error message when outputting to /vsistdout/
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_create.cpp
  apps/gdalalg_raster_fillnodata.cpp
  apps/gdalalg_raster_mosaic.cpp
  apps/gdalalg_raster_polygonize.cpp
  apps/gdalalg_raster_stack.cpp
  apps/gdalalg_raster_viewshed.cpp
  apps/gdalalg_vector_grid.cpp
  apps/gdalalg_vector_output_abstract.cpp
  apps/ogr2ogr_lib.cpp
  autotest/utilities/test_gdalalg_vector_convert.py
  autotest/utilities/test_gdalalg_vector_grid.py
  gcore/gdal_misc.cpp
  gcore/gdal_priv.h
Labels: funded through GSP, gdal_cli

#12224 TopoJSON: read a top level 'crs' member, and other fixes in GeoJSON and ESRIJSON drivers
  autotest/ogr/data/topojson/topojson_with_crs.topojson
  autotest/ogr/ogr_topojson.py
  ogr/ogrsf_frmts/geojson/ogr_geojson.h
  ogr/ogrsf_frmts/geojson/ogresrijsondriver.cpp
  ogr/ogrsf_frmts/geojson/ogresrijsonreader.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondatasource.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsondriver.cpp
  ogr/ogrsf_frmts/geojson/ogrgeojsonlayer.cpp
  ogr/ogrsf_frmts/geojson/ogrtopojsonreader.cpp
Labels: funded through GSP

#12230 gdal cli: improve tokenization of creation options to avoid detecting FOO=BAR,BAZ as 2 options
  apps/gdalalg_mdim_convert.cpp
  apps/gdalalg_mdim_info.cpp
  apps/gdalalg_raster_create.cpp
  apps/gdalalg_raster_edit.cpp
  apps/gdalalg_raster_index.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_vector_edit.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: funded through GSP, gdal_cli

#12233 gdal vector geom set-type: replace dimension flags with single option
  apps/gdalalg_vector_geom_set_type.cpp
  apps/gdalalg_vector_geom_set_type.h
  autotest/utilities/test_gdalalg_vector_geom_set_type.py
  doc/source/programs/gdal_vector_geom_set_type.rst
Labels: gdal_cli

#12222 Add 'gdal raster pixelinfo' (port of gdallocationinfo)
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_pixelinfo.cpp
  apps/gdalalg_raster_pixelinfo.h
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/pymod/gdaltest.py
  autotest/utilities/test_gdalalg_raster_footprint.py
  autotest/utilities/test_gdalalg_raster_pixelinfo.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_pixelinfo.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli
