Repository OSGeo/gdal, pull requests merged in 2025-05, with the labels that each got.

#12231 gdal_vectorx.h: try to fix compatibility with gcc 8.5.0
  gcore/gdal_vectorx.h
Labels: funded through GSP

#12246 gdal vector concat: fix memleak
  ogr/ogrsf_frmts/generic/ogrunionlayer.cpp
  ogr/ogrsf_frmts/generic/ogrunionlayer.h
Labels: funded through GSP

#12249 Add 'gdal vsi move' and 'gdal vsi sync'
  apps/CMakeLists.txt
  apps/gdalalg_vsi.cpp
  apps/gdalalg_vsi_move.cpp
  apps/gdalalg_vsi_move.h
  apps/gdalalg_vsi_sync.cpp
  apps/gdalalg_vsi_sync.h
  autotest/gcore/vsifile.py
  autotest/utilities/test_gdalalg_vsi_move.py
  autotest/utilities/test_gdalalg_vsi_sync.py
  doc/source/conf.py
  doc/source/programs/gdal_vsi.rst
  doc/source/programs/gdal_vsi_move.rst
  doc/source/programs/gdal_vsi_sync.rst
  doc/source/programs/index.rst
  port/cpl_vsi.h
  port/cpl_vsi_mem.cpp
  port/cpl_vsi_virtual.h
  port/cpl_vsil.cpp
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_vsil_adls.cpp
  port/cpl_vsil_crypt.cpp
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_curl_class.h
  port/cpl_vsil_gzip.cpp
  port/cpl_vsil_plugin.cpp
  port/cpl_vsil_plugin.h
  port/cpl_vsil_s3.cpp
  port/cpl_vsil_unix_stdio_64.cpp
  port/cpl_vsil_win32.cpp
  swig/include/cpl.i
Labels: enhancement, funded through GSP, gdal_cli

#12250 Rename gdal raster astype to gdal raster set-type
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_set_type.cpp
  apps/gdalalg_raster_set_type.h
  autotest/utilities/test_gdalalg_raster_set_type.py
  doc/source/conf.py
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_set_type.rst
  doc/source/programs/index.rst
Labels: gdal_cli

#12257 Add gdal raster reclassify command
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_reclassify.cpp
  apps/gdalalg_raster_reclassify.h
  autotest/utilities/test_gdalalg_raster_calc.py
  autotest/utilities/test_gdalalg_raster_reclassify.py
  doc/source/conf.py
  doc/source/programs/gdal_raster_reclassify.rst
  doc/source/programs/index.rst
Labels: gdal_cli

#12254 gdal CLI: make --version and --drivers only available to top 'gdal' utility
  apps/gdalalg_main.cpp
  apps/gdalalg_main.h
  autotest/cpp/test_gdal_algorithm.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: gdal_cli

#12256 gdal cli: add hyphens to separate composite-word argument names
  apps/gdalalg_raster_clean_collar.cpp
  apps/gdalalg_raster_clip.cpp
  apps/gdalalg_raster_color_map.cpp
  apps/gdalalg_raster_contour.cpp
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_mosaic.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_scale.cpp
  apps/gdalalg_raster_stack.cpp
  apps/gdalalg_raster_viewshed.cpp
  autotest/gcore/algorithm.py
  autotest/utilities/test_gdalalg_raster_clean_collar.py
  autotest/utilities/test_gdalalg_raster_clip.py
  autotest/utilities/test_gdalalg_raster_color_map.py
  autotest/utilities/test_gdalalg_raster_contour.py
  autotest/utilities/test_gdalalg_raster_footprint.py
  autotest/utilities/test_gdalalg_raster_mosaic.py
  autotest/utilities/test_gdalalg_raster_reproject.py
  autotest/utilities/test_gdalalg_raster_scale.py
  autotest/utilities/test_gdalalg_raster_viewshed.py
  doc/source/programs/gdal_raster_contour.rst
  doc/source/programs/gdal_raster_footprint.rst
  doc/source/programs/gdal_raster_mosaic.rst
  doc/source/programs/gdal_raster_reproject.rst
  doc/source/programs/gdal_raster_scale.rst
  doc/source/programs/gdal_raster_stack.rst
  doc/source/programs/gdal_raster_viewshed.rst
Labels: gdal_cli

#12264 gdal raster reclassify: Avoid truncating inputs when using --ot
  apps/gdalalg_raster_reclassify.cpp
  autotest/utilities/test_gdalalg_raster_reclassify.py
Labels: gdal_cli

#12263 gdal raster tile: support --tiling-scheme=raster
  apps/gdalalg_raster_tile.cpp
  autotest/utilities/data/gdal_raster_tile_raster_expected_openlayers.html
  autotest/utilities/test_gdalalg_raster_tile.py
  doc/source/programs/gdal_raster_tile.rst
  gcore/tilematrixset.cpp
  gcore/tilematrixset.hpp
Labels: funded through GSP, gdal_cli

#12266 gdal raster calc: add --output-data-type
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_calc.h
  autotest/utilities/test_gdalalg_raster_calc.py
  doc/source/programs/gdal_options/ot.rst
  doc/source/programs/gdal_raster_create.rst
  doc/source/programs/gdal_raster_reclassify.rst
  doc/source/programs/gdal_raster_scale.rst
  doc/source/programs/gdal_raster_set_type.rst
  doc/source/programs/gdal_raster_unscale.rst
Labels: gdal_cli

#12275 Add linking to -latomic for std::atomic<uint64_t> on architectures where it is needed
  apps/CMakeLists.txt
  cmake/helpers/configure.cmake
Labels: funded through GSP, backport release/3.11

#12277 gdal raster/vector pipeline to .gdalg.json: add 'gdal_version' member
  apps/gdalalg_abstract_pipeline.h
  autotest/gdrivers/gdalg.py
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: funded through GSP, backport release/3.11

#12279 gdal raster tile: add --kml option
  apps/gdalalg_raster_tile.cpp
  apps/gdalalg_raster_tile.h
  autotest/utilities/data/gdal_raster_tile_expected_byte_10_11_10_177_409.kml
  autotest/utilities/data/gdal_raster_tile_expected_byte_10_11_11_354_818.kml
  autotest/utilities/data/gdal_raster_tile_expected_byte_10_11_doc.kml
  autotest/utilities/data/gdal_raster_tile_expected_byte_raster_0_0_0.kml
  autotest/utilities/data/gdal_raster_tile_expected_byte_raster_doc.kml
  autotest/utilities/test_gdalalg_raster_tile.py
  doc/source/programs/gdal_raster_tile.rst
  port/cpl_known_config_options.h
Labels: funded through GSP

#12282 KML: when reassembling multi-line text content, use newline character…
  autotest/ogr/ogr_kml.py
  ogr/ogrsf_frmts/kml/kml.cpp
Labels: funded through GSP

#12283 GPKG: call sqlite3_errmsg() in error messages
  autotest/gdrivers/gti.py
  ogr/ogrsf_frmts/gpkg/gdalgeopackagerasterband.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagedatasource.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqliteutility.cpp
  ogr/ogrsf_frmts/sqlite/ogrsqliteutility.h
Labels: funded through GSP

#12285 Doc: enhancements for 'gdal'
  .github/workflows/doc_checks.yml
  doc/rtd/pre_build.sh
  doc/source/programs/gdal.rst
  doc/source/programs/gdal_bash_completion.rst
  doc/source/programs/gdal_driver_gpkg_repack.rst
  doc/source/programs/gdal_driver_openfilegdb_repack.rst
  doc/source/programs/gdal_driver_pdf_list_layers.rst
  doc/source/programs/gdal_syntax.rst
  doc/source/programs/index.rst
  mkgdaldist.sh
Labels: documentation, funded through GSP

#12291 OGRGeometry::OGRexportToSFCGAL(): fix for 3D geometries for SFCGAL >= 1.5.2
  autotest/ogr/ogr_geom.py
  ogr/ogrgeometry.cpp
Labels: funded through GSP, backport release/3.11

#12298 GDALAlgorithm: fix reading a .gdalg.json dataset with 'GDALG' input format option specified
  autotest/utilities/test_gdalalg_raster_info.py
  gcore/gdalalgorithm.cpp
Labels: funded through GSP, backport release/3.11

#12314 Doc: added missing .prj to CREATE_CSVT
  doc/source/drivers/vector/csv.rst
Labels: documentation

#12310 GDALAlgorithm: Refuse NaN for arguments with specified valid ranges
  autotest/utilities/test_gdalalg_vector_geom_simplify.py
  gcore/gdalalgorithm.cpp
Labels: backport release/3.11

#12315 Exclude index_pdf.rst for non-latex builds
  doc/source/conf.py
Labels: documentation, funded through GSP

#12313 Add tabs to MDM raster docs
  doc/source/tutorials/vector_api_tut.rst
  doc/source/user/multidim_raster_data_model.rst
Labels: documentation, funded through GSP

#12319 gdal_raster_tile.rst: tiny fix max zoom
  doc/source/programs/gdal_raster_tile.rst
Labels: documentation, backport release/3.11

#12307 GDALRegenerateOverviewsMultiBand(): raise threshold to go to on-disk …
  autotest/gcore/tiff_ovr.py
  gcore/overview.cpp
  port/cpl_known_config_options.h
Labels: funded through GSP, backport release/3.11

#12329 Doc: Add upcoming and previous conference links
  doc/images/community/foss4geurope2025.png
  doc/images/foss4g2023.png
  doc/source/community/index.rst
Labels: backport release/3.11

#12335 Doc: use :source_file: whereever possible
  doc/source/api/csharp/csharp_compile_legacy.rst
  doc/source/community/index.rst
  doc/source/development/dev_practices.rst
  doc/source/development/rfc/rfc76_ogrpythondrivers.rst
  doc/source/development/rfc/rfc92_wkb_only_geometries.rst
  doc/source/drivers/raster/gdalg.rst
  doc/source/drivers/raster/wms.rst
  doc/source/drivers/vector/dxf.rst
  doc/source/drivers/vector/gdalg.rst
  doc/source/faq.rst
  doc/source/programs/gdalmdiminfo.rst
  doc/source/programs/ogrinfo.rst
Labels: documentation, backport release/3.11

#12341 dev_documentation.rst: make :source_file: custom directive more visible
  doc/source/development/dev_documentation.rst
Labels: documentation

#12351 gdaladdo / gdal raster overview add/delete: avoid issues with COG
  apps/gdaladdo.cpp
  autotest/utilities/test_gdaladdo.py
  autotest/utilities/test_gdalalg_raster_overview.py
  gcore/gdalalgorithm.cpp
Labels: funded through GSP, backport release/3.11

#12357 MDIM translate: ensure valid axis values in transpose
  apps/gdalmdimtranslate_lib.cpp
  autotest/utilities/test_gdalalg_mdim_convert.py
Labels: backport release/3.11

#12343 gdal_minmax_element.hpp: fix build issue with ARM32 Neon optimizations
  gcore/gdal_minmax_element.hpp
Labels: funded through GSP, backport release/3.11

#12274 CMake: unset GDAL/OGR_ENABLE_DRIVER_xxxx when setting GDAL/OGR_BUILD_OPTIONAL_DRIVERS=ON the first time
  .github/workflows/ubuntu_24.04/build.sh
  gdal.cmake
Labels: funded through GSP

#12276 frmts/iso8211: const correctness fixes
  frmts/adrg/adrgdataset.cpp
  frmts/adrg/srpdataset.cpp
  frmts/iso8211/8211dump.cpp
  frmts/iso8211/8211view.cpp
  frmts/iso8211/ddffield.cpp
  frmts/iso8211/ddffielddefn.cpp
  frmts/iso8211/ddfmodule.cpp
  frmts/iso8211/ddfrecord.cpp
  frmts/iso8211/ddfsubfielddefn.cpp
  frmts/iso8211/iso8211.h
  ogr/ogrsf_frmts/s57/s57.h
  ogr/ogrsf_frmts/s57/s57reader.cpp
Labels: funded through GSP

#12323 HFA: do not emit warning when reading NaN nodata value
  autotest/gdrivers/hfa.py
  frmts/hfa/hfafield.cpp
Labels: funded through GSP, backport release/3.11

#12330 GDALRegenerateOverviews() / GDALRegenerateOverviewsMultiBand(): avoid potential integer overflows on very large rasters/block size
  autotest/cpp/test_gdal.cpp
  autotest/gcore/data/gtiff/huge_raster_with_ovr_huge_block.tif
  autotest/gcore/tiff_ovr.py
  gcore/overview.cpp
Labels: funded through GSP, backport release/3.11

#12331 GDALG: do not Open() in update mode, and 100% code coverage
  autotest/gdrivers/gdalg.py
  frmts/gdalg/gdalgdriver.cpp
  gcore/gdalalgorithm.cpp
Labels: funded through GSP, backport release/3.11

#12332 [Lint] alg/: replace some uses of CPLCalloc() by VSI_MALLOC_VERBOSE()
  alg/gdalsimplewarp.cpp
  alg/gdaltransformgeolocs.cpp
  alg/gdalwarper.cpp
Labels: funded through GSP

#12352 GML geometry parser: recognize '<gml:Curve><gml:segments/></gml:Curve>' as LINESTRING EMPTY
  autotest/ogr/ogr_gml_geom.py
  ogr/gml2ogrgeometry.cpp
Labels: funded through GSP, backport release/3.11

#12342 Do not include cpl_float.h in gdal_priv.h, to avoid issues on Windows with min/max macros
  apps/gdalalg_raster_calc.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  frmts/vrt/pixelfunctions.cpp
  frmts/vrt/vrtprocesseddatasetfunctions.cpp
  frmts/zarr/zarr_v2_array.cpp
  frmts/zarr/zarr_v3_array.cpp
  gcore/gdal_priv.h
  gcore/gdal_typetraits.h
  gcore/gdalcachedpixelaccessor.h
  gcore/gdalrasterband.cpp
Labels: funded through GSP, backport release/3.11

#12353 HEIF: implement request_range() reading callback, in particular for /vsicurl/ access
  autotest/gdrivers/heif.py
  frmts/heif/heifdataset.cpp
  frmts/heif/heifdataset.h
Labels: enhancement

#12355 WMTS: honor <Accept> when sending GetCapabilities response
  autotest/gdrivers/wmts.py
  frmts/wms/gdalhttp.cpp
  frmts/wmts/wmtsdataset.cpp
  port/cpl_http.cpp
Labels: funded through GSP, backport release/3.11

#12295 ZIP filename warning suppression, and LIBKML warning suppression
  autotest/gcore/vsifile.py
  autotest/ogr/ogr_libkml.py
  ogr/ogrsf_frmts/libkml/ogrlibkmldrivercore.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmlfield.cpp
  port/cpl_minizip_zip.cpp
Labels: funded through GSP, backport release/3.11

#12356 Add 'gdal raster overview refresh'
  apps/CMakeLists.txt
  apps/gdalalg_raster_overview.h
  apps/gdalalg_raster_overview_refresh.cpp
  apps/gdalalg_raster_overview_refresh.h
  autotest/utilities/test_gdalalg_raster_overview_refresh.py
  doc/source/conf.py
  doc/source/programs/gdal_raster_overview.rst
  doc/source/programs/gdal_raster_overview_refresh.rst
  doc/source/programs/index.rst
Labels: enhancement, funded through GSP, gdal_cli

#12350 Cli gdal proximity
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_proximity.cpp
  apps/gdalalg_raster_proximity.h
  autotest/utilities/test_gdalalg_raster_proximity.py
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_proximity.rst
  doc/source/programs/index.rst
Labels: funded through GSP, gdal_cli

#12326 Add 'gdal manage-dataset' port of 'gdal dataset'
  apps/CMakeLists.txt
  apps/gdalalg_dataset.cpp
  apps/gdalalg_dataset_copy.cpp
  apps/gdalalg_dataset_copy.h
  apps/gdalalg_dataset_delete.cpp
  apps/gdalalg_dataset_delete.h
  apps/gdalalg_dataset_identify.cpp
  apps/gdalalg_dataset_identify.h
  apps/gdalalg_dataset_rename.cpp
  apps/gdalalg_dataset_rename.h
  apps/gdalalg_vsi_copy.cpp
  apps/gdalalg_vsi_move.cpp
  autotest/utilities/test_gdalalg_dataset.py
  autotest/utilities/test_gdalalg_dataset_copy.py
  autotest/utilities/test_gdalalg_dataset_delete.py
  autotest/utilities/test_gdalalg_dataset_identify.py
  autotest/utilities/test_gdalalg_dataset_rename.py
  autotest/utilities/test_gdalalg_vsi_copy.py
  autotest/utilities/test_gdalalg_vsi_move.py
  doc/source/conf.py
  doc/source/programs/gdal_dataset.rst
  doc/source/programs/gdal_dataset_copy.rst
  doc/source/programs/gdal_dataset_delete.rst
  doc/source/programs/gdal_dataset_identify.rst
  doc/source/programs/gdal_dataset_rename.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: enhancement, funded through GSP, gdal_cli

#12375 Make 'gdal raster fill-nodata/sieve/viewshed/proximity/rgb-to-palette' pipeline-able
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_fill_nodata.cpp
  apps/gdalalg_raster_fill_nodata.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  apps/gdalalg_raster_proximity.cpp
  apps/gdalalg_raster_proximity.h
  apps/gdalalg_raster_rgb_to_palette.cpp
  apps/gdalalg_raster_rgb_to_palette.h
  apps/gdalalg_raster_sieve.cpp
  apps/gdalalg_raster_sieve.h
  apps/gdalalg_raster_viewshed.cpp
  apps/gdalalg_raster_viewshed.h
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_pipeline.h
  autotest/utilities/test_gdalalg_raster_fill_nodata.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_raster_proximity.py
  autotest/utilities/test_gdalalg_raster_rgb_to_palette.py
  autotest/utilities/test_gdalalg_raster_sieve.py
  autotest/utilities/test_gdalalg_raster_viewshed.py
  doc/source/programs/gdal_cli_include/gdalg_raster_compatible_non_natively_streamable.rst
  doc/source/programs/gdal_raster_fill_nodata.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_proximity.rst
  doc/source/programs/gdal_raster_rgb_to_palette.rst
  doc/source/programs/gdal_raster_sieve.rst
  doc/source/programs/gdal_raster_viewshed.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/cpl_known_config_options.h
Labels: enhancement, funded through GSP, gdal_cli

#12223 Add STACIT driver examples
  doc/source/drivers/raster/examples/drivers/raster/stacit.py
  doc/source/drivers/raster/stacit.rst
Labels: documentation, funded through GSP

#12368 WMS: add a mini-driver for International Image Interoperability Framework (IIIF) Image API 3.0
  autotest/gdrivers/wms.py
  doc/source/drivers/raster/wms.rst
  frmts/wms/CMakeLists.txt
  frmts/wms/frmt_wms_iiif.xml
  frmts/wms/minidriver_iiifimage.cpp
  frmts/wms/minidriver_iiifimage.h
  frmts/wms/wmsdriver.cpp
  frmts/wms/wmsdrivercore.cpp
Labels: enhancement

#12378 Add 'gdal raster update'
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_reproject.h
  apps/gdalalg_raster_update.cpp
  apps/gdalalg_raster_update.h
  autotest/utilities/test_gdalalg_raster_reproject.py
  autotest/utilities/test_gdalalg_raster_update.py
  doc/source/conf.py
  doc/source/programs/gdal_options/warp_resampling.rst
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_reproject.rst
  doc/source/programs/gdal_raster_update.rst
  doc/source/programs/index.rst
  doc/source/programs/migration_guide_to_gdal_cli.rst
  gcore/gdalalgorithm.h
  gcore/overview.cpp
Labels: funded through GSP, gdal_cli

#12380 Add 'gdal vector layer-algebra' (port of ogr_layer_algebra.py)
  apps/CMakeLists.txt
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_edit.cpp
  apps/gdalalg_vector_geom_set_type.cpp
  apps/gdalalg_vector_layer_algebra.cpp
  apps/gdalalg_vector_layer_algebra.h
  autotest/utilities/test_gdalalg_vector_edit.py
  autotest/utilities/test_gdalalg_vector_geom_set_type.py
  autotest/utilities/test_gdalalg_vector_layer_algebra.py
  doc/source/conf.py
  doc/source/programs/gdal_vector.rst
  doc/source/programs/gdal_vector_layer_algebra.rst
  doc/source/programs/index.rst
  gcore/gdal_priv.h
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  gcore/gdaldataset.cpp
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12395 CI: doc_checks.yml: build PDF
  .github/workflows/doc_checks.yml
Labels: documentation, funded through GSP

#12403 Doc: Clarify VRT handling of NoData
  doc/source/drivers/raster/vrt.rst
Labels: documentation, backport release/3.11

#12402 gdalbuildvrt: add -write_absolute_path and gdal raster mosaic/stack: add a --absolute-path option
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_index.cpp
  apps/gdalalg_raster_mosaic.cpp
  apps/gdalalg_raster_mosaic.h
  apps/gdalalg_raster_stack.cpp
  apps/gdalalg_raster_stack.h
  apps/gdalbuildvrt_lib.cpp
  autotest/utilities/test_gdalalg_raster_mosaic.py
  autotest/utilities/test_gdalalg_raster_stack.py
  autotest/utilities/test_gdalbuildvrt_lib.py
  doc/source/programs/gdal_raster_mosaic.rst
  doc/source/programs/gdal_raster_stack.rst
  doc/source/programs/gdalbuildvrt.rst
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtdriver.cpp
  frmts/vrt/vrtprocesseddataset.cpp
  frmts/vrt/vrtsources.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  swig/include/python/gdal_python.i
Labels: funded through GSP

#12370 Add gdal vector geom simplify-coverage
  apps/CMakeLists.txt
  apps/gdalalg_vector_geom.cpp
  apps/gdalalg_vector_geom_simplify_coverage.cpp
  apps/gdalalg_vector_geom_simplify_coverage.h
  apps/gdalalg_vector_pipeline.h
  autotest/utilities/test_gdalalg_vector_geom_simplify_coverage.py
  doc/images/programs/gdal_vector_geom_simplify_coverage.svg
  doc/source/programs/gdal_vector_geom.rst
  doc/source/programs/gdal_vector_geom_simplify.rst
  doc/source/programs/gdal_vector_geom_simplify_coverage.rst
  doc/source/programs/index.rst
  frmts/mem/memdataset.cpp
  frmts/mem/memdataset.h
  frmts/mem/ogrmemlayer.cpp
Labels: gdal_cli

#12302 multidim: add GDALExtendedDataType::GetRAT() and GDALGroup::GetDataTypes()
  apps/data/gdalmdiminfo_output.schema.json
  apps/gdalmdiminfo_lib.cpp
  autotest/gdrivers/data/netcdf/enumeration.nc
  autotest/gdrivers/netcdf_multidim.py
  frmts/netcdf/netcdfmultidim.cpp
  gcore/gdal.h
  gcore/gdal_priv.h
  gcore/gdalmultidim.cpp
  swig/include/MultiDimensional.i
  swig/include/python/gdal_python.i
Labels: enhancement

#12397 gdalenhance: various code hardening
  apps/gdalenhance.cpp
Labels: funded through GSP

#12396 [cleanup] PDF driver: use Page::getPageObj() getter for Poppler >= 25.03.00
  frmts/pdf/pdfdataset.cpp
  frmts/pdf/pdfobject.cpp
  frmts/pdf/pdfobject.h
  frmts/pdf/pdfsdk_headers_poppler.h
Labels: funded through GSP

#12414 Doc: Formatting fixes for pixel function table
  doc/source/drivers/raster/vrt.rst
Labels: documentation

#12409 gdal raster calc: check that formula is correct in RunStep() even when writing to VRT, GDALG or stream
  apps/gdalalg_raster_calc.cpp
  apps/gdalalg_raster_calc.h
  autotest/utilities/test_gdalalg_raster_calc.py
Labels: funded through GSP

#12428 Doc: Add pictures to gdal vector layer-algebra doc
  doc/images/programs/gdal_vector_layer_algebra_clip.svg
  doc/images/programs/gdal_vector_layer_algebra_erase.svg
  doc/images/programs/gdal_vector_layer_algebra_identity.svg
  doc/images/programs/gdal_vector_layer_algebra_intersection.svg
  doc/images/programs/gdal_vector_layer_algebra_sym_difference.svg
  doc/images/programs/gdal_vector_layer_algebra_union.svg
  doc/images/programs/gdal_vector_layer_algebra_update.svg
  doc/source/programs/gdal_vector_layer_algebra.rst
Labels: documentation

#12387 Add bash completion for input layer name, and ...
  apps/gdal.cpp
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector_info.cpp
  apps/gdalalg_vector_pipeline.cpp
  autotest/utilities/test_gdal.py
  doc/source/programs/gdal_syntax.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: gdal_cli

#12394 [cleanup] GDALAlgorithm: add AddAppendLayerArg() and AddOverwriteLayerArg()
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_footprint.h
  apps/gdalalg_raster_polygonize.cpp
  apps/gdalalg_vector_convert.cpp
  apps/gdalalg_vector_layer_algebra.cpp
  apps/gdalalg_vector_output_abstract.cpp
  apps/gdalalg_vector_pipeline.cpp
  autotest/cpp/test_gdal_algorithm.cpp
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
Labels: funded through GSP, gdal_cli

#12406 VRTDerivedRaster: optimizations, in particular for sum(), and make 'gdal raster calc' use sum() when possible
  apps/gdalalg_raster_calc.cpp
  autotest/cpp/test_gdal.cpp
  autotest/gdrivers/vrtderived.py
  autotest/utilities/test_gdalalg_raster_calc.py
  frmts/vrt/CMakeLists.txt
  frmts/vrt/pixelfunctions.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtderivedrasterband.cpp
  gcore/gdal_misc.cpp
  gcore/gdalsse_priv.h
Labels: enhancement, funded through GSP, gdal_cli

#12412 gdal CLI: fix handling of --format
  apps/gdal.cpp
  autotest/utilities/test_gdal.py
Labels: funded through GSP, gdal_cli, backport release/3.11

#12421 Enhance temporary file management when warping to COG on /vsis3/
  apps/gdalwarp_lib.cpp
  port/cpl_vsil_s3.cpp
Labels: backport release/3.11

#12427 VRTDataset::CheckCompatibleForDatasetIO(): work better with anonymous datasets
  autotest/gcore/vrt_read.py
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtsources.cpp
Labels: enhancement, funded through GSP

#12440 gdal raster hillshade/color-map: write directly to output file if possible
  apps/gdalalg_raster_color_map.cpp
  apps/gdalalg_raster_color_map.h
  apps/gdalalg_raster_hillshade.cpp
  apps/gdalalg_raster_hillshade.h
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdalalg_raster_hillshade.py
  autotest/utilities/test_gdaldem.py
  autotest/utilities/test_gdaldem_lib.py
Labels: enhancement, gdal_cli

#12424 Add 'gdal raster color-merge' (port of hsv_merge.py sample script)
  apps/CMakeLists.txt
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_color_merge.cpp
  apps/gdalalg_raster_color_merge.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  autotest/utilities/test_gdalalg_raster_color_merge.py
  doc/images/programs/gdal_raster_color_merge/hillshade.jpg
  doc/images/programs/gdal_raster_color_merge/hypsometric.jpg
  doc/images/programs/gdal_raster_color_merge/hypsometric_combined_with_hillshade.jpg
  doc/source/conf.py
  doc/source/programs/gdal_raster.rst
  doc/source/programs/gdal_raster_color_merge.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalsse_priv.h
Labels: enhancement, funded through GSP, gdal_cli

#12447 gdal raster/vector pipeline: make --help act on the last pipeline step
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector_pipeline.cpp
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
Labels: funded through GSP, gdal_cli, backport release/3.11

#12441 hillshade: implement SSE2 optimization on Float32 input data type
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdaldem_lib.py
  gcore/gdalsse_priv.h
Labels: enhancement

#12438 GDALCreateHomographyTransformer(): emit CPLError()s when failures happen
  alg/gdal_homography.cpp
  autotest/alg/gcps2homography.py
  autotest/alg/homography.py
Labels: funded through GSP, backport release/3.11

#12436 VSICurlHandle::AdviseRead() (GTIFF multithreading /vsicurl/ reading): implement retry strategy
  autotest/gcore/tiff_read.py
  port/cpl_vsil_curl.cpp
  port/cpl_vsil_curl_class.h
Labels: backport release/3.11

#12455 Add missed conda repo.
  doc/source/development/building_from_source.rst
Labels: documentation

#12454 gdaldem/gdal raster hillshade/slope/aspect/roughness/tpi/tri streaming: expose overviews if source has overviews
  apps/gdal_translate_lib.cpp
  apps/gdaldem_lib.cpp
  autotest/utilities/test_gdalalg_raster_aspect.py
  autotest/utilities/test_gdalalg_raster_hillshade.py
  autotest/utilities/test_gdalalg_raster_roughness.py
  autotest/utilities/test_gdalalg_raster_slope.py
  frmts/mem/memdataset.cpp
  frmts/mem/memdataset.h
  gcore/gdal_misc.cpp
  gcore/gdal_priv.h
  gcore/gdaloverviewdataset.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12449 gdal raster edit: add a --gcp option
  apps/gdalalg_raster_edit.cpp
  apps/gdalalg_raster_edit.h
  autotest/utilities/test_gdalalg_raster_edit.py
  doc/source/programs/gdal_raster_edit.rst
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP, gdal_cli

#12470 VRT reclassify: Avoid crash with empty mapping
  autotest/utilities/test_gdalalg_raster_reclassify.py
  frmts/vrt/vrtreclassifier.cpp
Labels: bug, backport release/3.11

#12489 gdalwarp: avoid double->int overflows when computing target dataset size
  apps/gdalwarp_lib.cpp
  autotest/utilities/test_gdalwarp_lib.py
Labels: funded through GSP, backport release/3.11

#12495 Doc: Add images and generating code for gdal raster reclassify, gdal vector simplify
  doc/data/circle.geojson
  doc/data/squares.geojson
  doc/data/wells.geojson
  doc/generate_images.py
  doc/images/programs/gdal_raster_reclassify.svg
  doc/images/programs/gdal_vector_simplify.svg
  doc/source/programs/gdal_raster_reclassify.rst
  doc/source/programs/gdal_vector_simplify.rst
Labels: documentation, backport release/3.11

#12493 CI 20.04: update to GEOS main
  .github/workflows/ubuntu_20.04/Dockerfile.ci
Labels: Continuous integration

#12496 Doc: Add image for gdal raster footprint
  doc/data/fortune.tif
  doc/generate_images.py
  doc/images/programs/gdal_raster_footprint.png
  doc/source/programs/gdal_raster_footprint.rst
Labels: documentation, backport release/3.11
