Repository OSGeo/gdal, pull requests merged in 2025-02, with the labels that each got.

#11783 MiraMonVector: Fix issue 393742177 oss-fuzz
  ogr/ogrsf_frmts/miramon/mm_wrlayr.c
Labels: backport release/3.10

#11762 MVT: allow generating tilesets with more than 1 tile at zoom level 0
  autotest/ogr/ogr_mvt.py
  doc/source/drivers/vector/mvt.rst
  ogr/ogrsf_frmts/mvt/ogrmvtdataset.cpp
Labels: backport release/3.10

#11789 Docs: Update ESRI WMS links
  doc/source/drivers/raster/wms.rst
  frmts/wms/frmt_ags_arcgisonline.xml
  frmts/wms/minidriver_arcgis_server.h
Labels: backport release/3.10

#11792 CI: update to actions/cache@v4.2.0
  .github/workflows/android_cmake.yml
  .github/workflows/cmake_builds.yml
  .github/workflows/conda.yml
  .github/workflows/linux_build.yml
  .github/workflows/slow_tests.yml
Labels: backport release/3.10

#11799 SWIG: Avoid losing error message
  swig/python/modify_cpp_files.cmake
Labels: backport release/3.10

#11802 download.rst: add instructions to install via pixi (fixes #11551)
  doc/source/download.rst
  doc/source/spelling_wordlist.txt
Labels: backport release/3.10

#11805 Build: fix build against Poppler 25.02.00
  autotest/gdrivers/pdf.py
  frmts/pdf/pdfdataset.cpp
  frmts/pdf/pdfio.cpp
  frmts/pdf/pdfio.h
  frmts/pdf/pdfobject.cpp
  frmts/pdf/pdfobject.h
  frmts/pdf/pdfsdk_headers_poppler.h
Labels: backport release/3.10, funded through GSP

#11821 Doc: specify what happens for Z/M for AddPoint() / AddPoint_2D()
  ogr/ogr_api.cpp
  swig/include/python/docs/ogr_geometry_docs.i
Labels: funded through GSP

#11796 LIBKML: fix error when creating a Id field of type integer
  autotest/ogr/ogr_libkml.py
  ogr/ogrsf_frmts/libkml/ogr_libkml.h
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmllayer.cpp
Labels: backport release/3.10, funded through GSP

#11819 Make all Transform methods of OGRCoordinateTransformation and GDALTransformerFunc return FALSE as soon as one point fails to transform
  MIGRATION_GUIDE.TXT
  alg/gdal_alg.h
  alg/gdal_crs.cpp
  alg/gdal_rpc.cpp
  alg/gdal_tps.cpp
  alg/gdalgeoloc.cpp
  alg/gdaltransformer.cpp
  alg/gdalwarpoperation.cpp
  apps/gdalwarp_lib.cpp
  autotest/gcore/geoloc.py
  doc/source/spelling_wordlist.txt
  ogr/ogr_spatialref.h
  ogr/ogrct.cpp
Labels: funded through GSP

#11827 Add 'gdal vector sql', as standalone or part of 'gdal vector pipeline'
  apps/CMakeLists.txt
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_sql.cpp
  apps/gdalalg_vector_sql.h
  autotest/utilities/test_gdalalg_vector_sql.py
  doc/source/conf.py
  doc/source/programs/gdal_vector.rst
  doc/source/programs/gdal_vector_pipeline.rst
  doc/source/programs/gdal_vector_sql.rst
  doc/source/programs/index.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  ogr/ogrsf_frmts/generic/ogrlayerpool.cpp
  ogr/ogrsf_frmts/generic/ogrlayerpool.h
Labels: funded through GSP, gdal_cli

#11822 Python bindings: add syntaxic sugar to get/set algorithm arguments + doc
  autotest/utilities/test_gdalalg_info.py
  autotest/utilities/test_gdalalg_pipeline.py
  autotest/utilities/test_gdalalg_raster_convert.py
  autotest/utilities/test_gdalalg_raster_edit.py
  autotest/utilities/test_gdalalg_raster_info.py
  autotest/utilities/test_gdalalg_raster_mosaic.py
  autotest/utilities/test_gdalalg_raster_overview.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_clip.py
  autotest/utilities/test_gdalalg_vector_convert.py
  autotest/utilities/test_gdalalg_vector_filter.py
  autotest/utilities/test_gdalalg_vector_info.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  doc/source/programs/gdal_cli_from_python.rst
  doc/source/programs/index.rst
  swig/include/python/gdal_python.i
Labels: funded through GSP, gdal_cli

#11830 [gdal_rasterize] Also accept doubles for -ts
  apps/gdal_rasterize_lib.cpp
  autotest/utilities/test_gdal_rasterize.py
Labels: bug, backport release/3.10, funded through GSP

#11843 [mysql] Remove deprecated reconnect option for mysql >= 80034
  ogr/ogrsf_frmts/mysql/ogrmysqldatasource.cpp
Labels: funded through GSP

#11814 Add RFC107 text: Add OGRLayer::IGetExtent() and OGRLayer::ISetSpatialFilter()
  doc/source/development/rfc/index.rst
  doc/source/development/rfc/rfc107_igetextent_isetspatialfilter.rst
Labels: funded through GSP

#11840 CI: no longer use Ubuntu 20.04 github images that will be sunsetted April 1st
  .github/workflows/cmake_builds.yml
  .github/workflows/code_checks.yml
  autotest/gdrivers/pdf.py
  scripts/check_doc.py
Labels: funded through GSP

#11801 NEWS.md: preliminary 3.11 notes [ci skip]
  NEWS.md
Labels: funded through GSP

#11846 Update ogrct.cpp to remove shared shared proj context (m_psLastContex…
  ogr/ogrct.cpp
Labels: backport release/3.10

#11859 CPLTurnFailureIntoWarning backuper
  alg/gdaltransformer.cpp
  doc/Makefile
  frmts/gtiff/gtiffdataset_read.cpp
  frmts/safe/safedataset.cpp
  gcore/gdal_misc.cpp
  ogr/ogrsf_frmts/adbc/ogradbcdataset.cpp
  port/cpl_error.h
Labels: enhancement, funded through GSP

#11841 gdal vector: make 'read', 'clip' and 'reproject' compatible of OSM-type of datasources that require ODsCRandomLayerRead
  apps/gdalalg_vector_clip.cpp
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_pipeline.h
  apps/gdalalg_vector_read.cpp
  apps/gdalalg_vector_reproject.cpp
  apps/gdalalg_vector_select.cpp
  apps/gdalalg_vector_write.cpp
  autotest/utilities/test_gdalalg_vector_clip.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  autotest/utilities/test_gdalalg_vector_reproject.py
  ogr/ogrsf_frmts/generic/CMakeLists.txt
  ogr/ogrsf_frmts/generic/ogrlayerdecorator.h
  ogr/ogrsf_frmts/generic/ogrlayerwithtranslatefeature.cpp
  ogr/ogrsf_frmts/generic/ogrlayerwithtranslatefeature.h
  ogr/ogrsf_frmts/generic/ogrmutexeddatasource.cpp
  ogr/ogrsf_frmts/generic/ogrwarpedlayer.cpp
  ogr/ogrsf_frmts/generic/ogrwarpedlayer.h
Labels: funded through GSP, gdal_cli

#11864 Zarr: declare GDAL_DMD_EXTENSION=zarr
  frmts/zarr/zarrdrivercore.cpp
Labels: funded through GSP

#11863 CSV: emit error when unbalanced double quotes are detected
  autotest/ogr/data/csv/unbalanced_double_quotes.csv
  autotest/ogr/ogr_csv.py
  port/cpl_csv.cpp
Labels: funded through GSP

#11872 third_party/libertiff: tileCoordinateToIdx(): avoid potential harmless unsigned-int-overflow (ossfuzz#397740496)
  third_party/libertiff/libertiff.hpp
Labels: funded through GSP
