Repository OSGeo/gdal, pull requests merged in 2025-10, with the labels that each got.

#13162 Doc: fix NUM_CPUS typo
  doc/source/drivers/raster/gtiff.rst
  doc/source/drivers/raster/jp2openjpeg.rst
Labels: backport release/3.11

#13161 Zarr: recognize STAC proj:epsg and proj:wkt2 attributes to expose the CRS from EOPF Sentinel Zarr Samples Service datasets
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/.zgroup
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/.zmetadata
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/X/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/X/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/X/0
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/Y/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/Y/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/Y/0
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/test/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/test/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_epsg.zarr/test/0.0
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/.zgroup
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/.zmetadata
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/X/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/X/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/X/0
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/Y/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/Y/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/Y/0
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/test/.zarray
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/test/.zattrs
  autotest/gdrivers/data/zarr/zarr_with_stac_proj_wkt2.zarr/test/0.0
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr_array.cpp
Labels: enhancement, funded through GSP

#13171 docker: fix CI generation of images
  docker/util.sh
Labels: funded through GSP

#13165 gdal raster neighbor: create as many output bands as input bands by default
  apps/gdalalg_raster_neighbors.cpp
  autotest/utilities/test_gdalalg_raster_neighbors.py
  doc/source/programs/gdal_raster_neighbors.rst
Labels: funded through GSP, gdal_cli
