Repository OSGeo/gdal, pull requests merged in 2025-08, with the labels that each got.

#12842 Fix CMake compilation with -Wp,-D_FORTIFY_SOURCE=2 flags
  autotest/cpp/CMakeLists.txt
Labels: backport release/3.11

#12843 NetCDF Documentation Broken Link for CF conventions
  doc/source/drivers/raster/netcdf.rst
Labels: backport release/3.11

#12837 MongoDB: compatibility with >=mongo-cpp-driver-4
  .github/workflows/ubuntu_24.04/Dockerfile.ci
  ogr/ogrsf_frmts/mongodbv3/mongocxxv3_headers.h
  ogr/ogrsf_frmts/mongodbv3/ogrmongodbv3driver.cpp
Labels: backport release/3.11

#12847 Add (suppression of) copy constructor in classes with dynamically memory allocated members (cppcheck master)
  frmts/ers/CMakeLists.txt
  frmts/ers/ersdataset.cpp
  frmts/ers/ershdrnode.cpp
  frmts/ers/ershdrnode.h
  frmts/georaster/cpl_vsil_ocilob.cpp
  frmts/georaster/georaster_priv.h
  frmts/hfa/hfa_p.h
  frmts/iso8211/iso8211.h
  frmts/msg/prologue.h
  ogr/ogrsf_frmts/cad/libopencad/cadfile.h
  ogr/ogrsf_frmts/dwg/ogr_dwg.h
  ogr/ogrsf_frmts/ili/ili1readerp.h
  ogr/ogrsf_frmts/ili/ili2readerp.h
  ogr/ogrsf_frmts/mssqlspatial/ogr_mssqlspatial.h
  ogr/ogrsf_frmts/mssqlspatial/ogrmssqlgeometryvalidator.cpp
  ogr/ogrsf_frmts/vfk/vfkreader.h
  port/cpl_vsi_virtual.h
Labels: funded through GSP

#12848 Set the varchar2 type length to be "CHAR" instead of the default "BYTE"
  ogr/ogrsf_frmts/oci/ogrociwritablelayer.cpp
Labels: backport release/3.11

#12780 gdal CLI: display explicit error message when doing things like 'gdal…
  .github/workflows/code_checks.yml
  apps/ogr2ogr_lib.cpp
  autotest/gdrivers/gdalg.py
  autotest/utilities/test_gdalalg_raster_clean_collar.py
  autotest/utilities/test_gdalalg_raster_convert.py
  autotest/utilities/test_gdalalg_raster_create.py
  autotest/utilities/test_gdalalg_raster_footprint.py
  autotest/utilities/test_gdalalg_raster_index.py
  autotest/utilities/test_gdalalg_raster_mosaic.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_raster_polygonize.py
  autotest/utilities/test_gdalalg_raster_viewshed.py
  autotest/utilities/test_gdalalg_vector_clip.py
  autotest/utilities/test_gdalalg_vector_convert.py
  autotest/utilities/test_gdalalg_vector_grid.py
  autotest/utilities/test_gdalalg_vector_layer_algebra.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  autotest/utilities/test_gdalalg_vector_rasterize.py
  autotest/utilities/test_gdalalg_vector_sql.py
  frmts/null/nulldataset.cpp
  frmts/postgisraster/postgisrasterdrivercore.cpp
  gcore/gdal_known_connection_prefixes.h
  gcore/gdalalgorithm.cpp
  gcore/gdaldriver.cpp
  scripts/collect_driver_connection_prefix.py
Labels: enhancement, funded through GSP, gdal_cli

#12831 Doc: add missing drivers in vector driver table
  doc/source/_extensions/driverproperties.py
  doc/source/drivers/vector/adbc.rst
Labels: documentation, funded through GSP, backport release/3.11

#12860 Doc: Document Python Dataset GetExtent methods
  doc/source/spelling_wordlist.txt
  swig/include/python/docs/gdal_dataset_docs.i
Labels: python bindings, documentation

#12862 RAT: Avoid invalid memory access in ValuesIO
  autotest/gcore/rat.py
  gcore/gdal_rat.cpp
  swig/include/gdal_array.i
Labels: backport release/3.11

#12863 Doc: Add Python API docs for RasterAttributeTable
  gcore/gdal_rat.cpp
  swig/include/python/docs/gdal_rat_docs.i
  swig/include/python/gdal_python.i
  swig/python/CMakeLists.txt
Labels: python bindings, documentation

#12867 autotest: allow to run test suite without lxml to avoid crashes on mingw64
  .github/workflows/cmake_builds.yml
  autotest/alg/warp.py
  autotest/gcore/test_driver_metadata.py
  autotest/gcore/transformer.py
  autotest/gcore/vsifile.py
  autotest/pymod/xmlvalidate.py
Labels: Continuous integration, test suite, funded through GSP

#12866 Warp: use UInt16 nearest neighbor warping
  alg/gdalwarpkernel.cpp
Labels: backport release/3.11

#12873 Doc: better outline pipeline functionality
  apps/gdalalg_pipeline.cpp
  apps/gdalalg_raster_pipeline.h
  apps/gdalalg_vector_pipeline.h
  doc/source/conf.py
  doc/source/programs/gdal_pipeline.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_vector_pipeline.rst
  doc/source/programs/index.rst
Labels: documentation

#12870 netCDF: take into account valid_range in x/y indexing variables, only…
  autotest/gdrivers/data/netcdf/bad_x_y_actual_range.nc
  autotest/gdrivers/netcdf.py
  frmts/netcdf/netcdfdataset.cpp
Labels: funded through GSP

#12857 [Backport 3.11] gdal vector concat: allow to concat more than 1000 files
  apps/gdalalg_vector_concat.cpp
  apps/gdalalg_vector_concat.h
  apps/gdalalg_vector_pipeline.cpp
  autotest/utilities/test_gdalalg_vector_concat.py
  port/cpl_known_config_options.h
Labels: funded through GSP, gdal_cli

#12853 C and SWIG API: add GDALAlgorithmArgGetDefaultAs[Boolean|Integer|Double|String|IntegerList|DoubleList|StringList]
  autotest/cpp/test_gdal_algorithm.cpp
  autotest/gcore/algorithm.py
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  swig/include/Algorithm.i
Labels: funded through GSP

#12829 WFS: emit error when GML driver not available, try to request JSON instead
  autotest/ogr/ogr_wfs.py
  ogr/ogrsf_frmts/wfs/CMakeLists.txt
  ogr/ogrsf_frmts/wfs/ogr_wfs.h
  ogr/ogrsf_frmts/wfs/ogrwfsdatasource.cpp
  ogr/ogrsf_frmts/wfs/ogrwfsjoinlayer.cpp
  ogr/ogrsf_frmts/wfs/ogrwfslayer.cpp
Labels: funded through GSP

#12892 JPEG: fix GetMetadataDomainList()
  autotest/gdrivers/jpeg.py
  frmts/jpeg/jpgdataset.cpp
Labels: funded through GSP

#12731 gdal raster tile: speed-up generation of (max zoom) tiles in PNG format
  apps/CMakeLists.txt
  apps/gdalalg_raster_tile.cpp
  autotest/utilities/data/test_gdal_raster_tile_paeth.jpg
  autotest/utilities/data/test_gdal_raster_tile_paeth.jpg.aux.xml
  autotest/utilities/test_gdalalg_raster_tile.py
  gcore/sse2neon.h
  port/cpl_known_config_options.h
Labels: enhancement, funded through GSP, gdal_cli

#12889 Fix clang -Wthread-safety-analysis related warnings, and enable it in CI builds
  cmake/helpers/GdalCompilationFlags.cmake
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/zarr/zarr_v2_array.cpp
  frmts/zarr/zarr_v3_array.cpp
Labels: funded through GSP

#12902 GTI (STAC GeoParquet): do s3:// -> /vsis3/ substitution
  frmts/gti/gdaltileindexdataset.cpp
  frmts/stacit/stacitdataset.cpp
  frmts/zarr/vsikerchunk.cpp
  port/cpl_vsi.h
  port/cpl_vsil.cpp
Labels: funded through GSP

#12895 gdalbuildvrt: when using -addalpha and and a source that has a per-dataset mask band…
  apps/gdalbuildvrt_lib.cpp
  autotest/utilities/test_gdalbuildvrt_lib.py
Labels: enhancement, funded through GSP

#12884 [Lint] Remove useless CMake configuration checks
  apps/gdaldem_lib.cpp
  cmake/helpers/configure.cmake
  cmake/template/cpl_config.h.in
  frmts/aaigrid/aaigriddataset.cpp
  frmts/aaigrid/aaigriddataset.h
  frmts/grib/gribdataset.cpp
  frmts/grib/gribdataset.h
  frmts/gtiff/libtiff/tif_config.h
  frmts/gtiff/tifvsi.cpp
  frmts/hfa/hfaband.cpp
  frmts/hfa/hfadataset.cpp
  frmts/hfa/hfaentry.cpp
  frmts/hfa/hfafield.cpp
  frmts/hfa/hfaopen.cpp
  frmts/iso8211/ddfmodule.cpp
  frmts/iso8211/ddfrecord.cpp
  frmts/jpeg/jpgdataset.cpp
  frmts/jpeg/jpgdataset.h
  frmts/nitf/nitfdataset.cpp
  frmts/nitf/nitfrasterband.cpp
  frmts/nitf/rpftocfile.cpp
  frmts/raw/ehdrdataset.cpp
  frmts/raw/ehdrdataset.h
  frmts/raw/envidataset.cpp
  frmts/raw/envidataset.h
  frmts/sentinel2/sentinel2dataset.cpp
  frmts/vrt/vrtdataset.cpp
  gcore/gdalexif.cpp
  gcore/gdaljp2box.cpp
  gcore/gdaljp2metadata.cpp
  gcore/gdaljp2structure.cpp
  gcore/gdalopeninfo.cpp
  gcore/gdalpamproxydb.cpp
  gcore/rawdataset.cpp
  ogr/mitab_bounds.cpp
  ogr/ogrsf_frmts/csv/ogrcsvlayer.cpp
  ogr/ogrsf_frmts/mitab/mitab_datfile.cpp
  ogr/ogrsf_frmts/mitab/mitab_mapfile.cpp
  ogr/ogrsf_frmts/mitab/mitab_rawbinblock.cpp
  port/cpl_csv.cpp
  port/cpl_minizip_ioapi.cpp
  port/cpl_minizip_zip.cpp
  port/cpl_port.h
  port/cpl_vsi_mem.cpp
  port/cpl_vsil.cpp
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_vsil_buffered_reader.cpp
  port/cpl_vsil_cache.cpp
  port/cpl_vsil_gzip.cpp
  port/cpl_vsil_sparsefile.cpp
  port/cpl_vsil_stdin.cpp
  port/cpl_vsil_stdout.cpp
  port/cpl_vsil_subfile.cpp
  port/cpl_vsil_tar.cpp
  port/cpl_vsil_unix_stdio_64.cpp
  port/cpl_vsisimple.cpp
  port/cplgetcurrentthreadcount.cpp
Labels: funded through GSP

#12907 gdal CLI: when outputing to /vsistdout/, automatically turn on --quiet
  autotest/utilities/test_gdalalg_vector_convert.py
  gcore/gdalalgorithm.cpp
Labels: enhancement, funded through GSP, gdal_cli

#12948 JPEGXL related fixes
  autotest/gcore/tiff_write.py
  autotest/gdrivers/jpegxl.py
  doc/source/drivers/raster/cog.rst
  doc/source/drivers/raster/gtiff.rst
  frmts/gtiff/gtiffdataset_write.cpp
  frmts/vrt/vrtdataset.cpp
Labels: funded through GSP, backport release/3.11

#12947 HDF5: fix path issues when reading GEOLOCATION from .aux.xml
  autotest/gdrivers/data/hdf5/dummy_HDFEOS_swath_with_aux_xml_with_geolocation.h5
  autotest/gdrivers/data/hdf5/dummy_HDFEOS_swath_with_aux_xml_with_geolocation.h5.aux.xml
  autotest/gdrivers/hdf5.py
  frmts/hdf5/hdf5imagedataset.cpp
Labels: funded through GSP, backport release/3.11

#12930 gdal pipeline: allow to run an existing pipeline and override/add parameters
  apps/data/gdal_algorithm.schema.json
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_pipeline.cpp
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_footprint.cpp
  apps/gdalalg_raster_info.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_raster_reproject.cpp
  apps/gdalalg_raster_tile.cpp
  apps/gdalalg_raster_tile.h
  apps/gdalalg_raster_viewshed.cpp
  apps/gdalalg_raster_write.h
  apps/gdalalg_vector_concat.cpp
  apps/gdalalg_vector_convert.cpp
  apps/gdalalg_vector_info.h
  apps/gdalalg_vector_layer_algebra.cpp
  apps/gdalalg_vector_pipeline.cpp
  apps/gdalalg_vector_sql.cpp
  apps/gdalalg_vector_write.h
  autotest/utilities/test_gdalalg_pipeline.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_raster_tile.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  doc/source/programs/gdal_pipeline.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_raster_tile.rst
  doc/source/programs/gdal_vector_pipeline.rst
  gcore/gdalalgorithm.cpp
  gcore/gdalalgorithm.h
  port/cpl_spawn.cpp
  swig/include/Algorithm.i
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP, gdal_cli

#12929 gdal pipeline: fix completion (master only)
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_pipeline.cpp
  autotest/utilities/test_gdal.py
Labels: funded through GSP, gdal_cli

#12912 Introduce a DCAP_APPEND capability
  gcore/gdal.h
  ogr/ogrsf_frmts/geojson/ogrgeojsonseqdriver.cpp
  swig/include/gdalconst.i
Labels: funded through GSP

#12911 Add path traversal detection in drivers
  autotest/cpp/test_cpl.cpp
  autotest/gdrivers/netcdf.py
  autotest/ogr/ogr_csv.py
  autotest/ogr/ogr_libkml.py
  autotest/ogr/ogr_mitab.py
  autotest/ogr/ogr_shape.py
  doc/source/user/configoptions.rst
  frmts/adrg/adrgdataset.cpp
  frmts/adrg/srpdataset.cpp
  frmts/dimap/dimapdataset.cpp
  frmts/ers/ersdataset.cpp
  frmts/hdf5/s100.cpp
  frmts/hfa/hfaopen.cpp
  frmts/kmlsuperoverlay/kmlsuperoverlaydataset.cpp
  frmts/map/mapdataset.cpp
  frmts/netcdf/netcdfdataset.cpp
  frmts/nitf/ecrgtocdataset.cpp
  frmts/nitf/rpftocfile.cpp
  frmts/pds/isis2dataset.cpp
  frmts/pds/isis3dataset.cpp
  frmts/pds/pds4dataset.cpp
  frmts/pds/pdsdataset.cpp
  frmts/raw/eirdataset.cpp
  frmts/raw/ndfdataset.cpp
  frmts/raw/pauxdataset.cpp
  frmts/raw/snodasdataset.cpp
  frmts/rcm/rcmdataset.cpp
  frmts/rs2/rs2dataset.cpp
  frmts/safe/safedataset.cpp
  frmts/sentinel2/sentinel2dataset.cpp
  frmts/til/tildataset.cpp
  frmts/tsx/tsxdataset.cpp
  frmts/zarr/vsikerchunk_json_ref.cpp
  frmts/zarr/zarr_group.cpp
  frmts/zarr/zarr_v2_array.cpp
  ogr/ogrsf_frmts/csv/ogrcsvdatasource.cpp
  ogr/ogrsf_frmts/libkml/ogrlibkmldatasource.cpp
  ogr/ogrsf_frmts/mitab/mitab_ogr_datasource.cpp
  ogr/ogrsf_frmts/openfilegdb/filegdbindex.cpp
  ogr/ogrsf_frmts/pds/ogrpdsdatasource.cpp
  ogr/ogrsf_frmts/shape/ogrshapelayer.cpp
  ogr/ogrsf_frmts/vdv/ogrvdvdatasource.cpp
  port/cpl_conv.h
  port/cpl_known_config_options.h
  port/cpl_path.cpp
Labels: funded through GSP

#12909 CPLString / CPLStringList: do not allow implicit cast to void*
  frmts/aaigrid/aaigriddataset.cpp
  frmts/cals/calsdataset.cpp
  frmts/rcm/rcmdataset.cpp
  frmts/vrt/vrtrawrasterband.cpp
  frmts/wms/minidriver_tiled_wms.cpp
  frmts/xyz/xyzdataset.cpp
  ogr/ogrsf_frmts/pg/ogrpgdatasource.cpp
  port/cpl_string.h
Labels: funded through GSP

#12836 SetNextByIndex(invalid_index): return OGRERR_NON_EXISTING_FEATURE and…
  apps/test_ogrsf.cpp
  autotest/ogr/ogr_sql_rfc28.py
  frmts/mem/ogrmemlayer.cpp
  ogr/ogrsf_frmts/generic/ogr_gensql.cpp
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  ogr/ogrsf_frmts/ngw/ogr_ngw.h
  ogr/ogrsf_frmts/ngw/ogrngwlayer.cpp
  ogr/ogrsf_frmts/ogrsf_frmts.dox
  ogr/ogrsf_frmts/openfilegdb/ogropenfilegdblayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
  ogr/ogrsf_frmts/pds/ogrpdslayer.cpp
  ogr/ogrsf_frmts/pg/ogrpglayer.cpp
  ogr/ogrsf_frmts/shape/ogrshapelayer.cpp
  ogr/ogrsf_frmts/sxf/ogr_sxf.h
  ogr/ogrsf_frmts/sxf/ogrsxflayer.cpp
Labels: funded through GSP

#12940 VSIArchiveFilesystemHandler: more unique_ptr<> and std::mutex use
  ogr/ogrsf_frmts/arrow_common/vsiarrowfilesystem.hpp
  port/cpl_minizip_zip.cpp
  port/cpl_vsi_virtual.h
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_vsil_curl_class.h
  port/cpl_vsil_gzip.cpp
  port/cpl_vsil_libarchive.cpp
  port/cpl_vsil_tar.cpp
Labels: funded through GSP

#12968 [doc] gdal_contour fix unreported missing quote
  doc/source/programs/gdal_contour.rst
Labels: documentation, funded through GSP

#12949 gdalinfo: make it display content of archive when opening a /vsirar/ …
  apps/gdalinfo_bin.cpp
  port/cpl_vsi_virtual.h
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_vsil_curl_class.h
  port/cpl_vsil_gzip.cpp
  port/cpl_vsil_libarchive.cpp
  port/cpl_vsil_tar.cpp
  port/cpl_vsil_unix_stdio_64.cpp
  port/cpl_vsil_win32.cpp
Labels: funded through GSP

#12971 Doc: Organize some Python API doc entries
  doc/source/api/python/general.rst
  doc/source/api/python/osgeo.gdal.rst
  doc/source/api/python/raster_api.rst
  doc/source/api/python/utilities.rst
Labels: documentation

#12973 Add option to disable libavif version check.
  cmake/helpers/CheckDependentLibrariesAVIF.cmake
  frmts/avif/avifdataset.cpp
Labels: backport release/3.11

#12983 Fix some clang-tidy misc-include-cleaner warnings for std::
  frmts/hdf5/hdf5imagedataset.cpp
  ogr/ogrsf_frmts/generic/ogrlayer.cpp
  ogr/ogrsf_frmts/gpkg/ogrgeopackagetablelayer.cpp
  port/cpl_vsil_abstract_archive.cpp
  port/cpl_vsil_tar.cpp
Labels: low priority

#12981 HDF5 multidim: fix reading array with non-default stride
  autotest/gdrivers/hdf5multidim.py
  frmts/hdf5/hdf5multidim.cpp
Labels: backport release/3.11

#12987 Doc: Add Python API docs for Algorithm
  swig/include/python/docs/gdal_algorithm_docs.i
  swig/include/python/gdal_python.i
  swig/python/CMakeLists.txt
Labels: python bindings, documentation

#12998 Overview: mode resampling: avoid potential int overflow, and avoid useless filling of panCounts array
  gcore/overview.cpp
Labels: funded through GSP

#12995 rasterio/overview: fix handling of large float values (FLT_MAX/DBL_MAX) for average, RMS, cubic, cubicspline, lanczos
  autotest/gcore/rasterio.py
  gcore/overview.cpp
  perftests/downsample_integer_factor.py
  scripts/cppcheck.sh
Labels: funded through GSP
