Repository OSGeo/gdal, pull requests merged in 2025-07, with the labels that each got.

#12686 Python bindings: Add Band.BlockWindows()
  autotest/gcore/basic_test.py
  doc/source/spelling_wordlist.txt
  swig/include/python/gdal_python.i
Labels: python bindings

#12669 VRTRawRasterBand: add control on enabling the functionality (buildtime & runtime) and which sources are allowed
  .github/workflows/cmake_builds.yml
  MIGRATION_GUIDE.TXT
  autotest/gdrivers/aaigrid.py
  autotest/gdrivers/hfa.py
  autotest/gdrivers/sigdem.py
  autotest/gdrivers/vrtrawlink.py
  doc/source/development/building_from_source.rst
  doc/source/drivers/raster/vrt.rst
  doc/source/user/security.rst
  frmts/vrt/CMakeLists.txt
  frmts/vrt/vrtdataset.cpp
  frmts/vrt/vrtdataset.h
  frmts/vrt/vrtdriver.cpp
  frmts/vrt/vrtrasterband.cpp
  frmts/vrt/vrtrawrasterband.cpp
  frmts/vrt/vrtsourcedrasterband.cpp
  port/cpl_known_config_options.h
Labels: funded through GSP

#12698 Restore GSAG (Golden Software ASCII) driver
  .github/workflows/ubuntu_24.04/expected_gdalinfo_formats.txt
  .github/workflows/windows_conda_expected_gdalinfo_formats.txt
  autotest/gdrivers/data/gsg/gsg_ascii.grd
  autotest/gdrivers/gsg.py
  doc/source/drivers/raster/gsag.rst
  doc/source/drivers/raster/gsbg.rst
  doc/source/drivers/raster/index.rst
  frmts/drivers.ini
  frmts/gdalallregister.cpp
  frmts/gsg/CMakeLists.txt
  frmts/gsg/gsagdataset.cpp
  gcore/gdal_frmts.h
Labels: funded through GSP

#12653 AAIGrid/GRASSASCII/ISG: avoid excessive memory allocation on truncated/corrupted/hostile file
  autotest/gdrivers/aaigrid.py
  frmts/aaigrid/aaigriddataset.cpp
  frmts/aaigrid/aaigriddataset.h
Labels: funded through GSP

#12675 S57: fix nullptr dereference on invalid dataset when GDAL_DATA not set
  ogr/ogrsf_frmts/s57/s57.h
  ogr/ogrsf_frmts/s57/s57reader.cpp
Labels: funded through GSP, backport release/3.11

#12646 Parquet: add support for reading/writing Parquet GEOMETRY data type...
  .github/workflows/ubuntu_24.04/Dockerfile.ci
  .github/workflows/ubuntu_24.04/expected_ogrinfo_formats.txt
  autotest/ogr/data/arrow/geoarrow_crs/README.txt
  autotest/ogr/data/arrow/geoarrow_crs/example-crs_vermont-4326_wkb.arrows
  autotest/ogr/data/arrow/geoarrow_crs/example-crs_vermont-crs84-auth-code_wkb.arrows
  autotest/ogr/data/arrow/geoarrow_crs/example-crs_vermont-crs84-wkt2_wkb.arrows
  autotest/ogr/data/arrow/geoarrow_crs/example-crs_vermont-utm_wkb.arrows
  autotest/ogr/data/parquet/parquet_geometry/README.txt
  autotest/ogr/data/parquet/parquet_geometry/example-crs_vermont-4326.parquet
  autotest/ogr/data/parquet/parquet_geometry/example-crs_vermont-crs84-wkt2.parquet
  autotest/ogr/data/parquet/parquet_geometry/example-crs_vermont-crs84.parquet
  autotest/ogr/data/parquet/parquet_geometry/example-crs_vermont-custom.parquet
  autotest/ogr/data/parquet/parquet_geometry/example-crs_vermont-utm.parquet
  autotest/ogr/data/parquet/parquet_testing_geospatial/README.txt
  autotest/ogr/data/parquet/parquet_testing_geospatial/crs-geography.parquet
  autotest/ogr/data/parquet/parquet_testing_geospatial/crs-projjson.parquet
  autotest/ogr/data/parquet/parquet_testing_geospatial/crs-srid.parquet
  autotest/ogr/ogr_arrow.py
  autotest/ogr/ogr_parquet.py
  doc/source/drivers/vector/parquet.rst
  ogr/ogrsf_frmts/adbc/ogradbcdriver.cpp
  ogr/ogrsf_frmts/arrow/ogrfeatherdriver.cpp
  ogr/ogrsf_frmts/arrow/ogrfeatherlayer.cpp
  ogr/ogrsf_frmts/arrow_common/ogr_arrow.h
  ogr/ogrsf_frmts/arrow_common/ograrrowlayer.hpp
  ogr/ogrsf_frmts/arrow_common/ograrrowwriterlayer.hpp
  ogr/ogrsf_frmts/parquet/ogr_include_parquet.h
  ogr/ogrsf_frmts/parquet/ogr_parquet.h
  ogr/ogrsf_frmts/parquet/ogrparquetdatasetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetdriver.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetlayer.cpp
  ogr/ogrsf_frmts/parquet/ogrparquetwriterlayer.cpp
  port/cpl_known_config_options.h
Labels: enhancement

#12658 OGRParseDate(): do not round second=59.999999 to 60.0 but 59.999
  autotest/cpp/test_ogr.cpp
  ogr/ogrutils.cpp
Labels: funded through GSP, backport release/3.11

#12687 /vsizip/: fix memory leak when opening a SOZip-enabled file
  autotest/gcore/vsizip.py
  frmts/georaster/cpl_vsil_ocilob.cpp
  port/cpl_vsil_gzip.cpp
  port/cpl_vsil_libarchive.cpp
  port/cpl_vsil_sparsefile.cpp
  port/cpl_vsil_unix_stdio_64.cpp
  port/cpl_vsil_win32.cpp
Labels: funded through GSP, backport release/3.11

#12705 OGRCoordinateTransformation: fix when one of the CRS has an EPSG code…
  autotest/osr/osr_ct.py
  ogr/ogrct.cpp
Labels: funded through GSP, backport release/3.11

#12723 Doc: Add image for gdal raster polygonize
  doc/generate_images.py
  doc/images/programs/gdal_raster_polygonize.svg
  doc/source/programs/gdal_raster_polygonize.rst
Labels: documentation

#12733 Doc: Add OSM examples
  doc/source/drivers/vector/osm.rst
Labels: documentation, funded through GSP

#12751 fix typo in clean-collar docs
  doc/source/programs/gdal_raster_clean_collar.rst
Labels: documentation, backport release/3.11

#12688 DXF: add read support for AutoCAD Binary DXF format
  autotest/ogr/data/dxf/BINARY_wipeout.dxf
  autotest/ogr/data/dxf/README.txt
  autotest/ogr/data/dxf/bin_dxf_r12.dxf
  autotest/ogr/data/dxf/bin_dxf_r2000.dxf
  autotest/ogr/ogr_dxf.py
  doc/source/drivers/vector/dxf.rst
  ogr/ogrsf_frmts/dxf/ogr_dxf.h
  ogr/ogrsf_frmts/dxf/ogrdxf_blockmap.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfdatasource.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfdriver.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfreader.cpp
  ogr/ogrsf_frmts/dxf/ogrdxfwriterds.cpp
Labels: enhancement

#12761 Set lower bound of DEM to input raster
  alg/viewshed/viewshed_executor.cpp
  autotest/cpp/test_viewshed.cpp
  autotest/utilities/test_gdalalg_raster_viewshed.py
Labels: backport release/3.11

#12747 PNG: implement read/write support for background color through 'BACKGROUND_COLOR' dataset metadata item
  autotest/gdrivers/png.py
  doc/source/drivers/raster/png.rst
  frmts/png/pngdataset.cpp
Labels: enhancement

#12777 Various CI fixes
  .github/workflows/cmake_builds.yml
  autotest/gcore/tiff_write.py
  autotest/ogr/ogr_parquet.py
  autotest/ogr/ogr_sqlite.py
  docker/ubuntu-full/Dockerfile
  ogr/ogrsf_frmts/sqlite/ogrsqliteregexp.cpp
Labels: funded through GSP

#12773 CMake Java: restore -fno-strict-aliasing
  swig/java/CMakeLists.txt
Labels: backport release/3.11

#12772 CMake: Update installed bash completion symlinks due to previous removals and additions
  scripts/install_bash_completions.cmake.in
Labels: backport release/3.11

#12788 [GML] Expose SKIP_CORRUPTED_FEATURES open option
  autotest/ogr/ogr_gml.py
  doc/source/drivers/vector/gml.rst
  ogr/ogrsf_frmts/gml/ogrgmldriver.cpp
  ogr/ogrsf_frmts/gml/ogrgmllayer.cpp
Labels: funded through GSP

#12789 [GML] Support CityGML3 Shell
  autotest/ogr/ogr_gml.py
  doc/source/drivers/vector/gml.rst
  ogr/gml2ogrgeometry.cpp
  ogr/ogrgeometryfactory.cpp
  ogr/ogrsf_frmts/gml/gmlhandler.cpp
  ogr/ogrsf_frmts/gml/ogrgmldatasource.cpp
  ogr/ogrsf_frmts/gml/ogrgmldriver.cpp
Labels: bug, funded through GSP

#12791 gdalmdiminfo: fix crash on a null string attribute
  apps/gdalmdiminfo_lib.cpp
  autotest/utilities/test_gdalmdiminfo_lib.py
Labels: backport release/3.11

#12801 [Backport release/3.11] Doc: Update gdal raster stack examples
  doc/source/programs/gdal_raster_stack.rst
Labels: documentation

#12692 C/C++/Python band algebra: add gdal.abs(), sqrt(), log(), log10() and pow()
  autotest/cpp/test_gdal.cpp
  autotest/gcore/band_arithmetic.py
  doc/source/user/band_algebra.rst
  gcore/gdal.h
  gcore/gdal_priv.h
  gcore/gdalcomputedrasterband.cpp
  gcore/gdalrasterband.cpp
  swig/include/gdal.i
  swig/include/python/gdal_python.i
Labels: funded through GSP

#12734 CSV: fix opening directory with .csv and .prj files
  autotest/ogr/ogr_csv.py
  ogr/ogrsf_frmts/csv/ogrcsvdatasource.cpp
Labels: funded through GSP, backport release/3.11

#12739 gdalwarp: for TPS warping, use -wo SOURCE_EXTRA=5 by default
  alg/gdalwarpoperation.cpp
  apps/gdalwarp_lib.cpp
Labels: funded through GSP, backport release/3.11

#12740 Bash completion: fix completion of intermediate term
  apps/gdal.cpp
  autotest/utilities/test_gdal.py
  scripts/completionFinder.py
  scripts/gdal-bash-completion.sh
Labels: enhancement, funded through GSP

#12746 gdal_footprint: fail if there is a simplification error and there is a single input feature
  apps/gdal_footprint_lib.cpp
Labels: funded through GSP, backport release/3.11

#12778 GTIFF: fix creating a R,G,B,Nir file without explicit PHOTOMETRIC creation option
  autotest/gcore/tiff_write.py
  frmts/gtiff/gtiffrasterband_write.cpp
Labels: backport release/3.11

#12783 ENVI: warn/error out if samples/lines/bands are greater than INT_MAX
  autotest/gdrivers/envi.py
  autotest/gdrivers/gpkg.py
  doc/source/user/raster_data_model.rst
  frmts/raw/envidataset.cpp
Labels: funded through GSP, backport release/3.11

#12797 Make 'gdal mdim info' return 0 when there is no error
  apps/gdalalg_mdim_info.cpp
  apps/gdalmdiminfo_bin.cpp
  apps/gdalmdiminfo_lib.cpp
  autotest/utilities/test_gdalalg_mdim_info.py
Labels: funded through GSP, gdal_cli, backport release/3.11

#12808 Zarr: make GDALDataset::Close() report errors when write failure occurs
  autotest/gdrivers/zarr_driver.py
  frmts/zarr/zarr.h
  frmts/zarr/zarr_group.cpp
  frmts/zarr/zarr_v2_array.cpp
  frmts/zarr/zarr_v2_group.cpp
  frmts/zarr/zarr_v3_array.cpp
  frmts/zarr/zarr_v3_group.cpp
  frmts/zarr/zarrdriver.cpp
  port/cpl_json.cpp
Labels: funded through GSP

#12814 gdal raster clip: fix bbox check
  apps/gdalalg_raster_clip.cpp
  autotest/gcore/basic_test.py
  autotest/utilities/test_gdalalg_raster_clip.py
  gcore/gdaldataset.cpp
Labels: backport release/3.11

#12799 GTI: fix erroneous removal of contributing source in some cases
  autotest/gdrivers/data/gti/tile-001-000.tif
  autotest/gdrivers/data/gti/tile-001-001.tif
  autotest/gdrivers/data/gti/tile-001.gti.gpkg
  autotest/gdrivers/gti.py
  frmts/gti/gdaltileindexdataset.cpp
Labels: backport release/3.11

#12818 GDALNoDataMaskBand::IRasterIO(): fix corruption when reading from Byte band and nLineSpace > nBufXSize (3.10.0 regression)
  autotest/gcore/nodatamaskband.py
  gcore/gdalnodatamaskband.cpp
Labels: backport release/3.11

#12811 Allow raster/vector info to be used as last step of a pipeline
  apps/gdalalg_abstract_pipeline.h
  apps/gdalalg_dispatcher.h
  apps/gdalalg_pipeline.cpp
  apps/gdalalg_raster.cpp
  apps/gdalalg_raster_convert.cpp
  apps/gdalalg_raster_convert.h
  apps/gdalalg_raster_info.cpp
  apps/gdalalg_raster_info.h
  apps/gdalalg_raster_pipeline.cpp
  apps/gdalalg_vector.cpp
  apps/gdalalg_vector_convert.cpp
  apps/gdalalg_vector_convert.h
  apps/gdalalg_vector_info.cpp
  apps/gdalalg_vector_info.h
  apps/gdalalg_vector_pipeline.cpp
  autotest/gcore/algorithm.py
  autotest/utilities/test_gdalalg_pipeline.py
  autotest/utilities/test_gdalalg_raster_pipeline.py
  autotest/utilities/test_gdalalg_vector_pipeline.py
  doc/source/programs/gdal_pipeline.rst
  doc/source/programs/gdal_raster_pipeline.rst
  doc/source/programs/gdal_vector_pipeline.rst
  gcore/gdalalgorithm.cpp
  swig/include/python/gdal_python.i
Labels: enhancement, funded through GSP, gdal_cli
